[2020-09-10 05:41] carolinan opened #1 "Add starter content"
Starter content makes it easier for users to get started with editing their front page.
It populates menus, widget areas, and can set the front page to be static page. It is also possible to assign featured images.

The starter content front page should reflect the front page of the figma design.
We are able to use markup for blocks inside the content itself and this would be a good opportunity to

[2020-09-10 06:03] carolinan opened #2 "Should the theme have an "about" page in the admin area?"
With so many new features in 5.5 and 5.6 together, -and especially if an FSE version of the theme is created, should the theme have a page in the admin area?

**A help page describing:**
How to use the block patterns
How to use the social links block  _(since this type of menu is currently not part of the theme)_
How to place blocks in widget areas
-Perhaps even some accessibility tips on how to m

[2020-09-10 06:14] carolinan opened #3 "Including developer documentation"
One of the recurring comments about Twenty Twenty is that it is difficult for theme developers to make changes to,
and that it can be difficult to use it as a starter theme.

Can we make it easier for theme developers to work with the theme by creating more detailed documentation
about any custom functionality (filters, classes, functions etc)?
-More than the inline code comments and the _contribu

[2020-09-10 11:04] carolinan opened #4 "Idea: Using block markup and block CSS classes outside the content"
This idea is based on 3 things:

1) By using block markup for sections outside the content, the theme can take advantage of CSS that is already in WP core.
For example, a header and footer with two or 3 columns can be built using markup and CSS that matches a columns block.
It reduces the CSS that needs to be in the theme.

2) It helps prepare the theme for when global styles is available.
By usin

[2020-09-12 12:43] pattonwebz opened #5 "When does development and work start here?"
There is no files in the repo yet and no links to designs or plans but the development cycle for 5.6 kicked off 3 weeks ago. The one biggest thing I learned last year was the the more time we have with the community to work on things the better.

We need to have something workable here soon to share with everyone to get their feedback and their help.

Is anyone opposed to me putting the base files

[2020-09-14 21:33] luminuu opened #6 "Repo organisation: add CONTRIBUTING.md file"
Merge the files of Twenty Nineteen and Twenty Twenty for this repository.

[2020-09-14 21:34] luminuu opened #7 "Repo organisation: Update readme files"
Update the README.md for the repository and readme.txt for Twenty Twenty One.

[2020-09-15 05:00] carolinan opened #8 "Discussion: Methods for including IE specific CSS"
Currently, two separate style sheets are created for Internet Explorer by running the final style sheets through postcss:
https://github.com/WordPress/twentytwentyone/blob/trunk/assets/css/ie-editor.css
https://github.com/WordPress/twentytwentyone/blob/trunk/assets/css/ie.css

These files are only loaded when the `$is_IE` WordPress global is set to true.  This global is created by checking the `$_

[2020-09-15 05:09] #5 closed, assigned to nobody

[2020-09-15 05:27] carolinan opened #9 "Code quality: Add Github actions for pull requests"
Each pull request should be checked for PHP compatibility and to ensure that coding standards are followed.

[2020-09-15 05:30] carolinan opened #10 "Feature: Change text color/foreground color depending on background color"
When the background color is changed, the text color should change automatically to maintain a high color contrast ratio against the background.

[2020-09-15 05:44] carolinan opened #11 "Revise icon functionality and icons"
Since the theme does not include a social menu, the functionality for including the icons for the social menu can be removed.
See
https://github.com/WordPress/twentytwentyone/blob/trunk/inc/icon-functions.php
https://github.com/WordPress/twentytwentyone/blob/trunk/classes/class-twenty-twenty-one-svg-icons.php

**The design uses the following icons:**
Hamburger menu
Arrows for next and previous nav

[2020-09-15 06:36] carolinan opened #12 "Remove duplicate ID's from the search widget."
Create a new searchform.php file or filter with the purpose of preventing the duplicate ID when more than one search form /search widget is present.

Reference:
WCAG: 4.1.1 Parsing Level A

[2020-09-15 07:10] #12 closed, assigned to carolinan

[2020-09-15 07:21] carolinan opened #14 "Gutenberg feature watch list"
In this issue we can keep track of possible changes to Gutenberg that can affect the theme.

- [x] [Theme Support: Enable custom units by default](https://github.com/WordPress/gutenberg/pull/24873)
The theme currently includes `add_theme_support( 'custom-units' );`
If this will be enabled by default, the above will no longer be needed.
- [x] [Updates to the search block](https://github.com/WordPre

[2020-09-16 07:23] carolinan opened #27 "Clean up print style"
-Remove code that is not used from the print style.
-Test the print style.

[2020-09-16 07:29] carolinan opened #28 "Update font sizes"
The font sizes have been increased in the design and both the CSS variables
and the editor-font-sizes theme support needs to be updated.

[2020-09-16 07:30] carolinan opened #29 "Update spacing"
The spacing around the content, especially for the responsive versions, needs to be reviewed and updated according to the design.

[2020-09-16 08:43] #6 closed, assigned to luminuu

[2020-09-16 08:52] carolinan opened #30 "Featured images are not aligned correctly"
In the design, (large) featured images are centered. In archives and search results, featured images are also wider than the excerpt.

In the theme, these images are not aligned correctly, and featured images in single posts and archives are even aligned to the opposite sides.

Theme archive page:
![featured-image](https://user-images.githubusercontent.com/7422055/93314182-bbf4d400-f809-11ea-8f66-

[2020-09-16 08:56] #7 closed, assigned to nobody

[2020-09-16 13:13] carolinan opened #31 "The text for the search result count is incorrect if there is only one match"
The search result template displays the number of search results,
but the text needs to be updated to work with both singular and plural.
If there is only one result, the text reads: `We found 1 results for your search`.

[2020-09-16 16:03] carolinan opened #33 "Update the design of the single post header"
The header (post title area) for single posts needs to be updated to match the final design.
- Wider title
- Add a visible bottom border when there is no featured image.

[2020-09-16 16:05] carolinan opened #34 "Update the design of the author bio"
The author bio needs an overhaul of the markup, CSS and spacing to match the final design.

See https://github.com/WordPress/twentytwentyone/blob/trunk/template-parts/post/author-bio.php

[2020-09-16 16:06] carolinan opened #35 "Update the design of the comments area"
The comments area needs some work not least with the spacing.

[2020-09-16 16:10] carolinan opened #36 "Implement the design for forms, inputs and buttons"
Implement the designs for forms/inputs/buttons.

- [x] Buttons block -filled
- [x] Buttons block -outlined

- [x] HTML buttons  (including disabled state)
- [x] Input elements
- [x]  Select lists (including blocks)

- [x] Tested standard form elements as well as widgets and blocks.
- [x] Tested focus and hover states.

[2020-09-16 16:15] carolinan opened #37 "Pages - How to implement two page heading styles"
In the design, pages with multiple columns (assumed to be columns blocks in content),
position the page title differently compared to when the content only has a single column.

Single column: Centered page title
Multiple columns: Left aligned wide page title.

How do we best implement this?
Perhaps using a body class?

[2020-09-16 16:16] #4 closed, assigned to nobody

[2020-09-17 09:46] carolinan opened #40 "footer widgets are not aligned"
**Describe the bug**
When more than one widget is placed in the footer widget area, the widgets do not align vertically.

**To Reproduce**
Steps to reproduce the behavior:
1. Add widgets to the footer widget area
2. View the front...
3. Scroll down to the footer...
4. See error

**Expected behavior**
I expect the footer widget content to be aligned and look more even.

**Screenshots**
![The left m

[2020-09-17 12:20] carolinan opened #44 "Continue the code clean up"
**Describe the bug**
There is still code inherited from Seedlet that needs to be removed.

-Block patterns, including any related CSS (Keep the file and functions for when we are ready to add the new patterns!)
-Left over CSS from removing the gradients
-The foreground color that is no longer used.
-Empty CSS selectors.

If you find anything else that you feel needs to be mentioned here, that you

[2020-09-17 14:37] carolinan opened #46 "Add custom gradients"
The theme currently has no custom gradients, but a placeholder for editor-gradient-presets has been left in functions.php
to make them easier to include.
If no custom gradients are added, this code needs to be removed in time for beta 1.

[2020-09-17 17:09] melchoyce opened #48 "Add custom background color option to the Customizer"
By default, Twenty Twenty One's background color is a muted, pastel green. Because this is a rather opinionated color, we should allow folks to update the background color for the site. Until we have FSE in core, this should be a Customizer setting.

Additionally, we should populate the color picker with our own recommended background colors:

![image](https://user-images.githubusercontent.com/284

[2020-09-17 17:13] melchoyce opened #49 "Add color palette to editor"
Let's add support for Twenty Twenty One's recommended colors to the block color palette: https://developer.wordpress.org/block-editor/developers/themes/theme-support/#block-color-palettes

Colors:

Black: `#28303D`
Dark Grey: `#39414D`
Green: `#D1E4DD`
Blue: `#D1DFE4`
Purple: `#D1D1E4`
Red: `#E4D1D1`
Orange: `#E4DAD1`
Yellow: `#EEEADD`
White: `#FFFFFF`

[2020-09-17 17:39] melchoyce opened #50 "Add initial block patterns"
Twenty Twenty One will come packaged with several block patterns. Here's a couple to get us started.

---

- [x] **Two images showcase**

![image](https://user-images.githubusercontent.com/2846578/93505065-5f1c1b00-f8e8-11ea-8907-6f3754d54697.png)

- Full-width block
- Maybe a media and text block, where instead of text, we show a second, smaller, framed image?

---

- [x] **Overlapping gallery**

[2020-09-17 18:31] #40 closed, assigned to nobody

[2020-09-17 20:08] #49 closed, assigned to nobody

[2020-09-17 23:43] audrasjb opened #53 "Declare support for HTML5 navigation widgets"
## Steps to replicate

The theme doesn't implement HTML5 navigation widgets added in WordPress 5.5.
See https://make.wordpress.org/core/2020/07/09/accessibility-improvements-to-widgets-outputting-lists-of-links-in-5-5/

This would be a nice enhancement for Seedlet’s accessibility :)

## Result

Navigation widgets are not wrapped with a `<nav>` HTML5 tag.

## Expected

Navigation widgets should ide

[2020-09-18 00:07] audrasjb opened #55 "Don't link the site title when displayed on the homepage"
**Describe the bug**
For full reference, see https://core.trac.wordpress.org/ticket/37011 which was merged in WordPress 5.5.

**Expected behavior**
When displaying the homepage (blogposts or home Page), the site title should not be linked.

[2020-09-18 07:29] #55 closed, assigned to audrasjb

[2020-09-18 07:32] #53 closed, assigned to audrasjb

[2020-09-18 07:57] carolinan opened #57 "Update custom logo settings, including title and tagline"
In addition to https://github.com/WordPress/twentytwentyone/pull/56/,

- [x] the `unlink-homepage-logo` needs to be added to the theme support for custom logo.
See https://make.wordpress.org/core/2020/07/28/themes-changes-related-to-get_custom_logo-in-wordpress-5-5/

<del>- [ ] Apply the different design and positions of the logo and site title
https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twe

[2020-09-18 09:06] #33 closed, assigned to carolinan

[2020-09-18 11:51] #10 closed, assigned to aristath

[2020-09-18 13:45] #48 closed, assigned to aristath

[2020-09-18 16:49] carolinan opened #67 "Adding the menu style and functionality"
The menu style needs to be added and the functionality must be carefully tested for any accessibility problems.

Design:
https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=487%3A61

- [x] The toggled menu should be closable with the Esc key.

- [x] The modal only closes when the user actively closes it.

- [x] -When opened, the focus is kept inside the menu modal.  Includi

[2020-09-18 21:32] audrasjb opened #68 "Remove duplicate width/height attributes from SVG icons"
We shouldn’t use width and height attributes in `Twenty_Twenty_One_SVG_Icons` class.
This currently results in duplicated attributes in SVG icons.

Worth noting that there is a DocBlock with this information in the class-twenty-twenty-onesvg-icons.php file:

[2020-09-19 06:37] #68 closed, assigned to carolinan

[2020-09-19 16:05] luminuu opened #72 "Testing and adjusting WP default blocks"
Twenty Twenty One uses the default block styles that are provided by WP core. For the release of the theme we need to check that every block is working well with the theme and add adjustments if needed. The list only contains blocks that have an output.

### Text
- [x] Paragraph
- [x] Heading
- [x] List
- [x] Quote
- [x] Code
- [x] Classic
- [x] Preformatted
- [x] Pullquote
- [x] Table
- [x] Verse

[2020-09-19 16:53] luminuu opened #73 "Search / search results page"
The are designs given for three search results related views: https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=269%3A0

- [x] Search results with multiple entries
- [x] Search result page if no matching posts were found

~~Right now the theme does not feature any search icon in the header or footer areas, so we're not sure from where the first design should be reached.~~

[2020-09-19 16:58] luminuu opened #74 "Testing and adjusting default WP pages"
We need to check that the default pages provided by core are matching the design and adjust them if needed.

- [ ] 404 page
- [x] No content
- [ ] Attachment (Seedlet theme provided an image.php file)

[2020-09-19 17:21] luminuu opened #76 "Latest Posts Block"
There's a design for the latest posts block, the first one: https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=7%3A33

Todos:
- [ ] Make the list view match the given design.
- [ ] Check how other features the latest posts block offers can be integrated in the minimalistic design.
- [ ] Decide how the grid view the block offers should look like (@melchoyce ?)

[2020-09-19 17:43] luminuu opened #77 "Testing and adjusting footer widget area"
There's only one widget area given in Twenty Twenty One and each widget is added to the next available spot. It consists of three columns on wide screens.

As the new block based widget screen got out of experimental status in Gutenberg 8.9.0, it's most likely to land in 5.6, so we need to have this area working for both the old-school widgets and the blocks.

In my recent test the social icons bl

[2020-09-20 04:09] carolinan opened #78 "Accessibility: Visual Presentation & Reflow"
References:
https://www.w3.org/TR/WCAG21/#visual-presentation
https://www.w3.org/TR/WCAG21/#reflow

- [x] Foreground and background colors can be selected by the user.

- [x] Width is no more than 80 characters or glyphs (40 if CJK).
*Content creator may be able to bypass this.

- [x] Text is not justified (aligned to both the left and the right margins).

- [x] Line spacing (leading) is at least

[2020-09-20 04:32] #78 closed, assigned to nobody

[2020-09-20 04:46] carolinan opened #79 "Accessibility: WCAG 2.4.5 Multiple Ways Level AA"
More than one way is available to locate a Web page within a set of Web pages except where the Web Page is the result of, or a step in, a process.

Reference: https://www.w3.org/TR/WCAG21/#multiple-ways

- [x] Menu **-Optional**
- [ ] Next and previous post navigation, links between paginated posts (page breaks), link to parent on attachment page (image.php)
- [x] Search  **Optional with widget or

[2020-09-20 05:13] carolinan opened #80 "Accessibility: WCAG 2.4.8 Location Level AAA"
Information about the user’s location within a set of Web pages is available.
Reference:
https://www.w3.org/TR/WCAG21/#location

- [x] aria-current in pagination for page breaks within content
- [x] aria-current in archive pagination
- [x] aria-current in comment pagination **-Depends on the final design, currently only "newer comments" and "older comments" is used for this navigation.**
- [x] ari

[2020-09-20 05:30] carolinan opened #81 "Accessibility: WCAG 2.4.10 Section Headings Level AAA"
Section headings are used to organize the content.
Note 1: "Heading" is used in its general sense and includes titles and other ways to add a heading to different types of content.

Reference:
https://www.w3.org/WAI/WCAG21/Understanding/section-headings.html

Question, do we need a visually hidden heading for the footer, or is the HTML5 footer element and content info ARIA role enough for this sec

[2020-09-20 05:40] carolinan opened #82 "Accessibility: WCAG 2.5.3 Label in Name Level A"
For user interface components with labels that include text or images of text, the name contains the text that is presented visually.

Reference: https://www.w3.org/TR/WCAG21/#label-in-name
Resource: https://www.deque.com/blog/understanding-wcag-2-1-reviewing-mobile-success-criteria-2/

-I may have misunderstood this guideline and I also did not test the comments form with speech technology.

If I

[2020-09-20 06:35] carolinan opened #83 "Accessibility: WCAG 3.2.5 Change on Request Level AAA"
Changes of context are initiated only by user request or a mechanism is available to turn off such changes.
Reference:
https://www.w3.org/TR/WCAG21/#change-on-request
https://www.w3.org/WAI/WCAG21/quickref/#change-on-request

Core widgets uses select lists that unexpectedly change and will fail this guideline.

-When a select list is expanded by pressing enter or space, and tab is pressed next, th

[2020-09-20 06:59] #83 closed, assigned to audrasjb

[2020-09-20 08:13] audrasjb opened #85 "Pluralize search form results count string"
**Describe the bug**
Search result count string should be pluralized in `search.php`.

Currently:
[code]

[2020-09-20 08:16] #85 closed, assigned to audrasjb

[2020-09-20 10:07] audrasjb opened #87 "Use aria-current attribute on footer homepage link when home is the current page"
It would be nice to use aria-current attribute on footer homepage link when home is the current page.
Eg: replace
[code]
 with:
[code]
When we are at the homepage URL (blog posts or page on front).

[2020-09-20 10:15] audrasjb opened #89 "Header: Homepage is linked when page on front is a static page"
We need to improve the conditional statement actually used.

[2020-09-20 10:51] #89 closed, assigned to audrasjb

[2020-09-21 20:53] melchoyce opened #104 "Pages: Add featured image support"
**Describe the bug**
Currently, featured images don't appear to be output on pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a new page.
2. Add a featured image.
3. Publish the page.
4. View the page; featured image doesn't appear.

**Expected behavior**
Featured images should appear wherever set, whether page or post.

**Screenshots**

Editor | Front-end
------------ | --------

[2020-09-21 21:07] melchoyce opened #106 "404 Page: Update Design"
I'm running through and trying to make page designs more consistent. I've updated the 404 page to include the same full-width title + border than search results have:

![image](https://user-images.githubusercontent.com/2846578/93821645-d5908400-fc2c-11ea-9b7e-4b3c02bf9a75.png)

[2020-09-21 21:15] #30 closed, assigned to kjellr

[2020-09-21 21:30] #104 closed, assigned to nobody

[2020-09-21 21:57] #106 closed, assigned to nobody

[2020-09-21 22:09] carolinan opened #109 "Site title should be linked on the paged blog"
**Describe the bug**

When navigating the pages on the list of latest posts, (/page/2 etc). the site title should be a link back to the front page.

[2020-09-22 02:43] #2 closed, assigned to nobody

[2020-09-22 02:44] #11 closed, assigned to nobody

[2020-09-22 04:35] carolinan opened #110 "Update link states to match the design"
The links need to be updated to match the new styles:

![Regular links have a solid underline, hovered links have a dotted underlined, and focused links have a solid box shadow with a border radius](https://user-images.githubusercontent.com/7422055/93844529-b7af3780-fc9d-11ea-90aa-334ed7ed56f5.png)

[2020-09-22 06:42] #35 closed, assigned to carolinan

[2020-09-22 07:44] #34 closed, assigned to nobody

[2020-09-22 07:56] carolinan opened #111 "Single post: Tags are not correctly aligned"
**Describe the bug**
In single post view, the tags are shown in different positions depending on the browser.
In Chrome, the tags are on the right hand side.
In Firefox and Edge, the tags are shown closer to the center, below the
publishing date.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a single post view for a post that has tags.
2. View this page in different browsers to see t

[2020-09-22 08:10] carolinan opened #112 "Explore adding an additional block area below the header"
**Is your feature request related to a problem? Please describe.**

In 5.6, widget areas can be used as block areas with the help of the new widget screen.
The theme relies on blocks and block patterns, and by adding an additional but optional block area below the header,
or at the bottom of the header, creators are given more flexibility.

This block area can be used to add:
Secondary menus (widg

[2020-09-22 13:29] carolinan opened #113 "Add theme screenshot"
**Describe the bug**
The theme is missing a screenshot.

[2020-09-22 16:57] carolinan opened #116 "Custom block styles"
Block styles are style variations that can be selected in the block sidebar.
Block styles are different from patterns, but can be used with and inside patterns.

[A file has been created](https://github.com/WordPress/twentytwentyone/blob/trunk/inc/block-styles.php) in preparation for adding block styles.

Design elements that might be useful as block styles:
The border that is used in several of t

[2020-09-22 20:49] melchoyce opened #117 "Add social media icon styling to menu widgets"
**Is your feature request related to a problem? Please describe.**
I often want to add social menus to my site. This can be achieved using the beta widget-block screen, but it would also be nice to support social icons inside menu widgets.

**Describe the solution you'd like**
If you link to a social media account within your menu widget, the link is transformed into a social media icon.

**Descri

[2020-09-22 20:56] #31 closed, assigned to nobody

[2020-09-22 21:45] #29 closed, assigned to jffng

[2020-09-23 04:31] carolinan opened #119 "Add a theme description"
**Describe the bug**
The theme is missing a description, this needs to be added to
https://github.com/WordPress/twentytwentyone/blob/trunk/assets/sass/01-settings/file-header.scss#L6
and the readme.txt file.

[2020-09-23 14:52] lukecav opened #122 "Any theme image assets should be optimized before a release"
The image folder is 2.95 MB in size at the moment.
https://github.com/WordPress/twentytwentyone/tree/trunk/assets/images

The existing images can be optimized and reduced 2 MB in size. ImageOptimizer would be worth taking a look at.
https://github.com/spatie/image-optimizer
https://github.com/TypistTech/image-optimize-command

[2020-09-23 15:23] carolinan commented on #122
Yes these are only place holder images for testing the starter content and they will be replaced :)

[2020-09-23 15:28] fabiankaegy opened #123 "Adding `@wordpress/env` for local development into the project"
**Is your feature request related to a problem? Please describe.**
When working with themes locally it is always a hurdle to setup a separate dev environment for it. With the [`@wordpress/env`](https://npmjs.com/package/@wordpress/env) package that was build by the Gutenberg theme this is very easy to just have one npm command: `npm run wp-env start` to start a local environment server.

I can hap

[2020-09-23 16:23] jffng commented on #123
Adding `wp-env` as a development dependency seems reasonable to me and nice a way to increase the inclusivity of who can contribute, since we're already requiring node + npm to compile the styles.

[2020-09-23 16:44] carolinan commented on #123
+1 As long as the documentation to use it is added to the contributing file for the repo.
It is actually not as straight forward to set up for the first time, especially not on Windows, so it is important that contributors know that they are not required to use it.

[2020-09-23 16:54] samikeijonen commented on #81
I'd also vote no for this. For the same logic we'd need to add heading in the `<header>` also.

[2020-09-23 17:01] trsenna commented on #37
Hi,

why Is QA harder with two custom page templates than using a checkbox? Don't you have to test CSS changes with checkbox checked and unchecked anyway?

IMHO I'd suggest page-templates 'cause it feels more natural for theme developers. A checkbox can be nice too - but as a developer what Do I do when I need to create a new page-template that has a title always? So maybe now I have to decide if

[2020-09-23 17:04] kjellr commented on #1
To keep things simple (and avoid new users having to delete a lot of opinionated starter content), I'd suggest that maybe the theme's starter content be limited to just the homepage design. This is pretty simple, but would allow them to start off with something really similar to what they saw on the theme screenshot.

![Mockups-1580x2048](https://user-images.githubusercontent.com/1202812/94045338-

[2020-09-23 17:07] melchoyce commented on #3
I think it makes sense to have as much documentation inline as we can. It would be great for this to be a learning tool for anyone new to WordPress development, so as much we can do to add in context and help within files, the better, IMO.

[2020-09-23 17:09] melchoyce commented on #9
What's still needed here?

[2020-09-23 17:09] kjellr commented on #8
If that user agent check is good enough for core, I imagine it's good enough for the theme. If it's working as is, I'm not sure it makes sense to invest in a different solution.

[2020-09-23 17:12] melchoyce commented on #14
As new featured to watch come in, let's add to the checklist in the first post.

[2020-09-23 17:14] pattonwebz commented on #37
The difference is testing against 2 pages (which are entirely replicated other than just the differnce in title) vs testing against 2 states of the same page.

For 2 pages we need to test both pages but also ensure any code changes to one template is ported across both templates (since the everything except title markup is replicated). With one page and a toggle we just need to test both states (n

[2020-09-23 17:15] melchoyce commented on #28
Aside from #102, what's left to update here?

[2020-09-23 17:22] trsenna commented on #37
Thanks @pattonwebz for your answer :+1:

But now thinking as just changing the page state - with page templates is it not just changing states of a page too?

[2020-09-23 17:29] pattonwebz commented on #37
Sure is, but the template option here comes along with 95% reused code and the need to replicate changes from one into the other every time one is made. 2 checks AND 2 places to copy/paste code between.

[2020-09-23 17:29] melchoyce commented on #37
One other issue a page template could help us solve is how to align the heading here, without resorting to creating a new columns block just to contain it:

![image](https://user-images.githubusercontent.com/2846578/94048008-dd713500-fda0-11ea-9519-900be9c04771.png)

[2020-09-23 17:31] kjellr commented on #44
Once #118 is merged, can we close this issue and open individual issues for anything that's left? It's becoming a little hard to follow.

[2020-09-23 17:31] pattonwebz commented on #37
Is the position of this title not the same position as what is in the narrow default template?

[2020-09-23 17:31] melchoyce commented on #46
I have some gradient ideas in progress, but I need to try them out in context before we can decide which ones to include: https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=764%3A54

Hoping to work on this more tomorrow.

[2020-09-23 17:37] melchoyce commented on #73
You can reach the results pages by using a search block or widget.

[2020-09-23 17:39] melchoyce commented on #67
We've decided to show submenu items by default on small screens.

[2020-09-23 17:41] melchoyce commented on #76
Let me mock up the default states for the Latest Posts block 👍

[2020-09-23 17:47] melchoyce commented on #67
Addressed in #115.

Can I get some more clarification around this? I'm not sure what it means.

[2020-09-23 17:50] melchoyce commented on #37
It is, this is testing with the narrow template. I'd like it to look like this:

![image](https://user-images.githubusercontent.com/2846578/94050040-b5370580-fda3-11ea-8339-941d3ad8fb4c.png)

[2020-09-23 17:50] pattonwebz commented on #67
When no menu exists in a given location the default is to use a fallback which is the the `wp_page_menu()`. If we don't want that then we need to explicitly disable it. https://developer.wordpress.org/reference/functions/wp_nav_menu/

[2020-09-23 17:52] pattonwebz commented on #37
Right so the ask is still the same - a template that exists to just move the title?

[2020-09-23 17:55] melchoyce commented on #67
Yeah, if there isn't a menu assigned to a location, I don't think we should show anything.

[2020-09-23 17:57] pattonwebz commented on #67
I agree :) We can set `'fallback_cb' => false` to do that

[2020-09-23 18:14] melchoyce commented on #37
So ideally, we'd have wide/full alignment settings for _all_ blocks in Gutenberg so we could control the alignment of text elements as well. In the interim for the theme, I was thinking with a full-width template, all of the content would span the width of the page. This has obvious usability and readability issues, but seems to be the standard for themes that include similar full-width templates?

[2020-09-23 19:01] melchoyce commented on #110
Here's a coded mockup of the link styles: https://codepen.io/melchoyce/pen/jOqdNPm

[2020-09-23 20:11] luminuu commented on #73
Yup! That sentence referred to the initial search results page with just the search input itself, which we don't have anymore. I've striked it through.

[2020-09-23 20:25] ZebulanStanphill opened #128 "Submenu background color doesn't update in Customizer preview when background color is changed"
## Description
The background color used by submenus in the navigation doesn't update in the Customizer preview when the background color setting is modified. For example, if the background color was pastel green and you try setting it to black, submenus will look like this while you're in the Customizer:

![image](https://user-images.githubusercontent.com/19592990/94065342-a4d95780-fdb0-11ea-93e9

[2020-09-23 20:32] ZebulanStanphill opened #129 "Add option to use excerpts on posts page"
This is basically the Twenty Twenty One version of https://github.com/WordPress/twentytwenty/issues/2.

Twenty Twenty has an option to use excerpts on the default posts page. This option is currently absent from Twenty Twenty One. I think it would be a good idea to bring back this option. In fact, I'd prefer if excerpts were used by default. The inability to change this has been a major missing fe

[2020-09-23 20:42] melchoyce commented on #73
Ahh cool, okay 👍

[2020-09-23 20:49] fabiankaegy commented on #123
@carolinan I have updated my PR (#124) to include some basic documentation about how to get started.

Can you elaborate how granular you would like the doc's in the theme to get? / at which point should we link to the docs of the `wp-env` project?

[2020-09-23 22:54] metodiew commented on #109
I have added a `href` using `home_url()` function. I guess this is simple enough as a fist patch here, but let me know if there is anything I'm missing?

[2020-09-23 23:28] carolinan commented on #67
There is already a "has nav menu" wrapping the primary menu, but the above code is shorter.

[2020-09-24 06:00] fabiankaegy commented on #110
I can pick this one up and create a PR for it

[2020-09-24 06:06] aristath commented on #8
I agree with @kjellr
Though the `$is_IE` global is far from perfect (has lots issues with aggressive caching plugins), for the sake of simplicity it's fine to use it here.

It's allowed and works fine. Surprisingly it's also extremely easy to do... We can simply add this in `functions.php`:
[code]
The reason I'm suggesting it be added inline is because there's no reason to enqueue yet another scri

[2020-09-24 06:18] aristath commented on #110
The problem with using border & border-radii for links can be seen when the link text flows to the below line. Example from the codepen posted above - I just moved the closing `</a>` so the link flows to the line below.

With borders:

![Screenshot_2020-09-24 TT1 Links 3(1)](https://user-images.githubusercontent.com/588688/94107431-1e6f5500-fe46-11ea-8429-466bb327608b.png)

With `outline: 2px soli

[2020-09-24 06:33] aristath commented on #37
Yes, it is the standard. It's also an extremely bad standard, one that began with themes that wanted to be used with page-builders which were at the time unable to take over the template and were limited to the content area. This hasn't been the case for many years, but themes still keep following this bad standard simply because it is the standard.
Please, let's not follow bad standards just beca

[2020-09-24 06:34] fabiankaegy commented on #110
@aristath I have created a PR before seeing your notes but can happily update everything once a decision regarding the final styling was made.

[2020-09-24 08:44] carolinan commented on #8
But do we need and or want to support IE?

[2020-09-24 08:48] aristath commented on #8
_Need_ is a strong word...
As I've said before, the fact that we "support" IE doesn't mean that IE should have the same styles as other browsers. As long as the content is readable in IE I don't think we need to do something.

[2020-09-24 13:34] #9 closed

[2020-09-24 14:56] melchoyce commented on #37
That doesn't work, though:

![image](https://user-images.githubusercontent.com/2846578/94162219-7b720780-fe54-11ea-90d9-f0328bae7520.png)

`wp-block-group__inner-container` inherits the content width.

[2020-09-24 14:59] carolinan commented on #123
You can combine what you wrote with the commands added here:
https://github.com/WordPress/twentytwentyone/pull/127/files#diff-6a3371457528722a734f3c51d9238c13R87

[2020-09-24 15:01] aristath commented on #37
Then perhaps that should be fixed?

[2020-09-24 15:04] carolinan commented on #28
tested and merged, looks nice and much more readable, thank you.

[2020-09-24 15:04] #28 closed

[2020-09-24 15:21] aristath commented on #109
Reopening this one, we'll need to come up with a better solution.

[2020-09-24 15:22] kjellr opened #138 "Add license information for the Van Gogh images bundled with the theme"
These appear to be public domain, but we need to note the source + license in `style.css`.

[2020-09-24 15:26] melchoyce commented on #37
Is that something overwritable by the theme, or is it a Gutenberg issue?

[2020-09-24 15:29] luminuu commented on #37
I personally would not want to have the inner elements of the Group block to span the wide/full width as well. I think this is a bad pattern, especially if you want to have elements grouped but still using the default content width.

[2020-09-24 15:30] metodiew commented on #109
hey @aristath happy to work on an update, but could you please clarify what do you think for a better solution here?

The logo site title should return to the homepage in any case, IMO, hence I've added the link, but happy to explore more options

Edit, I just saw the update here https://github.com/WordPress/twentytwentyone/pull/139

[2020-09-24 15:34] kjellr commented on #37
It's Gutenberg in the editor, and the theme is mimicking that on the front end. On the Gutenberg side, this was an intentional decision to prevent super-wide text by default.

The theme _can_ overwrite this, but I'd advise against it for the reasons noted above.

It would be good to start up a conversation in the Gutenberg repo to figure out a natively-supported solution for this.

[2020-09-24 15:36] melchoyce commented on #110
I think the more I look at it, the less I'm tied to the border-radius. Let's try this instead:

[code]
Thanks @aristath @fabiankaegy!

[2020-09-24 15:56] metodiew commented on #109
I've applied an update, based on @carolinan's feedback in https://github.com/WordPress/twentytwentyone/pull/139

You can find the commit here https://github.com/WordPress/twentytwentyone/compare/trunk...metodiew:bugfix/109, but I didn't want to open a new pull request before I get an approval :)

Let me know if there is a way to optimize the communication on my end ^_^

[2020-09-24 16:10] justintadlock opened #141 "Rename theme to hyphenated "Twenty Twenty-One""
Compound numbers should be hyphenated.  "Twenty-One" instead of "Twenty One".

See: https://www.grammarly.com/blog/hyphen-in-compound-numbers/

[2020-09-24 16:15] pattonwebz commented on #141
This is a good call. Now you mention it reading the initial name without the hyphen sounds to me almost like it is Twenty Twenty _version One_.

[2020-09-24 16:15] melchoyce commented on #141
Yeah, let's update this. I can update the repo settings, but what impact does this have on the theme folder name and text domain?

[2020-09-24 16:30] jffng opened #144 "Stylelint passes locally but fails on github"
The stylelint configuration isn't respected on github actions at the moment.

To replicate:
- Check out a PR that has the stylelint check failing e.g. #140
- `npm run lint:scss`
- Verify that no errors are thrown

[2020-09-24 16:39] metodiew commented on #141
I have tested with one public test repository for the sake of the test, as I haven't done this in a while.

When you rename the repository, GitHub redirects you to the new URL - tested with:
- the repository itself
- a test issue
- a test pull request

According to the [Docs](https://docs.github.com/en/github/administering-a-repository/renaming-a-repository):

I would love someone to test on their

[2020-09-24 16:44] justintadlock commented on #141
@metodiew - Not renaming the repo.  Just the theme name in `style.css` and related files.

@melchoyce  - It shouldn't have any impact on the textdomain or folder name, which are customized to `twentytwentyone`.

[2020-09-24 16:53] melchoyce commented on #110
Yesssssssss:

https://twitter.com/argyleink/status/1309172888243712002?s=20

[2020-09-24 16:53] acosmin commented on #141
This is a great proposal https://make.wordpress.org/core/2020/09/23/introducing-twenty-twenty-one/#comment-39888

[2020-09-24 19:53] kjellr commented on #50
Anyone have ideas for how to implement the font-weight setting for this one? Block patterns don't come with their own CSS class, so we can't assign it in the stylesheet. And selecting a light font weight is not possible in the editor currently. 🤔 We could add a custom class ourselves, but I feel like users aren't going to notice that's there and it may cause confusion.

[2020-09-24 20:17] melchoyce commented on #50
Yeah, we might be out of luck there 😕

[2020-09-24 22:28] kellylawrence commented on #111
Hello @carolinan. I submitted a potential fix for this issue in https://github.com/WordPress/twentytwentyone/pull/146.

[2020-09-25 00:02] carolinan commented on #50
When you say, we can add the custom class ourselves, do you mean using the additional CSS class field?
Why would that be confusing? In case they want to remove the font weight?

[2020-09-25 00:35] melchoyce commented on #76
## List Mockups

Default settings, with author and date, and then with author, date, and excerpt.

![image](https://user-images.githubusercontent.com/2846578/94212867-5658b580-fea3-11ea-8311-1f8cdeae4574.png)

## Grid Mockups

![image](https://user-images.githubusercontent.com/2846578/94212878-5f498700-fea3-11ea-84ec-6261329f67c3.png)

Default settings, with author and date, and then with author,

[2020-09-25 01:42] carolinan commented on #110
What about the post and page titles? Do we keep them underlined by default?

[2020-09-25 06:32] carolinan commented on #36
Currently testing the color changes/contrasts when the body background is changed, could use some more eyes.

Should the border that is used on the default button block be used when the user changes the button color?

[2020-09-25 08:21] dingo-d commented on #122
I usually use https://imageoptim.com/mac before adding any asset. Not sure I'd bundle anything in the theme just for image optimizing (sounds like plugin territory to me).

[2020-09-25 10:28] LittleBigThing commented on #116
Block styles would be very cool!

Do you mean for the border as well as for the overlapping patterns, @carolinan? It would be cool if borders could be added a different way. Aren't there plans on adding border controls to the editor in the future?

[2020-09-25 10:46] jeffikus commented on #9
@dingo-d thanks for #62 :) the main reason for merging #60 first was to get something in before the repo went public, but I'm glad your better one is in!

@aristath @dingo-d do we need to do anything more for:

- [x] CSS
- [ ] JS
- [x] PHP

[2020-09-25 10:54] dingo-d commented on #9
There is a stylelint action (CSS), I think we can add ESLint one as well

[2020-09-25 11:01] carolinan commented on #57
The option only has one regular size, and one for the retina that we will add. It does not accept min or max size values, but I'll do my best and we can test and alter the values.

[2020-09-25 11:32] aristath commented on #9
PHP & CSS are already covered, for JS (eslint) I think we can open a new ticket and get those linted as well. We may not have a lot of JS right now, but we still have a long way to go before the theme is ready and more JS may be added :+1:

[2020-09-25 12:43] kjellr commented on #50
Why would that be confusing? In case they want to remove the font weight?

Yeah, it's a hack. Users definitely won't know it's there.

[2020-09-25 13:15] LittleBigThing opened #148 "Add navigation menu to the footer"
Add a navigation menu to the footer of the theme. This could replace the `.site-name` div.

The menu could serve for general links, as well as to add a link to the privacy policy page (perhaps automatically?).

<img width="1340" alt="Screenshot 2020-09-25 at 15 14 09" src="https://user-images.githubusercontent.com/5901923/94271353-cf0e4f00-ff41-11ea-87ec-b95204695959.png">

[2020-09-25 13:27] kjellr commented on #138
😄 This is already done here:

https://github.com/WordPress/twentytwentyone/blob/fb979b49cd9e4f276a6b4217f681d3040dd86285/readme.txt#L62-L65

[2020-09-25 13:27] #138 closed, assigned to nobody

[2020-09-25 13:28] kjellr commented on #141
I think this is all set now that https://github.com/WordPress/twentytwentyone/pull/143 has been merged. Is that correct?

[2020-09-25 13:29] kjellr commented on #76
What should we call the theme-included block style?

[2020-09-25 13:30] LittleBigThing commented on #129
I prefer to use the ‘Read more‘ block for this. This provides a link to the full post and it is more flexible in placement. It has now also the option to hide the text before it on the single post page.

Note: the theme should provide some styling to the Read more block.

<img width="1188" alt="Screenshot 2020-09-25 at 15 28 56" src="https://user-images.githubusercontent.com/5901923/94272825-e9492

[2020-09-25 13:41] carolinan commented on #116
@LittleBigThing There already is a pull request for this border, it is part of #140

I think that for other block styles, the _block pattern ideas_ issue template would work.

[2020-09-25 13:43] lukecav commented on #122
@dingo-d
The recommendation was more for offline optimization of images assets before they are pushed up to the GitHub repo or before a release, not for building in image optimization into the theme. ImageOptim does work very well for offline local image optimization.

[2020-09-25 13:48] #123 closed

[2020-09-25 15:16] melchoyce commented on #110
Would love a11y confirmation here.

[2020-09-25 15:29] melchoyce commented on #76
I'm terrible at naming things, so I'd love suggestions from more folks here. My first instinct is "fancy stuff" 😂

[2020-09-25 15:29] carolinan opened #149 "The dividers does not change color when the site background color is changed."
**Describe the bug**
When the background color is changed with the option in the customizer, the dividers do not change color.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the customizer
2. Click on the color option
3. Select a black background
4. See error, the dividers are #000 like the background.

**Expected behavior**
I expect the dividers colors to be adjusted.

The easiest so

[2020-09-25 15:36] kjellr commented on #76
😄 Yeah, it's kind of like "Posts with Dividers/Borders"

[2020-09-25 15:56] melchoyce commented on #76
Maybe we could get away with "Posts with Borders"

[2020-09-25 16:07] melchoyce commented on #149
Yeah, it would be great if we could figure out a way to reduce the opacity for dark color schemes!

[2020-09-25 16:23] melchoyce commented on #77
How's this?

![image](https://user-images.githubusercontent.com/2846578/94291601-d590cc80-ff29-11ea-9528-e73b8253b749.png)

[Mockup in Figma](https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=1046%3A561)

[2020-09-25 16:32] luminuu commented on #116
Closing this, please suggest specific block styles in a separate issue.

[2020-09-25 16:32] #116 closed

[2020-09-25 17:31] kjellr commented on #76
@melchoyce it struck me that the grid version that has the divider line on top, and the list version that has the divider lines are both pretty similar. I wonder if those and up being a "Posts with Dividers" version, and then we have another "Boxed" style?

Here's how that would look:

## Default

List|Grid
---|---
![Latest Posts (List, author and date)](https://user-images.githubusercontent.com/1

[2020-09-25 18:08] melchoyce commented on #76
Ah yeah, good call — that makes sense 👍

[2020-09-26 04:00] carolinan commented on #141
Found a few more, lets close this and try to remember it for any new file headers etc 👍

[2020-09-26 04:00] #141 closed, assigned to nobody

[2020-09-26 06:56] #81 closed

[2020-09-26 07:15] carolinan commented on #128
A fix for this is included as part of #142 because I needed it for the button colors, but since that PR needs more testing, I'll create a new PR with just this update.

[2020-09-26 07:56] kishanjasani opened #157 "Post Format - Gallary: Remove border-bottom for all images in gallary item"
**Describe the bug**
All gallery images have border-bottom. It's not supposed to have a border-bottom on each element of the gallery image.

**To Reproduce**
Steps to reproduce the behavior:
1. Take the post format: Gallary
2. Add gallery in the classic editor
3. You will get underlined in each image.

**Expected behavior**
There should not be a border-bottom.

**Screenshots**
![gallery_issue](htt

[2020-09-26 07:58] kishanjasani commented on #128
@carolinan Please check the above PR will resolve this submenu background color issue.

[2020-09-26 09:09] acosmin commented on #128
@kishanjasani that would work ok if the menu is on one line. If the menu's length is bigger, it will go on two lines... sub-menus will cause some overlapping issues. Also, if the sub-menu is big enough it can overlap with the page title... causing the same issues.

[2020-09-26 09:19] kishanjasani commented on #128
@acosmin It's not for the only a one-line menu. It will also work for a nested multiple menus length. I am attaching one tested screenshot which will show you It's also working for submenus too.
![Uploading screenshot-rtpanel.local-2020.09.26-14_45_22.png…]()

[2020-09-26 16:48] #111 closed

[2020-09-27 05:19] imnavanath commented on #157
@carolinan Can you please check the above PR, will resolve the bottom border issue for Galley item.

[2020-09-28 06:53] carolinan opened #159 "When the background color is changed, editor text is white on white"
**Describe the bug**
When the the sites body background color is changed to dark, and the text color is automatically changed to white,
there is text in the editor that is white over a white background.

This is likely because the theme does not yet have support for **editor dark mode**, but testing needs to be done to confirm this.

See the image below, where part of the error message is invisibl

[2020-09-28 07:05] carolinan opened #160 "Classic: Images are not correctly aligned"
**Describe the bug**
This bug was sent to me via direct message on slack.
Images in the classic block or created with the classic editor are not centered.

**To Reproduce**
Steps to reproduce the behavior:
1. Import the **[theme unit test](https://github.com/WPTT/theme-unit-test)**
2. On the front, open the post called **Markup: Image Alignment**
3. See error
![unit-test-image](https://user-images

[2020-09-28 07:21] carolinan commented on #79
The above checkbox that is not checked yet, is mainly about testing the image.php attachment page.

[2020-09-28 10:30] nielslange commented on #160
@carolinan I'll look into this issue now. 😀

[2020-09-28 11:23] nielslange opened #163 "README.md: Adjust incorrect line breaks"
The README.md currently shows incorrect line breaks after the repo title.

[2020-09-28 14:31] melchoyce commented on #157
We'll definitely want to update the link styling, but I'm not sure we can remove it entirely if we want to meet AAA criteria — would love some a11y input on whether or not linked gallery images need explicit link styles. If so, we might want to explore something like the "framed" image block style for linked images.

[2020-09-28 14:54] #163 closed, assigned to nobody

[2020-09-28 15:00] pattonwebz commented on #157
For clarity sake I am no _expert_ on these matters but I've done a little reading and it sounded to me like it would be sufficient to have clear _:focus_ styles for images that are linked to themselves but no need to have any kind of framing or border on hover.

[2020-09-28 15:45] paaljoachim commented on #1
Hilma Van Klint is an amazing abstract artist who's work was not to be shown before many years after her death.
https://en.wikipedia.org/wiki/Hilma_af_Klint
https://www.guggenheim.org/exhibition/hilma-af-klint

[2020-09-28 16:05] melchoyce commented on #1
We chatted about this a bit in [today's Slack meeting](https://wordpress.slack.com/archives/C02RP4VMP/p1601306921095300).

I’d love to explore including some female impressionists or abstract artists into whatever start content we end up packaging with the theme. In addition to @paaljoachim's above suggestion, we could explore:
- Lee Krasner
- Ethel Sands
- Mary Cassatt
- Berthe Morisot
- Lilla Ca

[2020-09-28 19:30] carike-codes opened #167 "Improving the look of Twenty Twenty-One when a site has very little content"
The critical success factor (in my personal view) for a bundled theme is how it handles it when a site has very little content.
I switched a test site from Twenty Twenty to Twenty Twenty-One.
I'm attaching screenshots of the results.

This issue does not refer to starter content :)

![image (13)](https://user-images.githubusercontent.com/58555331/94477111-ba47ea80-01d1-11eb-9a8b-dbfaad71a001.png)

[2020-09-28 19:33] scruffian opened #168 "Remove obsolete block CSS"
There is a blocks directory inside scss. A lot of this code is from when Gutenberg block appearance in core was much less stable. However much of this code is now obsolete, and should be removed. Some of it could also be submitted to core if it's not there.

For example: https://github.com/Automattic/themes/pull/2503

[2020-09-28 20:07] #76 closed

[2020-09-28 21:17] melchoyce commented on #167
Hey @carike-codes! Thanks for taking these screenshots. Do you have any specific suggestions we could implement?

[2020-09-28 21:28] carolinan commented on #1
It needs to be compatible with GPL. Here is a list of possible licenses:
https://www.gnu.org/licenses/license-list.html

[2020-09-28 21:47] carike-codes commented on #167
Still thinking about it 🤐 Really not sure.

My background stayed white after activating Twenty Twenty-One. I had to go to the Customizer, first click to change colour and then Default before it changed. I'm not sure why that is? It already looks better in the default colour (attached screenshot).

![image](https://user-images.githubusercontent.com/58555331/94488826-aa390680-01e3-11eb-8066-b817e01f

[2020-09-28 23:07] carolinan commented on #168
I also believe most of it can be removed but it was unclear why it was in Seedlet.

We have not started testing or working with individual blocks yet.
This would be updated if any changes need to be made compared to the default block code.

"Some of it could be submitted to core" I did not understand. Did you mean that we need to create issues for changing blocks in Gutenberg?

[2020-09-29 05:42] jffng commented on #159
It looks like this bug affects block warnings / errors, specifically. The steps for reproducing are:

1. Change the background color of the theme to something dark (so the text color changes to white) via the customizer.
2. Add something that will result in a block validation error, e.g. paste this into the editor ``
3. Verify that white text appears on a white background.

[2020-09-29 06:23] carike-codes commented on #167
Something that came to mind this morning is changing the H1 headers to a font that resembles impressionist techniques by default? That may perhaps help with creating natural "sections" on pages without images?
The theme could then offer a modern/casual option for the font styling?

Something else that came to mind is to style boxes similar to the look of the search bar as a visual element if the p

[2020-09-29 08:41] ellenbauer commented on #1
In regards to community artwork, do you have any specific style in mind? Maybe we can go back to some of the artwork you initially saved in the Pinterest mood boards, @melchoyce and use this as inspiration?

In my opinion maybe something that is pretty minimal would work, so users can imagine their own content and don't feel they have to be artists/designers to use this theme. This is just a thoug

[2020-09-29 09:16] pattonwebz commented on #167
This theme uses only system fonts for performance, simplicity and readability. Can you suggest a system font which might look like you wanted?

[2020-09-29 09:33] carike-codes commented on #167
:wave:
Hallo, William.

I've just been thinking of ideas for how to create "visual" elements for an entirely text-based site. I haven't looked at specific fonts yet. Do you perhaps have a link handy with examples of the available system fonts?

It is kind of difficult to explain the "picture" I have in mind. I was thinking of a "thicker" font (something sort of like Impact), but with a "shading" /

[2020-09-29 09:39] LittleBigThing commented on #50
Couldn't a light font weight be part of a paragraph block style?
I think though that a light font style may not be visibly distinctive in each system font?

[2020-09-29 09:50] pattonwebz commented on #167
Hey Carike 👋

I'm afraid I can't see any [cross compatible system fonts](https://blog.hubspot.com/website/web-safe-html-css-fonts) that gives the type of effect that your after :(. I think it would need to be a web font of some kind but the theme doesn't have any setup to include one in the base theme.

We probably have to think up other ways to give some flair to the longer text sections - via co

[2020-09-29 10:21] carike-codes commented on #167
This StackExchange question adds texture to the font using an image for the colour. I'm not sure if something like this is possible?
https://tex.stackexchange.com/questions/510458/can-i-color-text-by-using-an-image-so-that-the-color-isnt-flat
![image](https://user-images.githubusercontent.com/58555331/94545642-18fe7a00-024d-11eb-8a67-0e0dff80e8c2.png)
A brush-texture navy should work nicely with t

[2020-09-29 10:26] ellenbauer commented on #46
Love the gradients, they look beautiful and I think work well as backgrounds eg in the cover block or group block with images in front (photography or graphic images).

Just as an inspiration, I by accident came across the Carbonmade website today and they use similar colours and background gradients on their front page. It reminded me of it so I just want to through it in here.

[2020-09-29 11:25] LittleBigThing commented on #67
A small suggested tweak for the primary navigation menu: #170

[2020-09-29 12:17] carolinan commented on #117
Is it a navigation menu widget, or an actual navigation menu, located in the footer, that you assign a navigation menu to?
If the latter, does it replace one of the grids in the footer widget area?

I have no experience of changing the **_navigation menu widget_**. I do not know how it works.

But for a navigation menu that allows both social and regular links, we can just copy back the menu that

[2020-09-29 12:46] melchoyce commented on #1
The Pinterest board, for reference: https://www.pinterest.com/melchoyce/tt1/digital-native/

Looks like most of the inspiration used photography, but there's two or three examples of illustrative work in there.

[2020-09-29 12:53] melchoyce commented on #117
I was thinking it would be a navigation menu widget (and eventually a navigation block), so there's more versatility around placement.

[2020-09-29 13:22] melchoyce commented on #37
Circling back to the page/post titles: let's consolidate and style every page/post title like this, instead of having the wide-width and narrow styles:

![image](https://user-images.githubusercontent.com/2846578/94563642-fc564800-0234-11eb-8c2a-3a46ab038078.png)

Hopefully, we can tackle the rest of the issues in Gutenberg itself.

[2020-09-29 13:24] scruffian commented on #168
There are some cases where this CSS does actually fix an issue in Gutenberg blocks. In those cases we should keep the CSS temporarily, but also submit it to Gutenberg as a PR so that the fix can live in the block itself. e.g.:

https://github.com/WordPress/gutenberg/pull/25291

[2020-09-29 14:19] beafialho commented on #117
I think this would be a valuable visual addition.

[2020-09-29 14:23] carolinan commented on #168
Yes, it was the core part that I wanted clarification on.
There is a label for trac, but non for Gutenberg. We should create one when we run in to this, but it is even more likely for the full site editing project.

[2020-09-29 14:27] carolinan commented on #73
I believe these two pages are completed and that this can be closed?

[2020-09-29 17:02] melchoyce commented on #112
Some mockups:

![header-sidebar (1)](https://user-images.githubusercontent.com/2846578/94590114-31be5e00-0254-11eb-8939-8e8cefc8ca6b.jpg)

I think it'd be fun to explore this in the FSE version of the theme. I'm not sure we should include it in the traditional version, though — hoping we can keep the traditional version as lean as possible.

[2020-09-29 17:21] pattonwebz commented on #37
I like the left aligned title a lot on both views here :)

This kind of title based change here is certainly much easier with FSE so I expect we can have it working in that version of the theme without any trouble at all.

[2020-09-29 17:33] kjellr commented on #37
I _think_ this is the way things are implemented at the moment, right? If so, we can close this ticket.

With Featured Image|Without
---|---
![Screen Shot 2020-09-29 at 1 32 01 PM](https://user-images.githubusercontent.com/1202812/94595080-53b9df80-0258-11eb-911f-3682a5407689.png)|![Screen Shot 2020-09-29 at 1 32 30 PM](https://user-images.githubusercontent.com/1202812/94595084-54527600-0258-11eb-

[2020-09-29 17:50] melchoyce commented on #37
Nope, pages still use the constrained-width headings.

[2020-09-29 17:59] kjellr commented on #159
Looks like Gutenberg does not provide a color rule for that text. Since it's UI, we wouldn't want to touch it here within the theme. I've opened a PR in the Gutenberg repo to fix it there: https://github.com/WordPress/gutenberg/pull/25713.

[2020-09-29 18:19] kjellr commented on #144
Is this still an issue? I haven't seen it in any recent PRs.

[2020-09-29 18:53] kjellr commented on #50
Yeah — using a block style of it feels a little weird in general, but you make a great point about how some system fonts in the stack may actually not have a light variant to swap out with. In that case, the user wouldn't notice any difference between the normal + "Light" block styles. 😕

[2020-09-29 19:25] melchoyce commented on #50
Yeah, we might just need to go with regular weight here.

[2020-09-29 19:42] paaljoachim commented on #167
I just got to say this is a very interesting issue.... something along the lines of how can we have prettier (system) fonts that fit in with the mood/style of the site.

[2020-09-29 20:05] melchoyce opened #175 "FSE: Consider adding a sidebar template"
**Is your feature request related to a problem? Please describe.**
Sidebars are frequently requested features in themes, and we haven't thoroughly explored them in the context of a block-based, full-site-editing supported theme yet. Let's use Twenty Twenty-One as an example of how a block-based theme could explore a sidebar.

**Additional context**
This issue requires us to begin the block-based v

[2020-09-29 20:13] jffng commented on #144
Yeah. Upon closer inspection, it's not that github actions is ignoring our stylelint config. Rather, the `lint:scss` script isn't checking all the sass files the way github actions does, and thus doesn't report any errors.

[2020-09-29 20:17] melchoyce commented on #119
First draft:

[2020-09-29 22:18] carolinan commented on #50
Why do users need to know that the additional class is there?  It is not a problem for other block styles, like
"is-style-twentytwentyone-border"

[2020-09-29 22:21] carolinan commented on #159
But it is not going to help users on older versions of WP.

[2020-09-29 22:34] carolinan commented on #117
I do not understand the difference between adding a paragraph with two links and a social icon block in a widget area, which is already possible in 5.6?

How is the custom widget offering more flexibility? Both needs the widget area.
The menu widget has 0 block style options - it is more limited that way.

Not arguing, trying to understand what needs to be coded. Or if we just need to document how

[2020-09-29 22:40] carolinan commented on #175
I don't think the FSE version should be in the same repository because the issues and pull requests risk getting mixed up.

[2020-09-29 22:48] carolinan opened #177 "Comment navigation is missing styles"
**Describe the bug**
A decision is needed regarding the pagination/ navigation for comments that are split into multiple pages.

Either a paged pagination that shows the number of pages, or, only links to the next and previous comments pages.

What width would this navigation have, and should it be placed above or below comments, or both?

[2020-09-29 23:35] naunha commented on #148
I think it's a good idea, a menu at the footer. Another option would be a social menu

[2020-09-30 01:58] carolinan commented on #50
Is adding a class to patterns something that you want to move over to the Gutenberg repo?

[2020-09-30 03:55] #74 closed

[2020-09-30 04:06] #87 closed

[2020-09-30 04:08] #109 closed

[2020-09-30 05:03] #144 closed, assigned to nobody

[2020-09-30 06:11] #128 closed, assigned to carolinan

[2020-09-30 06:26] aristath commented on #159
True... but it's not a theme issue. It should be in the editor itself, so I think it's OK if we don't worry about older versions here.

[2020-09-30 08:35] carolinan commented on #77
There are problems with several of the links in the footer and widget area, and to move forward we need the link styles to be merged asap.

[2020-09-30 09:09] nielslange commented on #36
@carolinan & @melchoyce I'm diving into the `:hover` and `:focus` states now.

[2020-09-30 09:47] carolinan opened #183 "Implement the design for the Pullquote block"
@melchoyce is this design correct?
There is one design for a quote, but I can't tell if it is for the quote block or pull quote block?

**This is the style inherited from Seedlet.**

### Front:

![pullquote_front](https://user-images.githubusercontent.com/7422055/94669057-0f3e4a80-0311-11eb-9d3e-65b83f14981a.png)

### Editor spacing problem:

![pq_editor1](https://user-images.githubusercontent.com

[2020-09-30 10:12] carolinan opened #184 "Implement the design of the quote block"
Current design:
![quote_](https://user-images.githubusercontent.com/7422055/94671989-e750e600-0314-11eb-8055-cb744631e61e.png)

In comparison to the pull quote these blocks only have one width and no color settings.
Related files:
https://github.com/WordPress/twentytwentyone/tree/trunk/assets/sass/05-blocks/quote

[2020-09-30 10:35] carolinan opened #185 "Color contrast is too low in striped table blocks."
**Describe the bug**
This is the only issue I could find when testing the current table block styles.

On dark backgrounds:
When a table block is added and the **striped** style is used,
the text color is white over a light colored background and the color contrast is too low.
This happens both in the editor and the front.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the customizer

[2020-09-30 10:45] carolinan opened #186 "Preformatted texts and Verse block causes horizontal scroll"
**Describe the bug**
Preformatted texts, both as blocks and in posts created with the classic editor,
overflow the width of the page and creates a horizontal scroll.

(This happens both in post/page content and comment content)

**To Reproduce**
Steps to reproduce the behavior:
1. Import the **[theme unit test](https://github.com/WPTT/theme-unit-test)**
2. On the front, open the posts called Page

[2020-09-30 11:00] carolinan commented on #183
Pullquotes in footer widgets:

With the current design, the wide pull quote is actually wider than the full width pull quote.
![pq_widget](https://user-images.githubusercontent.com/7422055/94677176-c68c8e80-031c-11eb-95c1-d1f3187f9371.png)

[2020-09-30 11:05] carolinan commented on #72
The text category blocks has been tested in post content and in the widget area, **but not inside columns or group blocks**.
Issues has been created for the problems that were found.
Notes: The list block looks broken when added in the widget screen itself, but works well on the front.

[2020-09-30 11:10] #44 closed

[2020-09-30 11:37] nielslange opened #188 "Update dependencies"
**Describe the bug**

⚠️ Not really a bug, but not a _Block pattern ideas_ or _Feature request_ either. Therefore reported as bug.

---

While running linting on SCSS filed, I noticed the following warning:

This seems to have been addressed already in https://github.com/WordPress-Coding-Standards/stylelint-config-wordpress/commit/0a7c161e48726b892d5c614f1a520b8fe2e3546c. Thanks for @fabiankaegy f

[2020-09-30 11:50] kjellr commented on #159
Agreed — an if we style that property here in our theme, we'd risk breaking things for future versions of the Gutenberg UI. I think it makes sense to leave this alone.

[2020-09-30 11:51] kjellr commented on #159
I'm going to close for now, but if folks disagree we can always reopen.

[2020-09-30 11:51] #159 closed, assigned to nobody

[2020-09-30 11:55] kjellr commented on #50
"is-style-twentytwentyone-border"

That class is added via a block style though, so while it is invisible to the user, they have standard Gutenberg UI to add and remove it.

I don't think so. There _is_ a standard practice for doing so (block styles). The problem is mostly that it doesn't quite make sense for us to adopt that for font weight here. There's already a PR for font-weight, and that's a

[2020-09-30 12:36] #110 closed

[2020-09-30 12:52] #82 closed

[2020-09-30 13:39] #37 closed

[2020-09-30 14:23] jffng opened #189 "Responsive menu: fix text overlapping and show site branding"
In the responsive menu, the menu link text text overlaps on scroll, and the site title + logo are hidden.

The design for the menu is here: (https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=487%3A61) shows.

@melchoyce I made a quick prototype in the "Expected" column below. The type styles and spacing are not there yet, but can you confirm or clarify the scroll behavior

[2020-09-30 15:39] acosmin commented on #189
What is the logic behind showing the logo in the mobile menu? It will only add more complexity, you'll have to consider that the title length can also be huge and images sizes differ. I would only keep the close button.

[2020-09-30 15:42] melchoyce commented on #189
Yeah, I think my mockup in this case complicated things more than it needed to. I like having the fixed "close," but I think we can nix including the site title/logo in the mobile menu, so we don't need to worry about size and overflow.

[2020-09-30 15:51] melchoyce commented on #117
It sounds like there isn't any guarantee widget blocks will launch with 5.6, unfortunately 😕 That would solve a lot of problems.

My general thoughts around this:
- We style the navigation menu widget similarly to the primary menu. Horizontal, not vertical.
- If someone includes a link to a popular social media site, we target that link with CSS and change from a label to an icon, similarly to how

[2020-09-30 16:04] #186 closed, assigned to nobody

[2020-09-30 17:25] jffng commented on #189
Is it okay that the text overlaps with the links? I think so but just want to confirm.

[2020-09-30 18:08] melchoyce commented on #189
Can we add a background color behind it? If so, I think that works.

The extra space at the top isn't ideal, but it's workable, IMO. If it bugs me I'll figure out another idea later, lol.

[2020-09-30 18:34] LittleBigThing commented on #57
Why don't we make the ‘retina logo‘ the default and drop the (theme) option? And simply recommend the higher (‘retina‘) image size. Or am I missing something?

[2020-09-30 19:15] #160 closed, assigned to nobody

[2020-09-30 19:39] LittleBigThing opened #193 "Decrease the line height of h1 titles"
The line height of the entry- and page-title seems much larger than in the prototype. I think the prototype suggests 105%, which is about 1.09375. Now, it's the default line height for headings (`--global--line-height-heading: 1.3`).

[2020-09-30 20:06] LittleBigThing commented on #122
I would also suggest to include as little images as possible if ‘real‘ images are included (see size and license). About 3 different formats might be sufficient and we could re-use the same image for patterns with more images? We might also use ‘empty‘ placeholder images when shipping?

[2020-09-30 20:08] pattonwebz commented on #193
Well spotted :)

As an aside here, and as a matter of personal preference, I think using `1.1` would be a better call than being so hyper specific with long point values like `1.09375`

[2020-09-30 20:18] luminuu commented on #188
The Stylelint Config WordPress package is set to `"stylelint-config-wordpress": "^17.0.0"` in the `package.json`, which is the most current available release. The commits have been done, but no further release was created.

From my understanding the package needs to be updated with a new release first before we can upgrade it in our package.json file.

[2020-09-30 20:23] LittleBigThing commented on #193
Yes, 1.1 was looking good. That is about 106%.

![Screenshot 2020-09-30 at 21 30 01](https://user-images.githubusercontent.com/5901923/94734909-3412dc00-036a-11eb-9402-6025886e8a13.png)

I am not sure if that makes a difference code-wise. I was wondering, however, how to implement it. For me, this value looks good over smaller screen sizes (title sizes, only 2 for now), although the font-size migh

[2020-09-30 20:38] fabiankaegy commented on #188
@luminuu Yes that is correct. This ticket was only created to keep a record so people who see the warning in their consoles know that it is something the team is aware of and to keep track of updating the dependency once a new release with the fix that nils linked to has been released. :)

[2020-09-30 20:51] 2ndkauboy commented on #185
@carolinan what have you done to get a lighter background color for the second row? In my tests only the first one got a background color.

[2020-09-30 21:33] naunha opened #195 "Home page being the latest posts"
Is it possible that, if the home page is chosen, the display of the latest posts, that these posts are displayed in summary form, instead of all the content? I'm new to github, but I'm really excited about this new theme. Thank you

[2020-09-30 21:43] naunha commented on #195
I think that this topic has already been addressed in this topic, excuse me - Add option to use excerpts on posts page (https://github.com/WordPress/twentytwentyone/issues/129)

[2020-09-30 23:02] melchoyce commented on #183
How would these designs work for quote and pullquote blocks?

![image](https://user-images.githubusercontent.com/2846578/94748377-2865ec00-034f-11eb-823e-d63502c6eb35.png)
[Figma](https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=1254%3A0)

-----

![image](https://user-images.githubusercontent.com/2846578/94748466-65ca7980-034f-11eb-9b6e-37ede4059f1f.png)
[Figma](https://

[2020-09-30 23:56] carolinan commented on #185
There is a background color option with a preset of colors in the block sidebar.

[2020-10-01 02:15] nielslange commented on #188
@luminuu You are correct and thanks @fabiankaegy for the additional context here. This issue is indeed to have it logged already, but no actions are possible yet.

[2020-10-01 05:05] carolinan commented on #36
Button blocks with custom styles (radius, colors,) still needs to be tested more, but lets close this and open individual issues for any new problems that we run into.

[2020-10-01 05:05] #36 closed

[2020-10-01 06:14] carike-codes commented on #167
:wave:
Nice to see you, Paal!

Yes. The one question is: "How can we colour system fonts to create the illusion of depth and create consistent styling?"
I think there is another though? "How can we use blocks themselves as decorative? (Borders, fill, etc.)"

Another option may be to add quasi-images in the form of patterns.

Just one example: The blog page may benefit from repeating (groups of) ti

[2020-10-01 06:48] #79 closed

[2020-10-01 06:48] #77 closed

[2020-10-01 06:51] #112 closed

[2020-10-01 07:12] #67 closed

[2020-10-01 07:19] carolinan opened #197 "The primary menu shifts the content to the left when opened"
**Describe the bug**
When the responsive /mobile version of the menu is opened, the content on the page below it, and the toggle button, shifts to the left.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a menu in the primary menu location
2. Reduce the browser window width
3. Toggle the menu
4. See error

**Expected behavior**
There should be no visual shift.

**Screenshots**
Image

[2020-10-01 07:23] carolinan commented on #184
New design:
Figma:
https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=1254%3A0

![94748377-2865ec00-034f-11eb-823e-d63502c6eb35](https://user-images.githubusercontent.com/7422055/94779717-b1b90500-03c7-11eb-9d3c-c778422c1718.png)

[2020-10-01 07:35] carolinan commented on #189
Overlapping them is a bad idea, because both the menu item links and the close button needs to be visible/readable and clickable.

[2020-10-01 07:36] carolinan commented on #195
Hi, thank you for your suggestion, I will close this, since it is a duplicate of the post you mentioned.

[2020-10-01 07:36] #195 closed, assigned to nobody

[2020-10-01 07:37] #185 closed, assigned to nobody

[2020-10-01 08:38] luminuu commented on #188
I have created a ticket at the `stylelint-config-wordpress` repository to raise this issue there: https://github.com/WordPress-Coding-Standards/stylelint-config-wordpress/issues/268

[2020-10-01 09:24] carolinan opened #200 "Update styles for the RSS block"
**Describe the bug**

When an RSS widget block is added in the post editor,
the bullet points in the list view are in the wrong position when the block is right aligned or centered aligned.
-Consider removing the bullets all together.

The list view does not look the same in the editor and the front.

**Front, centered:**
![RSS-listview-center-front](https://user-images.githubusercontent.com/74220

[2020-10-01 09:36] carolinan opened #201 "File block: Add an underline to the download link in the editor."
**Describe the bug**
At some point, the underline for the download link, `wp-block-file__textlink`, (not the button) was removed from the _editor_.
This needs to be added back so that the editor and front matches.

[2020-10-01 09:44] nielslange commented on #193
@LittleBigThing Will you create a PR for this issue or shall I create one?

[2020-10-01 09:46] nielslange commented on #200
I'll look into this issue now. 👀

[2020-10-01 10:13] carolinan opened #202 "Calendar widget and calendar block does not mach"
**Describe the bug**
The calendar widget and the calendar widget block does not match visually.
Some design guidance is needed here. I don't think that the grey background color for the table header fits.

**Widget**
(The width here is a non issue, it is placed inside the 3 column footer widget area)
![cal-widget](https://user-images.githubusercontent.com/7422055/94796298-dec4e200-03de-11eb-8b4c-2

[2020-10-01 10:28] LittleBigThing commented on #193
Ok, I will later today!

[2020-10-01 10:43] shamikakumar commented on #201
Can I work on this?

[2020-10-01 10:46] carolinan opened #203 "Social icons: The first icon is misaligned in the editor."
**Describe the bug**
When adding a social icon block in the editor, the first icon is displayed higher up compared to the rest:
_On the front, the icons are positioned correctly._

**Expected behavior**
I expect them to be aligned.

**Screenshots**
![icon-position](https://user-images.githubusercontent.com/7422055/94799835-0cf8f080-03e4-11eb-8d92-9379f28df07b.png)

[2020-10-01 10:51] carolinan opened #204 "Block Style: Social icons in the primary color"
**Describe the block style you're suggesting. What blocks does it include?**

The social icons should be available in the primary color.

**Mockups, Screenshots, or block HTML**
https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=269%3A55

[2020-10-01 11:00] carolinan commented on #201
@shamikakumar yes :)

[2020-10-01 11:12] carolinan opened #205 "The social icon block does not align to the right in the widget area"
**Describe the bug**
When the social icon block is added inside a widget area, the right alignment works on the widget screen, but not on the front.
Center and left aligns work correctly.

From @luminuu

**To Reproduce**
Steps to reproduce the behavior:
1. Install and activate Gutenberg to enable blocks in the widget screen
2. Add a social icon block
3. Align the block to the right
4. Go to the fr

[2020-10-01 11:30] carolinan opened #206 "The read more block is not contained inside the content area"
**Describe the bug**
When adding a read more block (.more-link), it is not aligned together with the rest of the content,
instead it is positioned all the way to the left.

Also reported by @LittleBigThing in https://github.com/WordPress/twentytwentyone/issues/129

**To Reproduce**
Steps to reproduce the behavior:
1. Add a read more block to a post
2. View a post archive
4. See error

**Expected b

[2020-10-01 11:45] carolinan opened #207 "Audio block: Improve focus style"
**Describe the bug**
When the audio block is added, it looks different in different browsers as expected, but the outer focus style in all browsers needs to be more visible.

In Firefox, there is no spacing between the element and the thin dotted outline so the outline is difficult to see.
In chrome, the focus is thicker, but there needs to be more spacing, see screenshot below.

**To Reproduce**

[2020-10-01 11:50] shamikakumar commented on #201
@carolinan I've added this in  ie-editor.css, is anything else required?

.wp-block-file .wp-block-file__textlink {
	text-decoration: underline;
}

[2020-10-01 12:00] nielslange commented on #206
Happy to take care of this one. 👨‍💻

[2020-10-01 12:18] nielslange opened #209 "Default button style on frontend is broken"
**Describe the bug**

The default button style on frontend is currently broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Import the [Theme Unit Test](https://github.com/WPTT/theme-unit-test)
2. Go to the homepage
3. Scroll down to post **Block category: Layout Elements**
4. See error

**Expected behavior**

The button should look like this as seen in https://github.com/WordPress/twent

[2020-10-01 12:40] carolinan commented on #209
I think it is most likely that the button is inheriting the text color of the group block?
If you create a new button outside the group, it should work correctly?

Update: Yes, I changed the text color the group block and the text color of the button that is placed inside it changed too.

It's because of:
[code]

[2020-10-01 12:44] nielslange commented on #209
Yes, seems to be a caching glitch. When not changing anything other that saving the post again, the button looks fine.

[2020-10-01 12:51] carolinan commented on #72
I did not find time to test the following today:
Latest Comments
Latest Posts
Columns-tested 5/10
Group
Image -tested 2/10
Gallery -tested 2/10
Cover
Media & Text -tested 2/10

[2020-10-01 13:11] 2ndkauboy commented on #185
Unfortunately it doesn't work yet for tables with a background set. Should I create a new issue for that? I'm already working on a patch.

[2020-10-01 13:14] nielslange commented on #203
Happy to grab this one as well, @carolinan. 👨‍💻

[2020-10-01 14:03] joyously commented on #167
text-shadow
box-shadow
gradients
masking http://thenewcode.com/1032/Easy-Cross-Browser-Text-Masks-with-Blend-Modes

Some feedback I had on my own theme was that it was too hard to read the text because of shadows and gradients(and there isn't that much), but this was from someone who is partially color-blind and so everything looked a bit blurry. If you put a lot of lines (borders, underlines), it

[2020-10-01 14:53] aristath commented on #185
Yes, a new issue would work best for this :+1:

[2020-10-01 15:02] naunha opened #213 "Title page latest posts"
When I install the theme, in the Settings > Reading wordpress panel, it is defined that the homepage is "A new portfolio default theme for WordPress" and the posts page is "Blog". When I change it so that the home page is the one with the latest posts, the title "Blog" remains on this page.
![Screenshot (6)](https://user-images.githubusercontent.com/5017547/94826708-f8195e80-03dd-11eb-9af3-69ca3ef

[2020-10-01 15:45] carolinan commented on #201
We are updating the documentation for contributing, but you need to make the change to the scss file and compile it to create the updated css files.
https://github.com/WordPress/twentytwentyone/blob/trunk/CONTRIBUTING.md

Each block that needs styling has its own scss file.
The file you need to change is in this directory:
https://github.com/WordPress/twentytwentyone/tree/trunk/assets/sass/05-bloc

[2020-10-01 16:33] shamikakumar commented on #201
![](https://user-images.githubusercontent.com/26432407/94837087-6cc9b880-0431-11eb-897b-9812669cd644.png)

@carolinan, the `text-decoration` for the link seems to match with the front, however I noticed the underline seems to be missing for the download button in the editor.

[2020-10-01 16:46] shamikakumar commented on #201
I've added this rule to the `_editor.scss` file and compiled it.

[code]

No errors were found on testing.

[2020-10-01 17:46] melchoyce commented on #129
We talked [a little bit about this on Figma](https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2?node-id=363:0#40271801) and landed on "show full posts on the blog page, but only show excerpts on archive pages." I also think it makes sense to show excerpts on the blog if one is manually written in the excerpt field, but if no custom excerpt is entered, show the full post. Does that make sense?

[2020-10-01 17:51] melchoyce commented on #175
Labeling out of scope and closing for now — we'll move over to the FSE repo whenever that gets created.

[2020-10-01 17:51] #175 closed, assigned to nobody

[2020-10-01 18:05] melchoyce commented on #177
Two ideas:

## Navigation and Pagination
<img src="https://user-images.githubusercontent.com/2846578/94846212-c361d300-03ee-11eb-8529-5cb18701c942.png" width="350">
<img src="https://user-images.githubusercontent.com/2846578/94846272-dd9bb100-03ee-11eb-8bab-b116ea6d4fc1.png" width="350">
(Overflow)

## Just Pagination
<img src="https://user-images.githubusercontent.com/2846578/94846336-f86e2580-03

[2020-10-01 18:06] zakoops opened #218 "A Cover Template for TT1?"
Shouldn’t we provide also for a **cover template** (looking quite good in _Twenty Twenty_)?

Mockups from _figma_ file are enclosed for some ideas.

### Take One
![tt1-light-header](https://user-images.githubusercontent.com/36708697/94846293-e55b5580-03ee-11eb-8714-a856e07a2f99.jpg)

### Take Two
![tt1-dark-header](https://user-images.githubusercontent.com/36708697/94846289-e42a2880-03ee-11eb-8345

[2020-10-01 18:11] melchoyce commented on #189
I think that can be worked around by scrolling, but mobile navigation is already a pain, and I don't want to make it harder... To mitigate that usability issue, let's go with this version, sans-site title:

![image](https://user-images.githubusercontent.com/2846578/94846792-b7c2dc00-03ef-11eb-8cef-e32bdfe88363.png)

[2020-10-01 18:14] melchoyce commented on #202
I'll design a view for both.

[2020-10-01 18:27] ZebulanStanphill commented on #129
That's assuming everyone uses the excerpt field. I know a lot of people don't. I think there should at least be an option to use auto-excerpts on the blog page for posts with no dedicated excerpt. Maybe other people's expectations are different, but I don't expect to see the entirety of posts listed on a blog page. I guess I expect a blog page to act more like a "latest posts" archive that gives a

[2020-10-01 18:33] melchoyce commented on #207
Solid focus style:

<img src="https://user-images.githubusercontent.com/2846578/94848619-40db1280-03f2-11eb-935e-5681770e0c4a.png" width="600" />
<img src="https://user-images.githubusercontent.com/2846578/94848687-5bad8700-03f2-11eb-94a7-7c6d1ccd191c.png" width="600" />

[code]

Alternately, dotted like buttons:

<img src="https://user-images.githubusercontent.com/2846578/94848758-754ece80-03f2-1

[2020-10-01 18:38] melchoyce commented on #129
Where would you look to find this setting?

[2020-10-01 18:41] ZebulanStanphill commented on #129
@melchoyce I guess under a Customizer section titled "Blog", or at least a "Theme Options" section like what Twenty Twenty has:

![image](https://user-images.githubusercontent.com/19592990/94849834-a2e44980-03eb-11eb-9667-eb0a0082b18f.png)

[2020-10-01 19:08] melchoyce opened #219 "Recent Posts Widget: Update Design"
Before | Updated Design
------------ | -------------
![image](https://user-images.githubusercontent.com/2846578/94852384-d0cf8b00-03f7-11eb-8358-df73605ef1cc.png) | ![image](https://user-images.githubusercontent.com/2846578/94852801-6bc86500-03f8-11eb-8079-9a322f952822.png)

[Mockups in Figma](https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=1272%3A386)

[2020-10-01 19:11] melchoyce opened #220 "Recent Comment Widgets: Update Design"
Current | Updated Design
------------ | -------------
![image](https://user-images.githubusercontent.com/2846578/94852589-1d1acb00-03f8-11eb-88e8-10eafac9b28d.png) | ![image](https://user-images.githubusercontent.com/2846578/94852858-7e429e80-03f8-11eb-8d5f-7b2bd9c3a5a2.png)

[Figma mockups](https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=1272%3A386)

[2020-10-01 19:13] melchoyce opened #221 "Tag Cloud Widget: Update Design"
Current | Updated Design
------------ | -------------
![image](https://user-images.githubusercontent.com/2846578/94852978-a8945c00-03f8-11eb-97e6-22ad1c1945dc.png) | ![image](https://user-images.githubusercontent.com/2846578/94852927-97e3e600-03f8-11eb-9151-ba5f7b2b91b7.png)

[Figma mockups](https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=1272%3A386)

[2020-10-01 19:32] melchoyce opened #222 "Pages Widget: Update Design"
Current | Updated Design
------------ | -------------
![image](https://user-images.githubusercontent.com/2846578/94854699-4f79f780-03fb-11eb-9c30-c73000137f1d.png) | ![image](https://user-images.githubusercontent.com/2846578/94854679-47ba5300-03fb-11eb-849f-6a5f1547fab9.png)

[Figma mockups](https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=1272%3A386)

[2020-10-01 19:34] melchoyce opened #223 "Archives Widget: Update Design"
Current | Updated Design
------------ | -------------
![image](https://user-images.githubusercontent.com/2846578/94854821-7e906900-03fb-11eb-926e-d63cb7b7f53c.png) | ![image](https://user-images.githubusercontent.com/2846578/94854829-83edb380-03fb-11eb-9e00-359a36277b19.png)

[Figma mockups](https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=1272%3A386)

[2020-10-01 19:35] melchoyce opened #224 "Categories Widget: Update List Design"
Current | Updated Design
------------ | -------------
![image](https://user-images.githubusercontent.com/2846578/94854864-9667ed00-03fb-11eb-8971-502d138a1963.png) | ![image](https://user-images.githubusercontent.com/2846578/94854885-9ec02800-03fb-11eb-83d2-0a58f9f3f15a.png)

[Figma mockups](https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=1272%3A386)

[2020-10-01 19:40] melchoyce opened #225 "Search Widget: Update Design"
Current | Updated Design
------------ | -------------
![image](https://user-images.githubusercontent.com/2846578/94855143-0f674480-03fc-11eb-8bf6-ddccb075cf08.png) | ![image](https://user-images.githubusercontent.com/2846578/94855277-42113d00-03fc-11eb-8259-138c31d5951b.png)

[Figma mockup](https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=1272%3A386)

[2020-10-01 20:00] 2ndkauboy opened #226 "Color contrast to low for tables with a background color set"
**Describe the bug**

This is a similar issue to #185

All background color that can be chosen from the table block are light. Currently with a dark background the theme is using a light color for the text. This results in unreadable text with almost any available background color.

There is a second issue with tables using the stripes style and having a background color set, showing an additional

[2020-10-01 20:30] luminuu commented on #183
@melchoyce Do we get the quote icon as SVG? Using the system font, I get this (sneaked the code from Twenty Twenty):

![grafik](https://user-images.githubusercontent.com/7585600/94859945-a56b9100-0435-11eb-8c84-4ca01c88139e.png)

[2020-10-01 20:45] helen commented on #167
Do you think that the issue is about how the theme shows their existing content or is it more about how they see the new theme working for future content?

[2020-10-01 21:40] melchoyce commented on #183
Let's go with the text quotation for now — we can switch it out later if it ends up looking weird in content. Let's just make sure we use [smart quotes](https://smartquotesforsmartpeople.com/) when adding the character. (There's no visual difference in SF, I think, but there is a visual difference in some of the other fonts in the stack.)

[2020-10-02 05:34] #203 closed, assigned to nobody

[2020-10-02 05:48] carolinan commented on #225
Does this style change also apply to the other search forms?

[2020-10-02 05:49] carolinan commented on #224
I believe all the widget lists can be addressed at the same time.

[2020-10-02 07:42] nielslange commented on #224
Related issues: https://github.com/WordPress/twentytwentyone/issues/222 & https://github.com/WordPress/twentytwentyone/issues/223

[2020-10-02 07:47] briceduclos opened #231 "Consider adding an inner container inside the header"
A possible improvement to the theme would be to add an inner container inside the site header. Adding it would make the markup more consistent with the future FSE version. With FSE, we’ll use a group block (which has an inner container) to create the header.

https://github.com/Automattic/themes/blob/9a6d0378ad15f304fb720d5eb441cc33610d6256/seedlet-blocks/block-templates/index.html#L1-L3

The inne

[2020-10-02 09:17] briceduclos opened #232 "Option to hide the author’s biography"
With Twenty Twenty One, the author's biography with its avatar always appears on single posts. Some users might want to hide it.
Twenty Twenty has an option inside the Customizer to hide the biography while Seedlet & Twenty Twenty Nineteen only displays it if the user has entered a description:
`if ( (bool) get_the_author_meta( 'description' ) ) :`

[2020-10-02 09:50] briceduclos commented on #57
Currently, the retina option scales the logo to half its uploaded size (x2). However, more and more devices now have higher screen density (x3.5). So a x2 logo would appear blurry and not sharp on them. As it’s not possible to upload svg, a solution might be to replace the “Retina logo” checkbox with a “Logo width” input number.

[2020-10-02 09:57] aristath commented on #57
TBH I don't think we even need a retina option... As mentioned above most devices nowadays are hi-res. Additionally, logos are by definition small in size and therefore filesize. Users can upload a 700px-wide logo if they want, and it will be constrained to the dimensions specified. Works perfectly fine for all devices and the worst that can happen is lo-res devices downloading a couple of extra k

[2020-10-02 11:17] audrasjb opened #233 "Block patterns should provide a description"
**Describe the bug**
Twenty Twenty One block patterns should provide a description, just like the core bundled ones.

[2020-10-02 11:56] #233 closed, assigned to audrasjb

[2020-10-02 12:13] pattonwebz commented on #57
HTML has a method to handle this - via `srcset` - which accounts for images for those who have different pixel densities. If we explicitly add retina logo support in the theme we should use the `srcset` for it.

If we just implement a method where size is set and we would expect users to upload images that are multiples of the fixed size how and where do we instruct them to do it?

[2020-10-02 12:30] kishanjasani commented on #221
@melchoyce It's great but what if I have 100 tags? It will break the design because we do not have options in the tag cloud widget like how many tags we want to display so it may cause design issues. Please put your thoughts here. So I can go further with it.

[2020-10-02 12:41] aristath commented on #57
We don't. Users are not _expected_ to upload a logo multiple times the size used... Whatever they upload will be used :laughing:

[2020-10-02 12:46] pattonwebz commented on #57
Is that just not having explicity support for a retina logo then? :laughing: That suit me though :stuck_out_tongue:

[2020-10-02 12:53] aristath commented on #57
If by "explicitly support" we mean having a different implementation for retina logos and requiring users to upload 2 logos (one for normal and one for retina) then yes, I'd rather not have it explicit but implicit. Visually indistinguishable result, half the cognitive load for users and lighter implementation for the theme.
The theme does have retina logo support - provided the user uploads a lar

[2020-10-02 12:56] pattonwebz commented on #57
:+1: :heart:

[2020-10-02 13:04] kishanjasani commented on #224
Yes, all the widget lists can be addressed at the same time. I have created a PR for this one which covers most of the widget style that you have described in Figma.
The category widget issue will also cover by this PR.

PR Reference: #235

[2020-10-02 13:07] kishanjasani commented on #222
The issue is resolved in PR: #235

[2020-10-02 13:09] kishanjasani commented on #220
The issue is also resolved in PR: #235

[2020-10-02 13:13] kishanjasani commented on #219
The issue is also resolved in PR: #235

[2020-10-02 13:29] carolinan opened #236 "Media & Text: Full width issues"
**Describe the bug**

**1)** When a stacked full width media and text block with the border style is added,
the left most border is cut off on smaller screens.

**2)** When a stacked full width media and text block without a border is added, there is no spacing between the text and the edge of the browser.
-I am not sure if this is intended since it is a full width block, but for me the text is mo

[2020-10-02 14:02] carolinan opened #237 "Left and right aligned gallery blocks are not aligned on the front"
**Describe the bug**
When a gallery block is added and aligned to the right or left,
it does not look the same in the editor and on the front.

On the front, the gallery keeps the normal width and is not aligned.
The images are not reduced in size in the same way they are presented in the editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a gallery block to a post or page
2. Align i

[2020-10-02 14:09] LittleBigThing commented on #57
We do suggest a logo size (Twenty Nineteen):

<img width="321" alt="Screenshot 2020-10-02 at 16 05 37" src="https://user-images.githubusercontent.com/5901923/94932416-53744b00-04c9-11eb-8b14-70766dfe097d.png">

And the custom logo has support for responsive images. So we could suggest to upload a larger sized images but don't restrict anything size-wise? If it smaller, it is smaller and not that c

[2020-10-02 14:12] aristath commented on #57
Well, then we can just change the recommended size there and be done with it :+1:

[2020-10-02 14:17] carolinan opened #238 "Gallery block: Small gallery images with captions and links are not clickable"
**Describe the bug**
When a gallery image is very small and has both a link and a caption, the caption covers the clickable area of the image.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a gallery block to a post or page
2. Add a caption to the image
3. Select one of the link options in the block sidebar
4. Set the gallery so that the images are fairly small
5. save and view the erro

[2020-10-02 14:20] LittleBigThing commented on #57
In Twenty Twenty, we adjust the HTML width and height attributes. I'll link the function that was used. But that might not be necessary without having the option.
https://github.com/WordPress/twentytwenty/blob/6d0a5240af108d02f58ec797fd49b32458a4c698/functions.php#L274

[2020-10-02 14:46] carolinan opened #240 "Image block: full width issues."
**Describe the bug**
The image block has similar problems as described in https://github.com/WordPress/twentytwentyone/issues/236
but I only see the issues in Firefox.

There is a horizontal scroll on smaller screens when a full width image block is added,
with and without border or framed border.

The left border is not visible on smaller screens when a full width image block with a border or fra

[2020-10-02 14:53] melchoyce commented on #225
It depends. On the 404 page, for example, I think it makes sense for the search button to be primary, because that's the only action on the page. A search widget that appears in every footer is secondary, or even tertiary, so it doesn't need as much attention.

Because the space is much smaller in the footer, I tried removing the spacing between the input and button. If that's a pain, though, we c

[2020-10-02 15:01] melchoyce commented on #57
Doesn't WordPress resize the image you choose for a logo to make the size match the specified logo width, though? Even before we added this setting, if I uploaded a 2000px wide image, it still got super crunched and fuzzy.

[2020-10-02 15:19] carolinan opened #242 "Include the privacy policy link"
**Is your feature request related to a problem? Please describe.**
The theme does not currently show the privacy policy link.
If we want to show it, where (in the footer) would it be placed?

[2020-10-02 15:35] luminuu commented on #242
I think it should always be a part of a menu. In Germany for example, we need another page called "Impressum" with legal details and usually this one and the privacy policy page go together. I always put them in a menu and display them somewhere in the footer.

[2020-10-02 15:41] carolinan commented on #242
there is no footer menu :)

[2020-10-02 15:44] melchoyce commented on #232
This approach makes the most sense to me — let's add this in.

[2020-10-02 15:46] pattonwebz commented on #232
I can take on the change needed for this then unless @briceduclos wants to take care of it in a PR before me :)

[2020-10-02 16:11] kjellr opened #243 "Reconsider bundled images"
This ticket is to extend the discussion that began in #1. From @melchoyce:

The imagery used today in the theme is of Van Gogh paintings. Images that are bundled with the theme appear in starter content, block patterns, and theme screenshots.

[2020-10-02 16:12] luminuu commented on #113
Waiting on #1 and will be added shortly before Beta 1.

[2020-10-02 16:12] kjellr commented on #1
Just noting that I've broken the images discussion out into its own ticket here: #243

Since the images effect more than just the starter content.

[2020-10-02 16:29] ryelle commented on #57
The `get_custom_logo` function will get the full logo image, but whether it's cropped or not depends on the `flex-*` properties here

https://github.com/WordPress/twentytwentyone/blob/118e3d585da225fe600d2ee6c77bc955a62e42cf/functions.php#L98-L99

With both of those set to `true` (which they are in Twenty Twenty), the image is not strictly cropped to the given size, so you can upload a 2000x2000 i

[2020-10-02 16:49] melchoyce commented on #117
We discussed this in today's [bug scrub](https://wordpress.slack.com/archives/C02RP4VMP/p1601656298186700). We're going to hope widget blocks make it into 5.6, and will chat in our Monday meeting about whether or not it makes sense to add a menu location to the footer. Pending that conversation, we might close this issue.

[2020-10-02 16:51] marybaum commented on #119
How about:

[2020-10-02 18:04] melchoyce commented on #238
Looks like this is a Gutenberg bug — I'm able to reproduce using different themes, including the Gutenberg starter theme. Seems like something we should tackle in Gutenberg itself.

[2020-10-02 18:37] melchoyce commented on #221
Good point, let's leave it as-is. Going to close this issue.

[2020-10-02 18:37] #221 closed, assigned to nobody

[2020-10-02 19:17] luminuu commented on #73
![Bildschirmfoto am 2020-10-02 um 21 15 21](https://user-images.githubusercontent.com/7585600/94961170-6cdebc80-04f4-11eb-8b9d-fbc7ea7ed345.png)

So I've been just testing the mobile version of the search results screen, I think we do not want to have the search results headline break like this?

The code which causes this can be found here: https://github.com/WordPress/twentytwentyone/blob/trunk/

[2020-10-02 19:19] melchoyce commented on #73
Good catch, let's get rid of that property.

[2020-10-02 20:32] melchoyce opened #247 "Hide homepage title"
Let's remove the whole `.entry-header` on the front page. The site title already serves as an `h1`, so we shouldn't need to worry about any a11y repercussions, I believe?

[2020-10-02 21:41] melchoyce commented on #46
Thanks @ellenbauer! Great inspiration source.

I tried a bunch of combinations of our recommended colors in the editor:

![image](https://user-images.githubusercontent.com/2846578/94971787-d56a7100-04d5-11eb-9094-7a07c2afb60e.png)

Overall, they looked nice. I noticed:
- All of them look great when inside a block with the border style
- The lighter colors don't look as good against the default min

[2020-10-03 02:23] #207 closed, assigned to carolinan

[2020-10-03 04:14] carolinan commented on #1
For the title, lets move "Portfolio" out of it and just have "A new default theme for WordPress"

[2020-10-03 04:34] LittleBigThing commented on #242
Adding the privacy link (in a footer menu) is mentioned in #148 as well.

It could also be added (in the footer) automatically using [`the_privacy_policy_link`](https://developer.wordpress.org/reference/functions/the_privacy_policy_link/). This would be less flexible, however.

Another option would be to have the user add it to a footer widget manually. This could be problematic since the placemen

[2020-10-03 04:51] LittleBigThing opened #251 "Site title and tagline are removed completely when display option unchecked"
When the option to display the site title and tagline is unchecked in the Customizer, the site branding is removed completely. The template part is [not included](https://github.com/WordPress/twentytwentyone/blob/691ae72442f425beceec347088ea4c2c3d6f5474/template-parts/header/site-branding.php#L10) anymore, even when there is no custom logo added.

Shouldn't we rather make them visually hidden for

[2020-10-03 05:13] carolinan commented on #1
Something like this?
It is still too much content. I don't want to tell you how many spacer blocks are used ;)

![start](https://user-images.githubusercontent.com/7422055/94983981-cae8bf80-0547-11eb-9686-1d06aa81033b.png)

[2020-10-03 05:20] carolinan commented on #251
The site title is already used as the document title, but yes there should be an H1 heading on the archive pages even if the site title is hidden.

Scratch that, the archive and search heading is already an H1, so it would only be for the front page.

[2020-10-03 06:50] #149 closed, assigned to nobody

[2020-10-03 07:01] carolinan commented on #157
I have confirmed that this problem has been solved, there is no visible underline anymore.
The focus style is clear, even if it is not so pretty, and the mouse icon changes when the user hovers over the image.

[2020-10-03 07:01] #157 closed, assigned to nobody

[2020-10-03 10:43] TeBenachi opened #253 "Numbers break in Calendar widget"
In the calendar footer widget, the numbers seem to break on the mid size screen.
I’ve tested on Firefox with the screen size somewhere between 822px to 1160px.

<img width="839" alt="Screen Shot 2020-10-03 at 6 16 27 AM" src="https://user-images.githubusercontent.com/30734209/94989451-ea311e00-0542-11eb-9a98-6d41b1e4d11f.png">

[2020-10-03 11:43] carolinan commented on #238
There might be open issues for it in the Gutenberg repo, I did not check, but for now I added the label.

[2020-10-03 11:50] #201 closed, assigned to nobody

[2020-10-03 11:57] carolinan commented on #232
With the profile removed, the post has no other author name, I don't think that is ideal for example when there is more than one author.

Design guidance is needed if we want to place the name else where, in the footer meta information for example.

[2020-10-03 12:52] omnisite commented on #253
Seems to be because of "word-break: break-all;" on the table td. You could change that for the calender widget class. But also mind that the .widget-area in the footer goes out of the container (in Chrome) from 822px up to 910px. So between those resolutions, the grid of 3 should also be addressed.

[2020-10-03 14:05] carolinan commented on #253
Hi, we are waiting for the final design of the calendars, this can be addressed with the updated design.

[2020-10-03 16:17] LittleBigThing commented on #46
I don't think you can. The color-stops can (now) only be presets. There are some cool presets in the Seedlet theme and how [they](https://github.com/Automattic/themes/blob/6ce76efc2685c83cda7a08a582d79fbe6c1722ce/seedlet/functions.php#L204) are [added](https://github.com/Automattic/themes/blob/6ce76efc2685c83cda7a08a582d79fbe6c1722ce/seedlet/assets/sass/blocks/utilities/_style.scss#L309).

I made

[2020-10-03 16:21] LittleBigThing commented on #46
I was wondering whether we can change the initial colors of the custom gradient picker to match the theme‘s color palette.

**From:**
![Screenshot 2020-10-03 at 18 18 38](https://user-images.githubusercontent.com/5901923/94996439-0e254b80-05a5-11eb-86b5-7b93edf767a3.png)

**To:**
![Screenshot 2020-10-03 at 18 19 33](https://user-images.githubusercontent.com/5901923/94996445-154c5980-05a5-11eb-85f4

[2020-10-03 17:17] carolinan commented on #193
Closing this, as the pull request has been merged. Thank you!

[2020-10-03 17:17] #193 closed, assigned to nobody

[2020-10-03 17:19] #73 closed

[2020-10-03 18:01] #247 closed, assigned to nobody

[2020-10-03 18:30] luminuu opened #261 "Group block: dark color schemes don't work with light background"
**Describe the bug**
When a dark color scheme is chosen, any group / media and text / cover blocks have a light background but also a light font color.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Customizer
2. Choose one of the dark color schemes
3. Create post with blocks using background colors (group, media/text, cover)
4. Font color is also light

**Expected behavior**
Make sure

[2020-10-03 18:46] #205 closed, assigned to carolinan

[2020-10-03 18:49] #204 closed, assigned to nobody

[2020-10-03 19:17] #213 closed, assigned to nobody

[2020-10-04 05:00] carolinan commented on #50
Block patterns can add CSS class names that are visible in the additional CSS class field too.

[2020-10-04 06:42] Rainbow-Ninja commented on #224
Is this a HacktoberFest issue? If so can I complete this?

[2020-10-05 02:30] melchoyce commented on #232
I'll mock something up tomorrow 👍

[2020-10-05 11:09] carolinan opened #270 "Columns block spacing"
**Describe the bug**
Compare the screenshots below, the first is a columns block with mixed content in the editor,
and the second is the same content on the front.

On the front, there is a left and right padding added to the columns block, is that intended?

The group block with the black background, seen in the center, is full width.
This seems to remove the blocks vertical spacing in the editor

[2020-10-05 12:06] #236 closed, assigned to nobody

[2020-10-05 12:06] #240 closed, assigned to nobody

[2020-10-05 12:06] carolinan opened #271 "Add clearing after the last block in the widget area"
**Describe the bug**
If the last item in the widget area has a left or right alignment, it overlaps the next element.
Admittedly, I only tested with image and the social icon block. The quick and easy solution would be to add clear: both to the site info.

![widget-clear](https://user-images.githubusercontent.com/7422055/95077504-e6082a80-0713-11eb-94db-ee6c5909254f.png)

**To Reproduce**
Steps to

[2020-10-05 12:28] carolinan opened #272 "Post pagination does not fit on screen when there are many pages"
**Describe the bug**
This is related to the "newer and older" posts pagination on the blog and archives.

When there are lots of pages, and the width is below 550px (likely depends on the number of pages, in my case, 78)
the pagination no longer fits on the screen.

In the screenshot, I am on page 9, and the full text is not visible.

![pagination](https://user-images.githubusercontent.com/7422055

[2020-10-05 13:33] #272 closed, assigned to nobody

[2020-10-05 14:03] #209 closed, assigned to nobody

[2020-10-05 16:45] carolinan opened #275 "Single view: Featured images are too close to the title"
**Describe the bug**

When a post or page has a featured image, there is very little vertical spacing between the title and the image.
I believe this happened when the featured image was moved inside the posts `header` tag.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a featured image
2. View the front.

**Expected behavior**
There should be 100px spacing between the two elements as s

[2020-10-05 16:53] carolinan commented on #57
Who can work on a second pull request to remove the retina logo option and related code?

[2020-10-05 17:05] carolinan opened #276 "Remove remaining todos and WIP's"
**Describe the bug**
There are some TODOS and one WIP left in the code.
You find these by searching the theme files for "TODO" and "WIP"
They all have open issues and can be removed.

[2020-10-05 17:07] ryelle commented on #57
I've got one in progress, I just got sidelined by some of the responsive code. I can have it up today though :)

[2020-10-05 19:05] paaljoachim opened #278 "Improving the Separator Block - Gutenberg issues/PRs"
**Is your feature request related to a problem? Please describe.**
It would be nice to get improvements/options into the Separator Block as it could help improve the design.

![Screen Shot 2020-10-05 at 20 44 05](https://user-images.githubusercontent.com/5323259/95119001-8f1e4780-074b-11eb-9353-88c136aaaebb.png)

Existing Gutenberg issues/PR's:
**Separator Block: Add support for wide/full-width ve

[2020-10-05 19:14] melchoyce commented on #278
![image](https://user-images.githubusercontent.com/2846578/95121713-6bdca380-071d-11eb-8038-455b8724c86a.png)

[Figma mockup](https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=1394%3A0)

Unsure about the dots — right now it's just using the • • • characters. There's more potential for an interesting divider here. @ellenbauer do you have any ideas?

[2020-10-05 19:16] paaljoachim opened #280 "Moving the Post/page title to the top mid bar area."
**Is your feature request related to a problem? Please describe.**
In Full Site Editing there are explorations going on in relation to moving the post/page title to the top bar mid area.

It would be nice to get the post/page title to the top bar for Gutenberg plugin version 9.2. Have the new Post/Page Title block in place. Making it possible to add a Cover Block and the Post/Page title block into

[2020-10-05 19:36] melchoyce commented on #232
Two ideas:

![image](https://user-images.githubusercontent.com/2846578/95123808-86644c00-0720-11eb-954d-4d7a58ccc693.png)

[2020-10-05 20:46] melchoyce commented on #202
<img src="https://user-images.githubusercontent.com/2846578/95130084-0511b700-072a-11eb-9530-31ab4add49e9.png" width="420" />

[Figma mockup](https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=1394%3A202)

[2020-10-05 20:51] #237 closed, assigned to nobody

[2020-10-05 21:26] #177 closed, assigned to melchoyce, carolinan

[2020-10-05 21:29] melchoyce opened #282 "Update design of floated pullquotes"
Moving this over from #229:

![image](https://user-images.githubusercontent.com/2846578/95134058-3a210800-0730-11eb-905d-2a59ce7e741f.png)

[2020-10-05 21:33] melchoyce commented on #253
I think the numbers might have to break, given the space constraints. A lower line-height could help here.

[2020-10-05 21:34] melchoyce commented on #280
Thanks @paaljoachim, can you make a new issue for this after beta 1, when we open up a new repo for the FSE-supported version of Twenty Twenty-One?

[2020-10-05 21:34] #280 closed, assigned to nobody

[2020-10-06 01:58] #226 closed, assigned to nobody

[2020-10-06 02:04] #232 closed, assigned to melchoyce, pattonwebz

[2020-10-06 02:22] #275 closed, assigned to nobody

[2020-10-06 02:52] carolinan opened #287 "Menu: Clicking the button no longer closes the sub-menu"
**Describe the bug**
Clicking the button with the `-` icon no longer closes the sub-menu.
Clicking the button once also locks the sidebar so that moving the mouse does not close the sub menu.
Clicking outside still closes it correctly.

Moving focus to the button with tab and pressing enter or space still works correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Hover over a menu item

[2020-10-06 02:56] carolinan opened #288 "Sub-menu: Add bottom padding/spacing"
**Describe the bug**
The last item in the sub-menu, or the sub-menu list itself, needs some more spacing at the bottom:
See screenshot.

![the sub-menu is missing space after the last menu item](https://user-images.githubusercontent.com/7422055/95153657-3fae3a80-0790-11eb-8a96-2cdf724883d8.png)

[2020-10-06 04:40] carolinan commented on #270
After a conversation on Slack, it was decided that the left and right padding on the outside of the full width columns block should be removed.

[2020-10-06 06:54] #287 closed, assigned to aristath

[2020-10-06 08:21] paaljoachim commented on #280
Hey Mel @melchoyce

The more I think about this the more I also realize that we can not move the page/post title to the top mid bar (for the Post Editor) before this has landed in Full Site Editing (Site Editor). So yes, I will bring it up again after beta 1 is in place and FSE has also made the change.

Btw
It would be nice to add somekind of message to p2 saying that there will be two versions o

[2020-10-06 11:51] #251 closed, assigned to carolinan

[2020-10-06 12:33] carolinan opened #296 "IE11: The menu does not work"
**Describe the bug**
-The toggle button to open and close the responsive menu is not working.
-The toggle button for the submenu items is invisible and does not work.

-I think that for this browser, displaying all menu items without toggle is acceptable.

JS errors:
`twentytwentyoneExpandSubMenu is not defined`

`invalid character on:     mobileButton = document.getElementById( `${ id }-mobile-me

[2020-10-06 14:04] melchoyce commented on #280
We included the information in the kick-off post: https://make.wordpress.org/core/2020/09/23/introducing-twenty-twenty-one/

[2020-10-06 14:08] #276 closed, assigned to nobody

[2020-10-06 14:13] aristath commented on #296
The problem here is the use of syntax non-compatible with IE, particularly the use of backslashes to concat strings.
These issues were fixed in https://github.com/WordPress/twentytwentyone/pull/269 so as soon as that get merged the JS part will be OK.
The CSS part is different, we'll need to do something about these scrollbars 🤔

[2020-10-06 14:48] #288 closed, assigned to nobody

[2020-10-06 14:56] carolinan commented on #270
As a follow up to 297, paragraphs and headings inside the first and last column needs to have padding so that there is space between the text and the edge of the browser window.

Are there any other blocks that needs this padding?

[2020-10-06 15:16] JustinyAhin commented on #270
I think all blocks except list block (which already have a padding) would need this padding.

I'm going to test all of them and create PRs if necessary.

[2020-10-06 16:00] JustinyAhin commented on #271
Applying `clear: both` to the last children of the widget area doesn't fix the issue.

Instead, doing so on the widget area itself solve this. However, it added bottom spacing between the children and the separator that is larger than the normal. This would need broader exploration.

PR coming in a couple of minutes.

[2020-10-06 21:58] #46 closed

[2020-10-06 22:04] melchoyce commented on #282
If we wanted to get fancy and do outdented pullquotes, using alignleft/right:

![image](https://user-images.githubusercontent.com/2846578/95265055-6b680980-07fe-11eb-819c-2e1a8c930df8.png)

[2020-10-06 22:53] melchoyce opened #302 "Navigation Menu: Remove extra right margin on dropdown items"
When a navigation menu item has a dropdown, there's extra space added for the + sign, in addition to the `margin-right` on the list item:

![image](https://user-images.githubusercontent.com/2846578/95268203-d6b4da00-0804-11eb-8e45-a10842fe27d0.png)

Could we remove that margin for all navigation items with dropdowns (`.menu-item-has-children`), so the spacing feels a little more even?

![image](ht

[2020-10-07 00:40] carolinan commented on #282
This is one of the designs that look great but caused a lot of CSS problems and delays for Twenty Twenty.

I would rather not add more alignmet additions because adding more :not styles to the base widths causes problems for other blocks including third party.

[2020-10-07 02:39] melchoyce commented on #282
Yikes, nevermind — we can close this when #295 merges, then.

[2020-10-07 02:40] carolinan opened #304 "Task: Writing test cases"
The theme is currently targeted to support WordPress 5.3 and newer and the following browsers:
https://make.wordpress.org/core/handbook/best-practices/browser-support/

The reason for selecting this version, is that this is when block markup started becoming more stable.  Among other things, the group block was introduced. Going back further would mean that the theme would need to include more fal

[2020-10-07 03:00] carolinan opened #305 "Task: Testing"
The theme needs to be tested on WordPress 5.3 and newer.

Older version of WP can be installed using **wpenv** which is already available to install with this theme (with npm and Docker).
### Before starting wpenv, the version must be changed in the file `.wp-env.override.json`
https://developer.wordpress.org/block-editor/packages/packages-env/#wp-env-override-json
https://developer.wordpress.org/

[2020-10-07 04:00] carolinan opened #307 "Mobile/responsive site title spans half the width when there is no menu"
**Describe the bug**
The primary navigation is optional. When there is no menu, and the browser window is reduced to the size where the button would show, the site title and tagline is still spanning about half the page, instead of the full width.

**To Reproduce**
Steps to reproduce the behavior:
1. View a page with no menu but with a site title
2. Reduce the window width

**Expected behavior**
I

[2020-10-07 04:01] #225 closed, assigned to nobody

[2020-10-07 04:35] carolinan opened #308 "Align the arrow icons"
**Describe the bug**
The arrow icons in the navigation are not vertically aligned.

This issue was taken out of #303:
`Can you pull the left arrow up 1px and push the right arrow down 1px?`

![95272077-74aca280-080d-11eb-8e20-4ab63ce41f25](https://user-images.githubusercontent.com/7422055/95287800-288e4c00-0867-11eb-8371-bfd47dd47062.png)

[2020-10-07 04:38] carolinan opened #309 "Add styling for the menu widget"
The menu widget will be displayed as a vertical list.
Sub-menu items need to be indented
The sub menu button/icons should not show

This issue was taken out of https://github.com/WordPress/twentytwentyone/pull/235

[2020-10-07 04:59] #271 closed, assigned to JustinyAhin

[2020-10-07 05:31] #223 closed, assigned to nobody

[2020-10-07 05:31] #219 closed, assigned to nobody

[2020-10-07 05:31] #220 closed, assigned to nobody

[2020-10-07 05:31] #222 closed, assigned to nobody

[2020-10-07 05:31] #224 closed, assigned to nobody

[2020-10-07 06:07] aristath commented on #296
Closing this one as the menu now works in IE.
Styling issues can be addressed in a different ticket.

[2020-10-07 06:07] #296 closed, assigned to aristath

[2020-10-07 06:21] #309 closed, assigned to nobody

[2020-10-07 06:38] carolinan commented on #232
👋 @briceduclos what is your WordPress.org username, for the contributors list?

[2020-10-07 06:47] jdevalk commented on #129
I fully agree that this is needed. From an SEO perspective, showing full posts is a problem, so I'd even go for summary as the default setting.

[2020-10-07 07:11] aristath commented on #129
+1. Showing full posts in the posts page always annoyed me... When posts are long the page goes on for miles, and if they contain images it takes forever to load. It's not rare visiting a website and having to wait half a minute while it loads 10 posts each one with a few multi-MB images and each one being a full essay. If I want to read something I'll visit the post itself.

[2020-10-07 07:33] JustinyAhin commented on #270
I finally think all the blocks should have this padding. As this should not really depend on whether they have padding or not.

PR according to that coming in a couple of minutes.

[2020-10-07 07:34] aristath opened #313 "Remove the `Twenty_Twenty_One_Non_Latin_Languages` class"
Spawned from #312

The `Twenty_Twenty_One_Non_Latin_Languages` object contains a single static method.
It can just as easily be a function instead, there's absolutely no point in keeping it as a class.

[2020-10-07 08:07] #189 closed, assigned to nobody

[2020-10-07 08:09] carolinan commented on #270
But for example an image or cover block should not have spacing between the block and the edge of the browser.
Paragraph blocks with background colors already have padding, it should not be duplicated.

[2020-10-07 08:14] LittleBigThing opened #314 "Hide the page title on the front page"
In general, default themes are designed to be as little opinionated as possible. Creating more unique websites is becoming easier now having several blocks and more extensive possibilities to style them. But this freedom is still more or less limited to the ‘post content‘. We have not yet a lot of styling possibilities for the page title.

Therefore, could we consider add an option to the Customiz

[2020-10-07 08:14] briceduclos commented on #232
@carolinan My WordPress.org username is bduclos.

[2020-10-07 08:28] nielslange opened #315 "Add search icon"
**Is your feature request related to a problem? Please describe.**

Not necessarily related to a problem, but it would be nice to have a search icon in the primary menu, similar to seen at the Twenty Twenty theme.

**Describe the solution you'd like**

Being able to toggle on/off a search icon in the primary menu.

**Describe alternatives you've considered**

n/a

**Additional context**

Make sear

[2020-10-07 08:43] aristath opened #316 "Remove the `twenty_twenty_one_is_comment_by_post_author` function"
Spawned from https://github.com/WordPress/twentytwentyone/pull/312

I don't see the `twenty_twenty_one_is_comment_by_post_author` function used anywhere, can probably be removed.

[2020-10-07 08:50] aristath opened #318 "Remove the `twenty_twenty_one_posted_by` function"
Spawned from #312

The `twenty_twenty_one_posted_by` is not used anywhere and can be removed

[2020-10-07 08:51] carolinan commented on #318
It is used in https://github.com/WordPress/twentytwentyone/pull/294 which is still waiting review

[2020-10-07 08:54] aristath commented on #318
LOL ok, I wasn't expecting the function to be in one branch and used in another.

Closing this one, thank you for your vigilance!

[2020-10-07 08:54] #318 closed, assigned to aristath

[2020-10-07 08:55] aristath opened #319 "Remove the `twenty_twenty_one_get_user_avatar_markup` function"
Spawned from #312

The `twenty_twenty_one_get_user_avatar_markup` function is not used anywhere and can be removed.

[2020-10-07 08:58] carolinan commented on #314
Is this the same as https://github.com/WordPress/twentytwentyone/issues/247 ?
I mean I thought this was decided on already, but it seems a PR was closed instead of implemented.
Seems to be some confusion between front page and home.

[2020-10-07 09:01] LittleBigThing commented on #314
It's not completely the same (I suggest it optionally here) and I probably missed the decision as well, sorry.

[2020-10-07 09:03] metodiew commented on #129
+1 from me for having the summary/excerpt as the default option

[2020-10-07 09:04] carolinan commented on #314
I agree that it is easier to make different designs without the title, for example, there is no header image option and it would be possible to replicate that without the title being there.

[2020-10-07 09:05] #197 closed, assigned to nobody

[2020-10-07 09:13] carolinan commented on #129
For this, I think the customizer option is easier to implement than starting to check for different formats of excerpts.

[2020-10-07 09:40] LittleBigThing commented on #314
Yes, and a header image would still be less flexible.

[2020-10-07 10:48] carolinan commented on #129
Moved this to the beta 1 Milestone

[2020-10-07 10:48] hareesh-pillai commented on #319
Hi @aristath,

Looks like there's a typo there.
We check for the existense of `twenty_twenty_one_comment_avatar` function, while a different function (`twenty_twenty_one_get_user_avatar_markup`) is defined below that.

I don't see both these functions used anywhere and can be removed.

[2020-10-07 10:51] briceduclos opened #320 "Consider adding a hook inside the header"
It would be nice to have a hook just before the end of the site header so developers can add additional elements (for example, the [Seedlet theme](https://github.com/Automattic/themes/blob/master/seedlet/header.php#L68) adds a WooCommerce cart and a socials menu inside the header):
[code]

[2020-10-07 11:03] carolinan opened #322 "Adjust footer logo size"
**Describe the bug**
The footer logo is too large and needs some CSS to constrain the size as in the header area.

This bug was picked from https://github.com/WordPress/twentytwentyone/issues/57

[2020-10-07 11:05] carolinan commented on #57
Closing this as complete. It is difficult to get an overview of the conversation, a new bug issue has been created instead.

[2020-10-07 11:05] #57 closed

[2020-10-07 11:10] JustinyAhin commented on #270
Make sense.

[2020-10-07 11:39] carolinan opened #324 "Test the updated search block"
This test requires Gutenberg 9.1 or newer to be installed.

Several new options were added to the search block in Gutenberg 9.0, https://github.com/WordPress/gutenberg/pull/24666

The current styles have only been tested with and adapted to WordPress 5.5, without the plugin.

What we are testing is:
Does the button look correct in the different positions and styles (icon)
Does the editor and front

[2020-10-07 12:09] #316 closed, assigned to aristath

[2020-10-07 12:30] carolinan commented on #314
@melchoyce Do we understand correctly that you prefer that the page title is not visible when a static page is set as the homepage?

Adding a customizer option is an easy solution. Removing the title and changing the site title back to H1 is easier.

[2020-10-07 12:56] aristath commented on #302
Assigning this one to myself, there are quite a few things that need to be fixed here.

[2020-10-07 13:12] carolinan opened #328 "Create a separate file for editor font sizes"
**Describe the bug**
Updated issue description:

The editor font sizes, the named font sizes like large and gigantic, added by the theme support here:
https://github.com/WordPress/twentytwentyone/blob/trunk/functions.php#L123
are theme specific features, and placing them in their own file makes it easier to locate them and
work with them if the theme support is updated to remove or add font sizes.

[2020-10-07 13:28] TeBenachi opened #330 "Avatar overlaps user name"
In the comment section, the avatar seems to overlap the username on smaller screens.

<img width="350" alt="Screen Shot 2020-10-07 at 9 14 45 AM" src="https://user-images.githubusercontent.com/30734209/95336472-b9bced00-087e-11eb-887b-11f879ea19b0.png">

[2020-10-07 13:42] JustinyAhin commented on #270
So here are the blocks that should not receive this padding:

- Paragraph with background
- List
- Image cover
- Image
- Media and text

All good @carolinan?

[2020-10-07 13:51] #319 closed, assigned to nobody

[2020-10-07 13:53] kjellr commented on #328
I'm not sure, but I _think_ the reason those are in there is so that if someone switches to this theme from one that used a slightly different font sizing name structure, their font sizes will be use the theme's rough equivalents.

[2020-10-07 13:56] carolinan commented on #328
Is tiny one of the default font sizes? Hmm.

[2020-10-07 13:56] ryelle commented on #322
I believe this was also fixed in https://github.com/WordPress/twentytwentyone/pull/244, are you still seeing the issue on trunk?

[2020-10-07 14:02] LittleBigThing commented on #314
I have noticed that if we remove the whole `header.entry-header` element from the HTML, the featured image (if set) is ‘gone‘ as well since it is in that same container. IMHO, it makes sense to hide the featured image as well if the goal is to create a more unique front page with blocks, but it is confusing if a featured image is set.

If we would only remove the `h1.entry-title`, we need some add

[2020-10-07 14:02] #242 closed, assigned to nobody

[2020-10-07 14:08] melchoyce commented on #218
Hey @zakoops, thanks for the suggestion. This is a fun idea, but it might be better suited for a child theme. Going to close this since we're trying to keep our scope very tight.

[2020-10-07 14:08] #218 closed, assigned to nobody

[2020-10-07 14:11] #8 closed

[2020-10-07 14:29] carolinan commented on #270
looks correct to me but it has been a long day =D

[2020-10-07 14:30] melchoyce commented on #314
Correct! I'd rather we do this by default, than add a new setting for it.

[2020-10-07 14:31] JustinyAhin commented on #270
Agree. And it looks more complex actually. With blocks as pullquote or blockquote where the padding should also apply to the borders, etc...

I'll continue working on it tomorrow.

[2020-10-07 14:36] francescamarano commented on #119
- Usable is a very specific word in web development and design, so I wouldn't use it in this context.
- Not sure sparkling is an accurate adjective to describe this design, which is actually linear, elegant, rigorous and minimalistic.
- _elevates the newest version_ - this sentences assumed that you already have said websites and you are updating the design, but for some people, this might be thei

[2020-10-07 14:45] carolinan commented on #314
Yeah the featured image will no longer be as wide if we place it inside the content section for example.

[2020-10-07 14:46] carolinan commented on #314
There is no way to exclude the featured image without a page template or customizer option.
The best way is for the user to not add one to that page.

[2020-10-07 14:49] carolinan commented on #322
No you are right, it looks much better now.

[2020-10-07 14:49] #322 closed, assigned to nobody

[2020-10-07 15:01] carolinan commented on #314
So the steps would be something like

CSS: Remove the entry headers bottom border if a static page is used on the front page

In template-parts\content\content-page.php:
An if statement that checks if the page is the current front page,
to make sure that _template-parts/header/entry-header_ is not included on the front page.

Test with and without featured image

[2020-10-07 15:08] carolinan commented on #72
What we are testing/looking for here are:

Blocks that look different in the editor and the front.
Blocks that do not align correctly (widths, left, right)

Blocks with color settings, where the body background color option in the customizer, which also affects the primary text color; affects the readability.
For example light text on light backgrounds.

[2020-10-07 15:11] ryelle opened #332 "I18N: Read more link might be hard to translate correctly"
The "read more" link is built up out of parts to visibly show "Read more", with screen reader text identifying the post, "about [post name]". The way this string is built, each part is translated, but 'read more' and 'about' are translated separately. I think this would create an issue when translating the strings, if the word order is different than English — but I'm not sure, so I wanted to flag

[2020-10-07 15:13] LittleBigThing commented on #314
@melchoyce I was just thinking that it can be confusing having the page title in the editor and then not on the frontend. If it is an option, it has to be chosen explicitly.

@carolinan ~~I am happy to create a PR.~~ Ah ok, assigned already. :-)

[2020-10-07 15:19] carolinan commented on #117
I am moving this from the milestone because we first need a _final final_ decision on https://github.com/WordPress/twentytwentyone/issues/148

[2020-10-07 15:22] #202 closed, assigned to nobody

[2020-10-07 15:24] carolinan commented on #14
I forgot that the search block was here and created this issue: https://github.com/WordPress/twentytwentyone/issues/324

[2020-10-07 15:26] carolinan commented on #332
What you bring up makes sense, and why I prefer _continue reading_.

Sorry for all the edits, I am more tired than I'd like =D

[2020-10-07 15:34] carolinan commented on #80
Closing this since the comments pagination has been merged.

[2020-10-07 15:34] #80 closed

[2020-10-07 15:40] glauberm commented on #330
Is this issue up for grabs? :)

[2020-10-07 15:45] melchoyce commented on #330
Yup!

[2020-10-07 15:50] carolinan opened #333 "A heading level is skipped if comments are allowed but no comments are added yet"
**Describe the bug**
If a page or post allows comments, but no comments have been added yet, the H2 heading level is skipped.

Headings:
H1 -post/page title
H3  -Leave a reply

(H2, widget title)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new page or post
2. Make sure that comments are enabled.
3. View the front, inspect and and check the heading levels.

**Expected behavior**

[2020-10-07 16:21] glauberm commented on #333
Would #335 work to fix this bug?

[2020-10-07 16:40] melchoyce commented on #119
Ran this by an editor, here's her take:

[2020-10-07 16:51] pattonwebz commented on #119
The text `The latest default theme for WordPress, ` seems to me to be a little redundant. There will come a time when `latest` is inaccurate and it would need changes. I would hope that people know they are using `WordPress` :stuck_out_tongue:

Could we just drop that initial entry text completely? It would remove the need for some punctuation as well in the first sentence and give it a little mor

[2020-10-07 18:08] melchoyce commented on #243
Having good luck finding Public Domain images of Berthe Morisot's art: https://www.wikiart.org/en/berthe-morisot

Same with Eva Gonzales: https://www.wikiart.org/en/eva-gonzales

Some additional artists that fit the aesthetic but have fewer options:
- Georgina de Albuquerque: https://www.wikiart.org/en/georgina-de-albuquerque
- Nina Arbore: https://www.wikiart.org/en/nina-arbore
- Lilla Cabot Perr

[2020-10-07 18:19] kjellr commented on #243
Of these options, I think Berthe Morisot's is the strongest for this theme. Her brushstrokes are wider & softer, which helps the support the calming mood of the theme's palette.

[2020-10-07 18:36] melchoyce commented on #243
Great 👍

Some favorites:
- https://www.wikiart.org/en/berthe-morisot/hanging-the-laundry-out-to-dry
- https://www.wikiart.org/en/berthe-morisot/rosbras-brittany-1867
- https://www.wikiart.org/en/berthe-morisot/portrait-of-marguerite-carre-also-known-as-young-girl-in-a-ball-gown
- https://www.wikiart.org/en/berthe-morisot/in-the-dining-room
- https://www.wikiart.org/en/berthe-morisot/in-the-wheatfi

[2020-10-07 18:47] melchoyce commented on #148
Worried about too many conditionals re: replacing the logo — what if someone wants both? — so I've tried adding it to the top half of the footer:

![image](https://user-images.githubusercontent.com/2846578/95374176-02d76600-08ac-11eb-8ea5-74701520122f.png)

[2020-10-07 20:14] melchoyce commented on #183
@luminuu Does this need anything more, or is it good to close?

[2020-10-07 20:18] melchoyce commented on #253
Took another look at this, since the calendar design was merged. There's enough space to remove the `word-break: break-all;` for the widget & block, IMO, instead of letting the numbers wrap.

[2020-10-07 20:23] giorgioriccardi opened #338 "CSS filters applied to .custom-background are transferred to the page content instead of being retained by the background itself"
**Describe the bug**
When trying to apply css filters to the site image background `.custom-background` the changes are transferred to the page content elements.

**To Reproduce**
Steps to reproduce the behavior:
1. Set Homepage to show all posts
2. In Customizer -> Background Image select an image
3. Set the Prest -> Fill Screen
4. Add custom css
[code]
5. See outcome

**Expected behaviour**
The

[2020-10-07 20:26] melchoyce commented on #314
FWIW, I don't think it's any more confusing than an aside post format, which can take a post title but doesn't display it. I still think we should hide the homepage title by default.

[2020-10-07 22:41] paaljoachim commented on #184
I am thinking an issue in the Gutenberg github repo would be fitting, so that we can add alignment and the additional color option located in the Pullquote block into the Quote block.

Using Twenty Twenty theme.
Chrome.
Localhost dev site.

Quote Block.
![Quote-Block](https://user-images.githubusercontent.com/5323259/95395159-39d66780-08fe-11eb-9bd4-ed0be04d7abe.png)

Pullquote block.
![Pullquote-

[2020-10-07 22:49] carolinan commented on #184
A quote block does not have anything to add the "main" color to. Pull quote has borders by default.

I don't think it is something the editor team should prioritize because of this theme.

[2020-10-07 22:53] carolinan commented on #338
Is this an issue for this particular theme or any theme (untested)?

Do you have any examples of themes that already solves this?

Either way adding custom styles is very much an edge case and there are many other issues with default settings that need testing and solutions first.

[2020-10-08 03:01] glauberm commented on #308
#339

[2020-10-08 03:18] carolinan commented on #304
@mapk has shared several test scripts here that we can use as examples
https://make.wordpress.org/test/category/usability-testing/

[2020-10-08 03:32] glauberm commented on #307
#340

[2020-10-08 05:58] #313 closed, assigned to aristath

[2020-10-08 06:21] #200 closed, assigned to nielslange

[2020-10-08 06:27] carolinan opened #342 "Test the updated list block"
**Describe the bug**
In comparison to WordPress 5.5, the list block in Gutenberg now has background and text color options.

The block needs to be tested with Gutenberg installed and with the themes color options.
We also need to check if any extra padding is needed when there is a background color.

[2020-10-08 06:32] kishanjasani opened #343 "Update .gitignore file with some files"
Please add the phpcs.xml.dist file to it. So all users can modify it's setting like they can change the executable path of phpcs.

Also add code editor files that are auto-generated by the Visual Studio Code, idea, and more.

[2020-10-08 06:37] aristath commented on #343
We can't ignore the phpcs.xml.dist file, it needs to be in the repo because that's what we use to run tests. It's the standard phpcs config that all themes use.

As for code editor files, I don't know what each code editor adds.
If you submit a PR with some of these files we can add them :+1:

[2020-10-08 06:41] kishanjasani commented on #343
Sure I will remove the phpcs.xml.dist file from gitignore file. And some of the code editor file which should be ignored.

[2020-10-08 07:27] francescamarano commented on #72
Hello everyone!
I have started to test some of these blocks without knowing about this ticket, so it's not very focused: https://francescatest.com/first-impressions-without-having-seen-the-demo/

October 8th and 9th I will be busy with an online conference, but from Monday I can take a more structured approach to this and dedicate a good chunk of time.
Adding all the blocks into one post is very c

[2020-10-08 08:43] kishanjasani opened #352 "The submenu is an overriding the admin bar on hover"
**Describe the bug**
The submenu is an overriding the admin bar on hover.

**To Reproduce**
Steps to reproduce the behavior:
1. log in to you site wp-admin
2. Now visit the front end of your site
3. Hover over the menu which has a submenu in it.
4. No scroll down a little bit and see the behavior which is displayed on the screenshot below.

**Screenshots**
![screenshot-twentyone local-2020 10 08-1

[2020-10-08 08:59] #330 closed, assigned to nobody

[2020-10-08 10:09] #343 closed, assigned to nobody

[2020-10-08 10:13] #253 closed, assigned to nobody

[2020-10-08 11:05] #314 closed, assigned to nobody

[2020-10-08 11:24] carolinan opened #358 "The site title on the blog page is not a link when a static homepage is set"
**Describe the bug**
When a static page is set as the homepage, and a page is selected as the blog, the site title is not a link on the blog page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the customizer or the homepage setting and set pages to the homepage and blog.
2. Open the blog page, and see that the site title is not a link.
3. Scroll down to '....'
4. See error

**Expected

[2020-10-08 11:59] carolinan opened #359 "Left aligned pull quote has a left aligned citation"
**Describe the bug**

The pull quote has a centered citation for all widths and alignments, except the left alignment.
For the left alignment, the citation is centered in the editor, but left aligned on the front.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a pull quote to a post or page
2. Add a text quote and citation to the block.
3. See the position of the citation.
4. Save and v

[2020-10-08 12:07] #261 closed, assigned to nobody

[2020-10-08 12:29] carolinan opened #360 "Plus and minus icon color does not change when the body background color is changed."
**Describe the bug**

When the body background color is changed, the plus and minus icons in the menu does not change color.
The becomes a problem when the icon is dark over dark backgrounds.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a menu with sub menu items.
2. Change the body background color.
3. See that the text color changes, but that the icons do not.

**Expected behavio

[2020-10-08 12:31] #302 closed, assigned to aristath

[2020-10-08 12:37] aristath commented on #360
Assigning this one to myself, I suspect it's gonna get a little messy.

[2020-10-08 12:50] LittleBigThing commented on #358
@carolinan: Can I fix this by correcting this as well? After fixing #314, we now don't have an `h1` title on the front page. I would add that here, make the site title an unlinked `h1` tag on the front page.

A smaller issue is that now we have an empty header on the front page if there is no featured image.

[2020-10-08 12:57] #333 closed, assigned to carolinan

[2020-10-08 13:05] #129 closed, assigned to nobody

[2020-10-08 13:11] GuidoOffermans opened #364 "Search-block errors when selecting use with Icon."
**Describe the bug**
A clear and concise description of what the bug is.
When using the `Use button with icon` setting of the search-block it throws an error.
See images below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'edit a post'.
2. Add the search-block.
3. Select the `use button with icon`.
4. Click update.
5. go to the front end.
6. there you'll see the error.

**Expected b

[2020-10-08 13:16] SResok commented on #342
Acceptance
![image](https://user-images.githubusercontent.com/20287474/95463146-b86feb00-0978-11eb-9e55-07ad0b13aaa3.png)
Tested with Gutenberg `9.1.1`

Done, no problems found!

[2020-10-08 13:26] carolinan commented on #364
Interesting. I am not able to reproduce this PHP notice with the latest master from the Gutenberg repository
but I can reproduce it with the released plugin version 9.1.1.

I did not check all the recently merged pull requests in the Gutenberg repo but I think we can consider the notice fixed, or do we need to confirm with more testing?

In my test, the search icon in the editor is too small, but

[2020-10-08 13:39] #360 closed, assigned to nobody

[2020-10-08 13:45] carolinan commented on #238
@kjellr I found this Gutenberg issue,
https://github.com/WordPress/gutenberg/issues/24896

Do you know if there is one open for the problem above though?

[2020-10-08 13:49] #342 closed, assigned to SResok

[2020-10-08 13:50] kjellr commented on #238
No, I haven't seen a bug report for the problem described above. I think a fresh one is appropriate.

[2020-10-08 14:10] carolinan commented on #231
After discussing this issue, it has been decided that the issue should be closed.

With the page title removed from the homepage, something resembling a site header can be created with the blocks in the page content: At least on the homepage.

[2020-10-08 14:10] #231 closed, assigned to nobody

[2020-10-08 14:28] ryelle commented on #364
Looks like this was an issue in Gutenberg, and was fixed 3 days ago — so it hasn't been released into the plugin yet. https://github.com/WordPress/gutenberg/issues/25812

[2020-10-08 14:43] GuidoOffermans commented on #364
Then I'll close this issue and write a new one for the wrong styling. Thanks for your help :D

[2020-10-08 14:43] #364 closed, assigned to nobody

[2020-10-08 14:48] carolinan commented on #304
@francescamarano How can best work with the two issues, this and https://github.com/WordPress/twentytwentyone/issues/72

[2020-10-08 14:51] #352 closed, assigned to nobody

[2020-10-08 15:00] carolinan commented on #359
Admittedly, I think the left aligned citation looks better for the left aligned block.
But it is inconsistent with all the other citations and with the editor. Changing one text to center is a smaller and faster change.

[2020-10-08 15:03] melchoyce opened #367 "Add Post Formats support"
Now that we're in a good place with the base of the theme, let's consider adding some minimal post formats support.

Let's take a look at what the archive could look like:

![Archive](https://user-images.githubusercontent.com/2846578/95475768-949aae00-0954-11eb-9a7b-2a40e8259a8f.jpg)

[Figma mockup](https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=363%3A0)

## Standard

[2020-10-08 15:07] GuidoOffermans opened #368 "search-block color and size not correct."
**Describe the bug**
A clear and concise description of what the bug is.
The color of the icon and the search text are not the right color.

The search button in the editor seems to small
**To Reproduce**
Steps to reproduce the behavior:
1. Go to edit a post.
1. Add a search-block.
1. Edit the block and select `use button with icon`
1. You should see the 2nd screenshot. You notice the button with

[2020-10-08 15:14] melchoyce commented on #359
Screenshot:

![image](https://user-images.githubusercontent.com/2846578/95478307-5fdc2600-0957-11eb-8c29-bec46d4e2f6e.png)

The quote icon and quotation should also be centered, not just the citation. The only difference when something is `alignleft` or `alignright` should be the positioning of the block.

[2020-10-08 15:15] melchoyce commented on #359
The "after" should look like this:

![image](https://user-images.githubusercontent.com/2846578/95478450-88642000-0957-11eb-9797-5eaa3cf9d5ba.png)

[2020-10-08 16:00] carolinan opened #369 "Gallery caption is not centered"
**Describe the bug**
When a caption is added to a gallery block  (not to individual images but the block),
it is centered in the editor but left aligned on the front.

(Changing the alignment of the block does not change the alignment of the caption)

This is a known Gutenberg issue but does not have a pull request:
https://github.com/WordPress/gutenberg/issues/22188

**To Reproduce**
Steps to rep

[2020-10-08 16:38] giorgioriccardi commented on #338
@carolinan no, it is not only this theme, the same problem occurs with TwentyTwenty.

The only theme that does not have the issue is TwentySeventeen but just because the `.custom-header-media` actually has its own html container `<div><span><img />` therefore the css filter can be easily applied to the image without being transferred to the content elements.

Both 2020 and 2021 themes are just set

[2020-10-08 16:38] #338 closed, assigned to nobody

[2020-10-08 19:10] melchoyce commented on #50
Since we're finding that it'll be difficult to do text overlaps, it might be nice to sub in this one instead:

![image](https://user-images.githubusercontent.com/2846578/95502819-6e870500-0978-11eb-86b4-d3a588fdcfdf.png)

[code]

[2020-10-08 19:21] kjellr opened #373 "Menu icons should be moved up 1px"
The + and - menu icons should be moved up 1px so that they line up better with the text:

Before:
![Screen-Shot-2020-10-08-at-3 13 06-PM](https://user-images.githubusercontent.com/1202812/95503843-e7d32780-0979-11eb-90f0-636d2969d553.png)

After:
![Screen-Shot-2020-10-08-at-3 13 06-PM-new](https://user-images.githubusercontent.com/1202812/95503849-ea358180-0979-11eb-8ebb-ab3ccd39a1fa.png)

[2020-10-08 19:29] kjellr opened #374 "Site Tagline: Update line height to 1.4"
The site tagline line height should be 1.4 instead of

Current:

<img width="407" alt="Screen Shot 2020-10-08 at 3 23 46 PM" src="https://user-images.githubusercontent.com/1202812/95504601-00900d00-097b-11eb-9c67-92eda74ea83c.png">

Recommended:

<img width="406" alt="Screen Shot 2020-10-08 at 3 23 58 PM" src="https://user-images.githubusercontent.com/1202812/95504609-02f26700-097b-11eb-89b0-bd2ee

[2020-10-08 19:35] kjellr opened #375 "Desktop Menu: It's not always possible to access the submenus on hover."
When hovering over top-level parent menu items, it's sometimes difficult to access the children:

![hover](https://user-images.githubusercontent.com/1202812/95505109-d12dd000-097b-11eb-8677-577a173f34d7.gif)

Tested in Safari v14.0.
MacOS 10.15.6.

[2020-10-08 19:43] kjellr opened #376 "RSS Widget: Icon is misaligned"
The RSS widget icon is misaligned. This should either be properly aligned, or just hidden.

<img width="354" alt="Screen Shot 2020-10-08 at 3 38 18 PM" src="https://user-images.githubusercontent.com/1202812/95505766-ea834c00-097c-11eb-8db5-5efe818ac581.png">

(Personally, I'd aim for removing it, since it's not retina-friendly anyway.)

[2020-10-08 19:47] melchoyce commented on #376
Yeah it's weird that WordPress includes this icon by default... it's very Web 2.0. Can we remove?

[2020-10-08 19:48] kishanjasani commented on #369
This PR will resolve this issue: https://github.com/WordPress/gutenberg/pull/25962

[2020-10-08 19:57] kjellr opened #377 "Use text-decoration for all link underlines"
Some of our underlines are actually `border-bottom: 1px`, while others are `text-decoration: underline`. We should change all of these (preferably to `text-decoration`, and add while we're at it we should add a `text-decoration-thickness: 1px` rule for browsers that support it.

<img width="331" alt="Screen Shot 2020-10-08 at 3 51 40 PM" src="https://user-images.githubusercontent.com/1202812/95507

[2020-10-08 20:03] carolinan commented on #375
This is probably because we had to move the sub menu down to make the full focus outline of the parent visible.

[2020-10-08 21:27] melchoyce opened #378 "Block Pattern: Contact Information"
**Describe the block pattern you're suggesting. What blocks does it include?**

When I mocked up footer widgets for Twenty Twenty-One, I included a pattern where the left column was aligned left, the middle column was aligned center, and the right column was aligned right:

![image](https://user-images.githubusercontent.com/2846578/95515264-553b8400-098b-11eb-9a4b-d26b5a7cbb8c.png)

This isn't cur

[2020-10-09 03:53] carolinan commented on #375
I am able to reproduce this on Chrome on win10.

[2020-10-09 04:21] #282 closed, assigned to aristath, melchoyce

[2020-10-09 05:17] aristath commented on #375
Assigned this one to myself, it is caused by a 3px offset added in https://github.com/WordPress/twentytwentyone/pull/329

[2020-10-09 06:30] #374 closed, assigned to nobody

[2020-10-09 06:47] francescamarano commented on #148
Question: why this can't be done with a widget?

[2020-10-09 08:13] rolf-yoast commented on #368
This is a Gutenberg issue https://github.com/WordPress/gutenberg/issues/25978

[2020-10-09 08:13] #368 closed, assigned to nobody

[2020-10-09 08:31] GuidoOffermans commented on #324
tested.
made new issue: https://github.com/WordPress/twentytwentyone/issues/368.
But this needs to be fixed in gutenberg.

[2020-10-09 08:31] #324 closed, assigned to nobody

[2020-10-09 08:37] #206 closed, assigned to nobody

[2020-10-09 08:39] carolinan opened #384 "Test the primary navigation menu on iPhone"
There was a report in one of the previous pull requests that the menu buttons -neither the sub menu toggles or the toggle for the responsive menu, works on iPhone and that the menus do not expand.

[2020-10-09 08:43] #307 closed, assigned to nobody

[2020-10-09 08:44] rolf-yoast commented on #376
Acceptance 👍

[2020-10-09 08:48] #376 closed, assigned to nobody

[2020-10-09 09:08] #359 closed, assigned to JustinyAhin

[2020-10-09 09:58] carolinan opened #386 "Edit link is missing a space"
**Describe the bug**
Tested with NVDA screen reader on Windows 10.
The edit link and post title is missing a space and is read out as
_editpost title_

**To Reproduce**
Steps to reproduce the behavior:
1. Start the screen reader
2. Listen to the edit link / read the speech viewer.

**Expected behavior**
The text should be read out as separate words.

[2020-10-09 11:03] aristath commented on #238
I've been examining this one for a while and the more I look at it the more it looks like this is not an issue.
If users add a small image with large caption, then it's really a problem with the content, not the theme or the editor or the HTML generated.
The one thing I'd suggest doing here is to change the font-size for these from `--global--font-size-sm` to `--global--font-size-xs` so they are `

[2020-10-09 11:27] aristath commented on #386
I have a solution to suggest...
We could just remove the edit links.
They were initially added to WordPress themes as a shortcut to quickly edit posts, but that was before the "Edit Post" link was added to the adminbar. Other than tradition I really see no reason for their existence anymore.

[2020-10-09 12:09] #270 closed, assigned to JustinyAhin

[2020-10-09 12:28] briceduclos opened #389 "Cover block: reset the default color overlay to black"
Currently, when we insert a Cover block and set an image inside the editor, the overlay is white and the text is black. On the front, the overlay is black with the text black. It seems that TT1 tries to set the overlay color to white but is overridden by the core blocks styles. For a vast majority of images, the text is more readable when it’s white on a dark overlay. Moreover, it would maintain c

[2020-10-09 12:30] paaljoachim commented on #278
I have made two new Separator block issues in the Gutenberg repo:
Adding styles such as waves, jagged and loops.
https://github.com/WordPress/gutenberg/issues/25991

Controlling the height of the Separator block
https://github.com/WordPress/gutenberg/issues/25989
(As one would not need to add as many spacer blocks if one can control the height of the Separator block.)

[2020-10-09 12:48] marctison75 opened #390 "Consider removing the underline on the post titles to improve readability."
As a person who has dyslexia, underline makes it harder for me to read. For the posts page I find it difficult to read the titles. I’ve checked the Figma files, and there is no underline for the post titles. This ticket #110 has been closed, but I’m not sure if there was a consensus.

[2020-10-09 14:15] SResok commented on #377
This issue was fixed with commits:
e136510114256dd0d3693be8065fd327cdb21c2a 82b34252bced3c4ee48920e65d78e4d44fdc4e6f 91a73a716716183b80e098863407db841b53725d

[2020-10-09 14:19] melchoyce commented on #148
That was the original plan, but the it came up through discussions ([one](https://wordpress.slack.com/archives/C02RP4VMP/p1601656298186700), [two](https://make.wordpress.org/core/2020/10/05/twenty-twenty-one-chat-agenda-5-october-2020/#comment-39971)) that an explicit menu location would be more flexible and easier to style.

[2020-10-09 14:29] SResok commented on #377
The use of `border-bottom` instead of `text-decoration` was fixed in commits:
e136510114256dd0d3693be8065fd327cdb21c2a 82b34252bced3c4ee48920e65d78e4d44fdc4e6f 91a73a716716183b80e098863407db841b53725d

Created pull-request #392 that will set text-decoration-thickness to 1px for browsers that support it

[2020-10-09 14:29] melchoyce commented on #390
We'll need a definitive answer from the a11y team about whether or not the site title and post titles need to have explicit link indicators.

[2020-10-09 14:41] SResok commented on #377
Awaiting response from the a11y team #390

[2020-10-09 16:18] melchoyce commented on #315
[We chatted about this in today's bug scrub](https://wordpress.slack.com/archives/C02RP4VMP/p1602260048327500), and decided not to include this feature. We're trying to avoid adding more customizer settings, and folks can add a search to the footer using widgets. The search block also allows for more places to include a search feature.

[2020-10-09 16:18] #315 closed, assigned to nobody

[2020-10-09 16:44] nielslange commented on #315
Thanks for your explanation, @melchoyce. Given the fact that the Twenty Twenty-One theme should fulfill the WCAG AAA standards, I thought the theme should be accessible as possible and having a search option in a prominent place improves accessibility in my opinion. That said, I'm fine with closing this issue and going with the widget-based approach.

[2020-10-09 16:52] ryelle commented on #332
This was discussed in [today's bug scrub](https://wordpress.slack.com/archives/C02RP4VMP/p1602261216351500) and it sounds like the best way forward will be to update this string so that it becomes:

[code]

[2020-10-09 17:17] sabernhardt commented on #332
Both [Twenty Seventeen](https://themes.trac.wordpress.org/browser/twentyseventeen/2.4/template-parts/post/content.php#L54) and [Twenty Nineteen](https://themes.trac.wordpress.org/browser/twentynineteen/1.7/template-parts/content/content.php#L32) have
`Continue reading<span class="screen-reader-text"> "%s"</span>`

(space inside the span tag)

[2020-10-09 18:24] #375 closed, assigned to nobody

[2020-10-09 18:55] kishanjasani commented on #369
Can we close this issue? The above PR is merged in Gutenberg and will resolve this issue.

[2020-10-09 19:31] aristath commented on #369
Fixed in Gutenberg, closing 👍

[2020-10-09 19:31] #369 closed, assigned to nobody

[2020-10-09 19:43] kjellr opened #395 "Incorrect alignwide width in editor when the sidebar is open"
When the editor's sidebar is open, wide-aligned items appear to be wider than they're designed to be (this includes the post title). This occurs at breakpoints between 782px and ~1540px wide.

Current|Expected
---|---
![95369672-bb4ddb80-08a5-11eb-8895-2fb63a962e51](https://user-images.githubusercontent.com/1202812/95625075-e4a56d80-0a45-11eb-815b-b658531a61b0.png)|![95369630-ae30ec80-08a5-11eb-8f

[2020-10-10 07:55] carolinan commented on #243
I vaguely remember there being postcards at WCEU with art transformed into or that used Wapuus?

I did a google search, this is what came up:
https://dribbble.com/shots/3561019-Wapuu-WordCamp-Europe-2017?utm_source=Clipboard_Shot&utm_campaign=jancavan&utm_content=Wapuu%20WordCamp%20Europe%202017&utm_medium=Social_Share

I think if any of the cards are compatible with GPL and the year was removed,

[2020-10-10 12:02] web-migrates opened #396 "incorrect footer margin-top height fix."
when review footer in all kinds of device desktop and mobile the margin-top is too much that should be similar as per the header.

| Current | Expected |
| ------ | ------ |
|![Screenshot_1](https://user-images.githubusercontent.com/48351809/95654494-fb1ef800-0b1d-11eb-80c7-321de48f188a.png)| ![Screenshot_2](https://user-images.githubusercontent.com/48351809/95654508-04a86000-0b1e-11eb-9215-07f4fb

[2020-10-10 12:49] monika-12 opened #398 "Site navigation should centre aligned to Site Branding section"
**Describe the bug**
Site navigation(Primary Navigation) is not horizontally aligned to Site Branding Section.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Appearance - Menu`
2. Create Primary Navigation
3. Go to Customizer and add Logo
4. Refresh the page
5. See Primary Navigation and Site Branding section you will see the difference

**Expected behavior**
Primary Navigation shoul

[2020-10-10 14:31] web-migrates opened #399 "Search widget search input border radius displayed in iOS safari mobile"
A search widget search input shows unnecessary border-radius in the safari browser of iOS mobile device, it should be similar to the other devices.
| Current | Expected |
| ------ | ------ |
|![IMG_9247](https://user-images.githubusercontent.com/48351809/95657622-0e888e00-0b33-11eb-9c69-beafb78a57fd.PNG)|![IMG_9248](https://user-images.githubusercontent.com/48351809/95657634-15af9c00-0b33-11eb-9fb

[2020-10-10 15:20] ingereck commented on #384
I have this issue on an iPhone 6 with the Official AMP plugin installed and set on _standard_. Setting it back to _transition_  and clearing NGINX fastCGI and browser cache, I can expand the menu again.

Here is the AMP error info.

Error code: DISALLOWED_TAG
Invalid script: primary-navigation.js
src: .../themes/twentytwentyone/assets/js)
ID: twenty-twenty-one-primary-navigation-script-js
Element

[2020-10-10 17:03] melchoyce commented on #396
Per https://github.com/WordPress/twentytwentyone/pull/397#issuecomment-706580311, closing this.

[2020-10-10 17:03] #396 closed, assigned to nobody

[2020-10-10 18:47] kishanjasani commented on #398
Thanks, @monika-12 I am able to reproduce. :+1:

[2020-10-10 19:10] kishanjasani commented on #398
Need to discuss this issue. It will affect the style of navigation without a logo image. `align-item: center` looks good with a logo image. but without a logo image, it looks weird.

[2020-10-12 03:51] carolinan commented on #384
@ingereck Thank you. AMP is a separate issue, and it will be worked on from the plugin side:
https://github.com/ampproject/amp-wp/issues/5423

[2020-10-12 03:54] carolinan commented on #320
During Friday's bug scrub it was decided that the theme would not have extra hooks.

[2020-10-12 03:54] #320 closed, assigned to nobody

[2020-10-12 03:55] #3 closed

[2020-10-12 04:10] carolinan commented on #14
Changes are also found in the 9.2 milestone  https://github.com/WordPress/gutenberg/milestone/132?closed=1

[2020-10-12 04:39] carolinan opened #401 "Copyright date is incorrect"
**Describe the bug**
This was sent to me from @pixolin:

The footer displays a copyright information using function date_i18n(), which seems to retrieve the current year.
This seems legally tricky.
According to [https://stackoverflow.com/a/2391555/12490449](https://stackoverflow.com/a/2391555/12490449)

The copyright notice on a work establishes a claim to copyright. The date on the notice establi

[2020-10-12 05:23] aristath commented on #401
+1, that thing has been bugging m for years

[2020-10-12 06:06] carolinan commented on #386
During Fridays bug scrub, it was decided that the edit link should be kept.

[2020-10-12 06:23] aristath opened #402 "Can no longer compile IE styles"
**Describe the bug**

Issue was introduced in https://github.com/WordPress/twentytwentyone/commit/427ec087169c1b44b48ac0be75318fd9101158b5#diff-8af2364400c54925bc0d0ab590f58022L234, presumablybecause the `--responsive--aligndefault-width` variable is not defined when thattries to run.

That trows errors when running `npm run build`.

**To Reproduce**
`npm run build`

**Screenshots**

![Screenshot

[2020-10-12 06:35] #402 closed, assigned to nobody

[2020-10-12 07:14] carolinan commented on #398
@monika-12 Hi 👋  I'm not sure I understood correctly. The menu is designed to be right aligned, not centered.
Did you mean vertical? Maybe if you can add a before and after image of the result you expected?

[2020-10-12 07:17] kishanjasani commented on #398
She has uploaded a screenshot here: https://a.cl.ly/Qwuk0e4B

[2020-10-12 07:19] #183 closed, assigned to luminuu

[2020-10-12 08:28] carolinan commented on #238
Let's go with reducing the size.

[2020-10-12 08:36] carolinan commented on #168
The action needed here is to go through the block styles here
https://github.com/WordPress/twentytwentyone/tree/trunk/assets/sass/05-blocks

Check if there are any unnecessary duplicate styles _-styles that are already in WordPress core_ where the theme styles are overriding it even though it is not needed.

Optionally check if there any styles here that fixes a problem where an issue should be op

[2020-10-12 08:43] carolinan commented on #278
With the pattern merged, are there any more actionable items here or can this be closed?

[2020-10-12 08:53] carolinan opened #405 "When the body background is reset to default the text color is black"
**Describe the bug**
If you change the body background color in the customizer, and then use the option to reset the color to the default,
the text color is still black #000 in the cusomizer, and not the original text color.

The text on the front is the correct color.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the customizer
2. Change the background color and save. See the text c

[2020-10-12 09:01] aristath opened #407 "Styling issue with audio shortcode"
**Describe the bug**

![Screenshot_2020-10-12 Post Format Audio – My Blog](https://user-images.githubusercontent.com/588688/95726991-48b47580-0c82-11eb-8b5d-7090a3dc89e4.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Import the test XML from https://raw.githubusercontent.com/WPTT/theme-unit-test/d12c67cddad161360c88e4df45205b3eded8c93e/themeunittestdata.wordpress.xml
2. Search for the

[2020-10-12 10:06] carolinan commented on #401
It has been pointed out that copyright is given automatically when you create something and that the year stated here does not matter.

We can add a function that checks the date of the earliest post or page, and write two years, if the year is different.
Or we can remove the copyright year, or remove the whole copyright statement, and let people add their own copyright, license or terms where the

[2020-10-12 10:13] aristath commented on #401
Hmmm Does "copyright ©/℗/®/™" even make sense in the web for content?
People don't need to add copyright statements for what they write, the web is governed by slightly different concepts of copyright, and it's not necessary to register for a trademark or legally register the content. AFAIK, original content is automatically copyrighted to the author at the time of publishing. If they publish non-

[2020-10-12 10:14] pixolin commented on #401
I'm not a lawyer, but I've learned over the years that e.g. German copyright law, is very different from US regulations. A Copyright note won't harm, yet isn't necessariy to gain the right to decide about your work.
For that reason I would appreciate a form field in customizer which allows users to individually change the footer according to their needs.

+1 for "remove the whole copyright stateme

[2020-10-12 11:01] carolinan commented on #401
If we keep it, it should make use of wp_date(), since our target minimum version is 5.3.0

https://developer.wordpress.org/reference/functions/wp_date/

[2020-10-12 11:05] aristath commented on #401
Pending a decision here I added a new PR on #408. That PR removes the copyright date and adds a new option in the customizer (textarea) where users can add their copyright or change the default footer text if they want to.

[2020-10-12 11:07] carolinan opened #409 "Add support for prefers reduced motion"
As our goal is to create an accessible theme complying to WCAG level AAA,
and with the hopes that all transforms and animations has now been added, the theme should support
_prefers reduced motion:_

https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion

2.3.3 Animation from Interactions Level AAA
https://www.w3.org/TR/WCAG21/#animation-from-interactions

[2020-10-12 11:08] #389 closed, assigned to JustinyAhin

[2020-10-12 11:08] kishanjasani commented on #398
It doesn't look good with the logo. It will be better if we hide the site title and description when we select the logo. Here is the tested screenshot of this PR

![screenshot-twentyone local-2020 10 12-16_35_31](https://user-images.githubusercontent.com/25550562/95739962-4c0f2780-0ca9-11eb-8e6b-d9ecf3f1bf96.png)

[2020-10-12 11:16] carolinan opened #410 "Add support for prefers color scheme"
As our goal is to create an accessible theme, the theme should support prefers-color-scheme.

https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

I suggest adding a dark scheme at least, but it does not need to be black, using one of the existing darker color palettes would be enough.

[2020-10-12 11:26] aristath commented on #410
I've wanted this for a looong time... Slightly related discussion on Gutenberg: https://github.com/WordPress/gutenberg/issues/24368

The problem that I haven't figured out yet is whether this should be opt-in or opt-out, and how much we want to automate it. For example if the user has selected to allow auto-dark-scheme and they have set a color like `#f2f2f2` for their background, then how do we c

[2020-10-12 11:34] aristath commented on #409
I don't think we have lots of animations or intense motion... However, if needed we can simply add the following to completely disable animations:

[code]
The use of `!important` here will be OK.

[2020-10-12 11:37] carolinan commented on #410
My thought was to just to preselect a darker background color no matter what the site owner has set, and the text color would be adjusted automatically.

And that blocks with specific colors set in the content, should keep those set colors.

The current defaults could be used as the light version.

[2020-10-12 12:10] kishanjasani opened #412 "When site logo is added the footer text should be vertically centered"
**Describe the bug**
If you set the site logo from customizer then check in footer site-logo and text should be aligned in the vertical center.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Customizer
2. Change the site-logo
3. Now go down to the footer and see the site logo and text is not aligned properly.

**Expected behavior**
The site logo and text should be aligned properly.

*

[2020-10-12 12:17] SResok commented on #395
Have been looking for a solution for almost 2 hours but haven't found it, placing back into the 'needs action' column

[2020-10-12 12:22] #407 closed, assigned to nobody

[2020-10-12 12:27] ingereck commented on #398
On mobile, with site title, only (no logo), the site title also does not align with the menu - screen shot below:
https://share.getcloudapp.com/Blu15mGW?collection_id=gKfoD5
as it does on desktop - screen shot below:
https://share.getcloudapp.com/8LurPW1z?collection_id=gKfoD5

If the site title is long, it probably makes sense that the site title moves to the next line, but with a short site title

[2020-10-12 12:31] carolinan opened #414 "Feature: Menu description"
**Is your feature request related to a problem? Please describe.**
A menu description is a text that is displayed below the link in a menu item.

The menu description is an option that is turned off and on by the site creator:

![description](https://user-images.githubusercontent.com/7422055/95745984-5a077d00-0c96-11eb-9c0f-e6e905fac028.png)

But it does not show if the theme does not have support

[2020-10-12 13:04] ingereck commented on #398
Landscape logo images:
The logo I tested with, has an aspect ratio of 21 x 9. Uploading the image with max 240px width allowed me to select 'Skip cropping' and set the logo. It's great that this works, however on desktop the logo turned out to be far to small.
So it would be great having the option to 'Skip cropping' also when the max height is 240 px.

[2020-10-12 13:47] kjellr commented on #384
I can't reproduce — the menu opens, closes, and selects items just fine in my testing on iOS (iOS 14.0.1).

I'm going to close for now. We can re-open if we get a non-AMP-related report.

[2020-10-12 13:47] #384 closed, assigned to nobody

[2020-10-12 14:46] #405 closed, assigned to nobody

[2020-10-12 15:54] carolinan commented on #401
It was decided during the meeting today that the customizer option will be used so that the users can change this.

[2020-10-12 16:01] paaljoachim commented on #278
Since I have made Gutenberg issues. Which I have listed. This issue might as well be closed.

[2020-10-12 16:01] #278 closed, assigned to nobody

[2020-10-12 16:31] carolinan opened #429 "Test and add support for high contrast mode."
Test the theme with the OS high contrast mode.

Make sure that all controls and links work.

Resources:
https://adrianroselli.com/2017/11/os-high-contrast-versus-inverted-colors.html
https://www.a11yproject.com/posts/2020-01-23-operating-system-and-browser-accessibility-display-modes/

[2020-10-12 16:41] melchoyce opened #430 "Media & Text Article Title Pattern: Ampersand doesn't render"
**Describe the bug**
The `&` in the block pattern title is displayed as `&amp;`

**Screenshots**
![image](https://user-images.githubusercontent.com/2846578/95770945-33424a00-0c88-11eb-919e-3b9160cb29aa.png)

**Editor version (please complete the following information):**
- WordPress version: 5.5.1
- Does the website has Gutenberg plugin installed?: No

[2020-10-12 16:42] melchoyce opened #431 "Media & Text Article Title Pattern: Sep block too wide"
**Describe the bug**
Because of changes we made to the width of the default separator block, the sep in this block pattern is too wide. Instead, let's consider using the dots block style, which is narrower and better frames the content of the block pattern.

This might also be a good opportunity to update the design of the dots style to use thicker dots.

**Screenshots**

Before:

![image](https:/

[2020-10-12 17:43] ryelle commented on #332
Apparently the only reason that works is because the post title is wrapped in quotes — NVDA is still trying to read `Continue Reading"Post Name"`. The space before the `span` doesn't seem to be adding any visual awkwardness, so I think it's fine to keep it (and I have, in #433).

[2020-10-12 18:15] #119 closed

[2020-10-12 18:50] #373 closed, assigned to nobody

[2020-10-12 19:43] #238 closed, assigned to JustinyAhin

[2020-10-12 19:49] #412 closed, assigned to nobody

[2020-10-12 19:59] #431 closed, assigned to nobody

[2020-10-12 19:59] kjellr commented on #430
Closed via #434.

[2020-10-12 19:59] #430 closed, assigned to nobody

[2020-10-12 23:01] audrasjb opened #436 "Stacked/small screens search form widget elements should use some margins"
**Describe the bug**
Stacked/small screens search form widget elements should use some margins.

Currently:
<img width="741" alt="Capture d’écran 2020-10-13 à 00 57 18" src="https://user-images.githubusercontent.com/1590998/95797234-44727180-0cef-11eb-991a-e7fad6845424.png">

GIF animation showing the difference between large and small screens:
![e286ee0cb99f9aae335fb0d12934211e](https://user-im

[2020-10-12 23:27] audrasjb opened #438 "Post title underline is uneven on hover in post navigation component"
**Describe the bug**
Post title underline is off-centered on hover in post navigation component

See animated screenshot below:
![79016d2d8f675321271d9f887a712d0d](https://user-images.githubusercontent.com/1590998/95798558-a2ed1f00-0cf2-11eb-9ea8-4e0c2ef26ecf.gif)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the post navigation area in a single post (you'll need several posts to see

[2020-10-13 03:52] carolinan commented on #429
I have tested Windows high contrast mode with Edge (chromium), Internet Explorer 11 and Firefox.
The visible focus indicator works well. The input fields like the search and comment form works well.

High contrast black:
The controls works well with one exception:
In IE11, the plus and minus icon for the menu is not visible at all.
In Edge, and Firefox, the plus and minus icon is difficult to see

[2020-10-13 05:27] #308 closed, assigned to ryelle

[2020-10-13 05:37] #332 closed, assigned to ryelle

[2020-10-13 05:39] #386 closed, assigned to ryelle

[2020-10-13 06:16] #358 closed, assigned to nobody

[2020-10-13 06:16] #398 closed, assigned to JustinyAhin

[2020-10-13 06:37] carolinan opened #440 "Linked site logo has no visible focus indicator"
**Describe the bug**
When a logo is added, there is no visible focus indicator for the link in Chrome or Edge chromium.
(Note that the logo on the homepage has no link and this is correct).

_-When I test on Firefox, there is a visible indicator._

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the customizer
2. Add a custom logo, save and leave the customizer
3. Navigate to a page oth

[2020-10-13 07:16] carolinan opened #441 "Implement the design for the responsive menu with centered logo"
With the new design of the header, the responsive design also needs to be updated/implemented.

Figma link for the header with and without logo:
https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=487%3A17

**Site title:**  Font size: 16px, font weight: 500, line-height: 115%;
**Tagline:** Font size: 16px, font-weight; normal (400), line-height: 160%;

The right edge of the

[2020-10-13 07:21] aristath commented on #441
Thank you @carolinan :+1:

Posting screenshots 'cause I can't stand working with Figma and it makes my laptop wanna take off :sweat_smile:

![Screenshot_2020-10-13 Figma(2)](https://user-images.githubusercontent.com/588688/95828388-9b069c80-0d3d-11eb-995a-9864a660b0d2.png)
![Screenshot_2020-10-13 Figma(1)](https://user-images.githubusercontent.com/588688/95828405-9e9a2380-0d3d-11eb-92b8-0d0c7ad4a5

[2020-10-13 07:39] carolinan commented on #441
I don't believe the first, top one is meant to be used, unless there is meant to be an **option** for the position of the logo?
How would we know when to left align or center the logo?

[2020-10-13 07:48] aristath commented on #441
If on mobile, it would be really weird to have the logo centered and the menu on the right... I think it would be reasonable to assume that if there is a logo and no title/tagline, the logo should be on the opposite side of the menu. It is more visually balanced than having the logo on the center and the menu on the right...

[2020-10-13 07:54] #367 closed, assigned to nobody

[2020-10-13 08:25] carolinan opened #443 "Improve vertical spacing for post formats"
**Describe the bug**

_Archive view_
When a (standard) post has a featured image, the image is outside the entry content
and the vertical spacing between the title and the image is 60px: `margin-top: calc(2 * var(--global--spacing-vertical));`

For post formats that displays a video, image, gallery or pattern with an image, the
entry content has `margin-top: var(--global--spacing-vertical);`, but

[2020-10-13 09:23] #117 closed

[2020-10-13 09:23] #148 closed, assigned to nobody

[2020-10-13 09:27] marctison75 opened #444 "Link styles: consider using the default focus outline style set by the browsers"
Following Jeff Ong’s suggestion to create a new issue, I’m opening this one based on the discussion of  #165.

The current link styles don’t look good on Safari.

![Safari](https://user-images.githubusercontent.com/72606415/95842202-8c70b300-0d46-11eb-903d-0cf82c28bc15.png)

In Firefox on Windows, you can see how the outline can interact with the shape of the letter and decrease the readability of

[2020-10-13 10:19] carolinan opened #446 "Reconsider the WordPress version check"
**Describe the bug**
The theme has a version check where it activates a default theme if the WordPress version is lower than 5.3
https://github.com/WordPress/twentytwentyone/blob/trunk/inc/back-compat.php#L23

The current way of implementing this will not work when the theme is the latest default theme.

One option is to remove the backwards compatibility check.

[2020-10-13 10:36] #440 closed, assigned to nobody

[2020-10-13 10:59] carolinan opened #447 "WP 5.3 and 5.4 Column custom block style overlap is not working in the editor"
### Testing custom block styles

### Expected behavior

Does the editor and front match?

_**No**_
In the editor, the column with the **overlap style** does not overlap.
They do overlap on the front.

### Screenshots

### Editor:

Default width:
![53columns-editor-default-w](https://user-images.githubusercontent.com/7422055/95852109-803f2280-0d53-11eb-8a2d-00a8335774fe.png)

Wide:
![53columns-edit

[2020-10-13 11:12] carolinan opened #448 "WP 5.3 Block test: group:"
### Testing custom block styles

### Expected behavior

Does the editor and front match?

_**No**_
In the editor, a group block with a background color is missing the bottom vertical spacing.

### Screenshots

### Editor:
![53group](https://user-images.githubusercontent.com/7422055/95853196-51c24700-0d55-11eb-839e-4240ef26492b.png)

![53group-border](https://user-images.githubusercontent.com/74220

[2020-10-13 12:06] aristath commented on #446
We can just remove this part: https://github.com/WordPress/twentytwentyone/blob/7bde7bb59b816ddcadbe0261a8f4a5922a71af19/inc/back-compat.php#L14-L28

Site-admins will get the notice on their dashboard and they can change themes manually

[2020-10-13 12:15] carolinan opened #449 "The password input field is the wrong size"
**Describe the bug**
When content is password protected, a password form is displayed.
The password input field is not the same height as the button, and the spacing between the field and the button is not
the same if compared to for example the search form.

**To Reproduce**
Steps to reproduce the behavior:
1. Password protect a post or page, save.
2. View the front.
3. See that the input field a

[2020-10-13 12:48] carolinan commented on #184
The quote symbol itself should use the same symbol as used in the pull quote:

For refrence:
[code]
https://github.com/WordPress/twentytwentyone/blob/trunk/assets/sass/05-blocks/pullquote/_style.scss#L14

[2020-10-13 12:53] paaljoachim commented on #184
Btw
A PR is being worked on:
**Quote: convert to nested blocks**
https://github.com/WordPress/gutenberg/pull/25892

Related to this issue: https://github.com/WordPress/gutenberg/issues/15486

[2020-10-13 13:11] aristath commented on #446
Submitted PR on #450

[2020-10-13 13:43] carolinan opened #451 "WP 5.3: The calendar widget has the wrong design."
**Describe the bug**
In WordPress 5.3, the calendar widget has the wrong design.

The colors for the header and border is incorrect.
It has the wrong link color for the month, and the arrow is miss aligned.

**_I did not look further to see what causes this. Missing CSS classes? Light block wrappers?_**

5.3:
![53-calendar](https://user-images.githubusercontent.com/7422055/95867925-fa7aa180-0d69-1

[2020-10-13 13:57] JustinyAhin commented on #184
Thanks Carolina.
Saw it this morning.

I'll send a pr from this branch this afternoon https://github.com/JustinyAhin/twentytwentyone/tree/fix/implement-block-quote-design

[2020-10-13 14:33] ryelle commented on #441
It depends on whether there's a site title or not, which is how it works on trunk right now.

Exactly :)

So the main issue with the mobile layout is that the menu button isn't in the right place?

![Screen Shot 2020-10-13 at 10 32 34](https://user-images.githubusercontent.com/541093/95875003-8925f900-0d3f-11eb-8302-c7f461a68813.png)

[2020-10-13 14:46] aristath commented on #441
@ryelle I have a PR on #442 which hopefully addresses the issue and implements the layouts from above, it just needs a thorough review :heart:

[2020-10-13 14:50] ryelle commented on #441
Looking at it now 👍   I just wasn't sure how different this was from what was implemented in #435.

[2020-10-13 15:00] carolinan commented on #184
It is not milestoned for 9.2 and we can't add features after beta 1.

[2020-10-13 15:49] paaljoachim commented on #184
Hey Poena. Check this link:
https://github.com/WordPress/gutenberg/projects/48#column-10737345

It is on the Project board WordPress 5.6 Must Haves.

[2020-10-13 16:25] sarahricker commented on #390
Hey @marcduluc and @melchoyce!

In our new joint office hours, the Design and Accessibility teams discussed ways to help make the titles more readable, while still meeting the WCAG AAA guidelines to the best of our ability. However, different disabilities can create the need for a balancing act regarding overlapping issues. For instance, it is important to have a visual cue on the resting state fo

[2020-10-13 16:28] kishanjasani commented on #449
Hi @SResok, This is not a case with just password inputs it's also causing issues with all the inputs with the submit button. Ex: Have a look at the search widget in the footer has also same issue.

![screenshot-twentyone local-2020 10 13-22_00_37](https://user-images.githubusercontent.com/25550562/95889068-97a3fd00-0d9f-11eb-8862-e2aafc9401d5.png)

cc: @carolinan

[2020-10-13 16:31] carolinan commented on #449
I can not reproduce this with any other input fields. Which browser and WP and possibly Gutenberg version are you using?

The screenshot you have added doesn't show the same sizing problem?

[2020-10-13 16:38] kishanjasani commented on #449
Don't know It looks weird on my chrome browser. I am using the latest default WP installation with twentytwentyone theme. my screen resolution is `1360 * 768`. It breaks from `822px` breakpoint to N/A. It shows me broken that field as a displayed screenshot of the last comment

[2020-10-13 16:41] sarahricker commented on #444
Thanks for pointing this out @marcduluc!

@melchoyce a11y and Design discussed this one in our new weekly office hours. Overall, we don’t think the browser’s default outline style is enough. We can definitively design something better. It seems though, that this issue might be caused by the larger border width, possibly also line-height and the wrapping concern.

Am I right this was intended to ma

[2020-10-13 17:14] carolinan commented on #444
There is not a lot of time left to redesign the links again. Please be mindful that it is late into the project now.
For example the last call for features was yesterday.

[2020-10-13 19:01] melchoyce commented on #50
This should be good now! Closing.

[2020-10-13 19:01] #50 closed

[2020-10-13 19:04] carolinan commented on #449
I don't understand. In what way is it broken? Because it is on a new line?

I don't understand how that is related to the problem in the screenshot of the password form?

[2020-10-13 19:09] kishanjasani commented on #449
No.

See the height of the textbox and button are different on the mentioned resolution.

[2020-10-13 20:20] ryelle opened #454 "Post excerpt/full display setting not used on archive pages"
**Describe the bug**
I selected "Full text" in the customizer for post display, but I'm still seeing excerpts on archive view.  I saw [the comment on this PR,](https://github.com/WordPress/twentytwentyone/pull/416#issuecomment-707104027) so it sounds like this is intentional, but it seems unexpected to me. I would expect this setting to take effect through the whole site.

**To Reproduce**
Steps t

[2020-10-13 20:26] melchoyce commented on #454
It looks like Twenty Twenty does it this way, too:

![image](https://user-images.githubusercontent.com/2846578/95912286-a2936900-0d70-11eb-8f38-03741ad7a080.png)

Would be nice to be consistent with both how this setting works on older themes, and also across the posts and archive pages here, since the design is the same.

Sorry if this mixup was on me!

[2020-10-13 20:30] melchoyce opened #455 "Update "Theme Settings" panel name"
We currently have a "Theme Settings" panel in the Customizer. However, it only houses the excerpt/full post setting:

![image](https://user-images.githubusercontent.com/2846578/95912580-fc942e80-0d70-11eb-92aa-e08bea29b641.png)

It might make sense to update the panel title, so it's more descriptive of what you'll find inside it. Maybe either "Excerpt Settings" or "Post Settings?"

The copy for th

[2020-10-13 21:19] melchoyce commented on #390
Hey @sarahricker!

I think @marcduluc means the archives, not single posts:

![image](https://user-images.githubusercontent.com/2846578/95917121-bd1d1080-0d77-11eb-98a9-7d0e17cd8964.png)

Single posts don't link to their own titles.

It looks like we don't have this explicitly defined, but I'm still seeing the gap on Chrome, Firefox, and Safari. What browser are you testing in?

Thanks for reviewi

[2020-10-13 22:15] melchoyce commented on #449
It's a little easier to spot in this gif from #437:

![f3caecbdd2befbd38f9d3685470c2621](https://user-images.githubusercontent.com/1590998/95797497-fd38b080-0cef-11eb-89f4-a08fb8715a87.gif)

You can see the height of the input field become shorter when the button drops onto the next line.

I don't think it's as much of a problem, as long as the input field and button are the same height when they'

[2020-10-13 22:16] melchoyce commented on #443
I agree the spacing needs to be consistent here 👍

[2020-10-13 22:20] sarahricker commented on #390
Ahh, thanks @melchoyce !

Maybe a button below the excerpt, or other discernable treatment on the archive post title links (like ellipses) would help? I'm not opposed to removing the underline, so long as there is still an obvious link (more than color only).

Re `text-decoration-skip-ink`  I see it as well,  but thinking we should define it just in case older/ less common browsers don't use it by

[2020-10-13 22:27] melchoyce commented on #390
Thanks @sarahricker!

[2020-10-13 22:29] melchoyce opened #457 "Ensure use of text-decoration-skip-ink across all links for the site"
From #390:

[2020-10-13 23:01] ryelle commented on #429
I took a few screenshots, but TBH I'm not really sure what I'm looking for here. I noticed that Edge & Firefox use different link colors in High Contrast Black (which makes FF almost unreadable, but it was better on my PC monitor than it looks in the screenshot). I don't know if the +/- icon is an issue since it seems fairly high contrast against the black, but I didn't check the contrast ratio.

[2020-10-14 01:02] sarahricker commented on #444
Gotcha, thanks @carolinan! Maybe we can limit the focus here to the cross-browser bugs.

[2020-10-14 04:31] carolinan commented on #429
I tested the four default color schemes again because I did not get the same result as in the screenshots above in my first test.

The plus and minus icon **is** visible in IE11.
The plus minus icon color passes level AA.

The double underline on some links is because those links have both an underline and a transparent border. There should already be an issue to remove these unused borders.

My s

[2020-10-14 04:47] carolinan commented on #377
Reopening this issue, it looks like the borders were not removed.

[2020-10-14 05:19] carolinan opened #458 "Focus indicator for input fields and select lists"
**Describe the bug**

Quote from @sarahricker:
_keyboard focus on the search box should also have a focus state, but it seems the input box is getting double boarder while the button gets an inset dashed line._

See https://github.com/WordPress/twentytwentyone/issues/444

If I understood correctly, the focus indicator for text input fields like in the comment form text fields and text area, passwo

[2020-10-14 05:23] carolinan commented on #458
Example where the outline is changed from solid to dotted to look more like the default, and an offset of 4px is added:

![comment-form-focus](https://user-images.githubusercontent.com/7422055/95946957-e9737400-0ded-11eb-89c4-b7c8268d05d1.png)

And an example with a dotted outline with no offset:
![comment-form-focus-no-offset](https://user-images.githubusercontent.com/7422055/95947024-0ad46000-0d

[2020-10-14 05:26] carolinan commented on #458
But the search widget input field does not look as good with the 4px offset because of the button position:

![search-widget-form-focus](https://user-images.githubusercontent.com/7422055/95947243-78808c00-0dee-11eb-948d-aa9badb28130.png)

[2020-10-14 05:28] carolinan commented on #458
Select list:

![select-focus](https://user-images.githubusercontent.com/7422055/95947410-d7460580-0dee-11eb-9f89-2bfb4299a709.png)

[2020-10-14 06:27] aristath commented on #429
+1

[2020-10-14 06:32] aristath commented on #457
PR: #460

[2020-10-14 06:40] #457 closed, assigned to nobody

[2020-10-14 07:01] #436 closed, assigned to audrasjb

[2020-10-14 07:37] afercia opened #464 "The skip link appears at the top right"
**Describe the bug**
The skip link appears at the top right of the screen, while it is expected to appear at the top left.

**To Reproduce**
- go to any page
- use the Tab key to navigate through focusable elements
- once the "skip link" receives focus, it appears at the top right of the screen

**Expected behavior**
The skip link to appear at the top left, which is the "canonical" place where ski

[2020-10-14 08:28] rolf-yoast commented on #168
As far as I can see the scss included is all theme specific. If @carolinan agrees I would like to close this issue.

[2020-10-14 08:35] aristath commented on #390
@sarahricker following up from a [Slack discussion](https://wordpress.slack.com/archives/C02RP4X03/p1602645132154100) I saw earlier today, could we please have a clear decision for this?

Right now, post-archives look like this:

![Screenshot_2020-10-14 Page 2 – My Blog](https://user-images.githubusercontent.com/588688/95963511-716a7580-0e10-11eb-915f-70a85f33fd8d.png)

So there is a "Read More" l

[2020-10-14 09:02] scruffian commented on #168
An example is the [Pullquote](https://github.com/WordPress/twentytwentyone/blob/trunk/assets/sass/05-blocks/pullquote/_style.scss) block. We have been able to remove a lot of this CSS in other themes, as the base styles from Gutenberg are already doing most of the work.

[2020-10-14 09:12] afercia opened #467 "The skip link inherits the outline style from .site a:focus"
**Describe the bug**
The skip link inherits the outline style from the general ruleset for links `.site a:focus` thus adding a rectangular shape that shouldn't be there.

To reproduce:
- select the skip to content link in the dev tools inspector
- force its state to `:focus` to make it appear
- in the dev tools Styles tab, see the ruleset from `.site a:focus ` is applied to the skip link
- toggle

[2020-10-14 09:12] JustinyAhin opened #468 "The alignment of the block quote isn't inside the content width in the editor"
**Describe the bug**
This is a behavior that was already present in the Seedlet theme, but is even more annoying in Twenty Twenty One because of the separator at the bottom of the title. The quotation blocks are very offset with the width of the content.

**To Reproduce**
Steps to reproduce the behavior:
1. Within the editor, add one or many quotes blocks.
2. You'll notice that they're offset with

[2020-10-14 09:37] #464 closed, assigned to nobody

[2020-10-14 09:45] afercia opened #469 "Navigation menu: avoid all-caps text"
**Describe the bug**
All-cap text is known to be harder to read, especially for some users, for example users with dyslexia, and it's generally less readable for all users. Worth reminding dyslexia comes in many different types and what may be good for some users may not be good for others. Ideally, there should be a mechanism to customize many typeface metrics including spacing between characters

[2020-10-14 10:04] afercia opened #470 "Navigation landmark should not be labelled as "navigation""
**Describe the bug**

Screen readers already announce `<nav>` elements as "navigation".  Labelling a nav element with a string that contains the word "navigation" is redundant:

`<nav aria-label="Footer Navigation" class="footer-navigation">`

The above is announced as:

"Footer Navigation, navigation".

The word "Navigation" should be removed. That would leave us with only the word "Footer", whic

[2020-10-14 10:22] carolinan commented on #390
@aristath  Did you mean _If we remove underlines from titles_?

There are 3 links to the post here: Title, continue reading, and date.

If logged in, the post title is repeated 3 times:
Post title, continue reading post title, edit post title

The exception is the aside that does not show the title.

There is a filter for the title so there is always a title text even if the user does not enter on