[2020-10-14 10:28] aristath commented on #390
:facepalm: I did, thank you! Fixed the typo :+1:

[2020-10-14 10:32] afercia opened #472 "The footer should not contain the widgets"
**Describe the bug**
Not sure if this has been discussed previously and what the argumentation behind this design choice are but the footer should not contain the widgets.

Semantically, a footer element that is child of the body represents "content information" related to the page/site such as copyright info, privacy and legal info, and maybe a short set of links (a menu) related to this kind of

[2020-10-14 10:35] #409 closed, assigned to rolf-yoast

[2020-10-14 11:34] #378 closed, assigned to nobody

[2020-10-14 12:11] aristath commented on #469
PR on #474
Pinging @kjellr and @melchoyce since this will require design feedback :+1:

[2020-10-14 12:17] afercia opened #475 "Posts pagination numbers are just numbers"
**Describe the bug**
The Posts pagination numbers are just numbers, thus they're announced by screen readers just as, for example:

"2 link", "3 link", etc.

![Screenshot (153)](https://user-images.githubusercontent.com/1682452/95979995-ce6c2880-0e1c-11eb-9fff-60c01d9c6ed7.png)

Other bundled themes, for example Twenty Seventeen, add some visually hidden text to prepend the word "Page" and make th

[2020-10-14 12:35] #470 closed, assigned to nobody

[2020-10-14 12:56] SResok commented on #449
@kishanjasani @carolinan @melchoyce
I just applied the same spacings from #437 to the password field

[2020-10-14 12:57] afercia commented on #429
I think the double underline noticed by @ryelle comes from this ruleset:

[code]

where the transparent border becomes visible in High Contrast Mode (this is expected). Seems to me this transparent border is meant to be used for the theme's navigation menus only. However, since some widgets are now wrapped in a nav element because of `navigation-widgets` support, it's also applied to the links wit

[2020-10-14 13:13] #401 closed, assigned to aristath

[2020-10-14 13:35] #454 closed, assigned to nobody

[2020-10-14 13:47] afercia commented on #469
One more reference, specific to dyslexia:

British Dyslexia Association
https://www.bdadyslexia.org.uk/advice/employers/creating-a-dyslexia-friendly-workplace/dyslexia-friendly-style-guide

[2020-10-14 14:01] aristath opened #479 "Avoid using `wp_kses_*` functions"
In many cases we use things like `wp_kses_post( __( 'Something', 'twentytwentyone' ) )`.
For performance reasons it would be a lot more efficient if we used `esc_html__()` or a similar function depending on the string and where it's used.

[2020-10-14 14:05] ocean90 commented on #479
Actually, default core themes should not escape translations at all. See https://core.trac.wordpress.org/ticket/30724 for background.

[2020-10-14 14:10] fxbenard opened #480 "Consistency - van Gogh or Van Gogh"
**Describe the bug**
Please make sure Van/van Gogh is spelled the same way all across the strings

**Screenshots**
![Screenshot_2020-10-14 Translations French (France) Twenty Twenty-One GlotPress — WordPress org](https://user-images.githubusercontent.com/802114/96000831-9faf7b80-0e37-11eb-8dde-b5d171f5cc9a.png)

[2020-10-14 14:34] #414 closed, assigned to nobody

[2020-10-14 14:34] fxbenard commented on #480
As well `&quot;` should be replaced with `&#8220; and &#8221;`

[2020-10-14 14:49] enriquesanchez commented on #390
We need some kind of visual treatment for links in order to comply with WCAG guidelines, which is a goal of this theme. The most common and obvious method is the default underline style.

@marcduluc Do you find that the skip-ink effect in underlines helps with readability?

<img width="403" alt="Screen Shot 2020-10-14 at 9 45 23" src="https://user-images.githubusercontent.com/3276087/96005375-fe5a

[2020-10-14 14:53] afercia commented on #390
Will create a new issue for this. Rationale: a link text like, for example, "October 14, 2020" that links to the post permalink doesn't make much sense for all users (visually and semantically) and also for SEO. Also, it would be nice to reduce the amount of redundant links in the archive pages and find a workaround for the Aside (and the Status).

[2020-10-14 15:11] enriquesanchez commented on #444
I think we can try some small variations that should improve the focus style, I don't think these to be big changes but I'll leave it to the project leads to consider.

**Use the default browser focus style**

![2020-10-14 10-02-28 2020-10-14 10_03_04](https://user-images.githubusercontent.com/3276087/96008486-3adb2d80-0e05-11eb-8b46-c1fdd0ed1f40.gif)

**Change the thickness of the underline**

![

[2020-10-14 15:12] carolinan commented on #480
This is very very low priority until the final images are in the theme and not just placeholders

[2020-10-14 15:19] pattonwebz commented on #479
I still believe this is incorrect to say translations shouldn't be escaped. Most people that make themes believe it's incorrect as well. A 6 year old ticket with very little input from theme developers is not a reason to remove escapes on translations ;)

[2020-10-14 15:20] aristath commented on #479
The default theme should comply with all requirements and recommendations of any theme hosted in the .org repo.
@ocean90 Are you suggesting we remove the "All untrusted data should be escaped before output." rule for all themes hosted on .org?
Translations can't always be trusted btw, we can't assume that they will only come from w.org. It is not rare for people in other locales to just translate

[2020-10-14 15:23] afercia opened #481 "Unlink the publish date"
**Describe the bug**
Splitting this out from https://github.com/WordPress/twentytwentyone/issues/390#issuecomment-708456489

For a number of years, bundled themes have been linking the post "publish date" in the archive pages to the post permalink. Following this example, many WordPress themes do the same thing.

![date](https://user-images.githubusercontent.com/1682452/96008493-e7d29c00-0e3f-11eb

[2020-10-14 15:23] ocean90 commented on #479
I'm not going to repeat myself (it's the same for every default theme, see [2020](https://github.com/WordPress/twentytwenty/pull/734) as another example) and I don't know what rules the theme review has. But since the theme will be bundled with core the rules for core should apply.

[2020-10-14 15:26] aristath commented on #479
The default theme is indeed bundled with core. However, it is also hosted in the themes repository, should go through a review process, and it's what theme-developers see & use as an example of a "good" theme.
If anything, the default theme should follow stricter rules and set a good example instead of bypassing every rule in the book because it's core.

[2020-10-14 15:27] kjellr commented on #469
This seems ok on my end. Changing this doesn't drastically impact the overall impression of the theme:

Before|After
---|---
![iPad mini - 6](https://user-images.githubusercontent.com/1202812/96010760-2b151680-0e10-11eb-9151-ed6218367044.png)|![iPad mini - 1](https://user-images.githubusercontent.com/1202812/96010466-cf4a8d80-0e0f-11eb-9fb1-05f6bdfcc32f.png)|

The only design challenge this would

[2020-10-14 15:27] pattonwebz commented on #479
@ocean90 it's only the same for every default theme because you made it so without any input from the theme review team whatsoever. You done the same thing last year and against my best judgement I did not continue to push back.

I'm voicing my opinion again this year that the translations should be escaped.

[2020-10-14 15:31] dingo-d commented on #479
+1 on the escaping. Default themes are the ones that get used the most by developers as sort of a starting point in theme development.

It's a good practice to escape on the output, even in translations. This can only be a good thing in the end, not a bad thing IMO.

And citing any kind of 'performance impact' would be nitpicking and would fall in the realm of micro-optimizations.

[2020-10-14 15:41] afercia opened #482 "Remove remnants of microformats: rel=bookmark and the like"
**Describe the bug**
For a number of years, bundled themes have been using `rel=bookmark` attributes on the post links and CSS classes related to microformats like `vcard`, `url fn n`, and maybe more.

This practice comes from a time when microformats were still kept in some consideration. I'm not sure that today they add great value as microformats are basically not used any longer and there are

[2020-10-14 16:01] afercia commented on #390
An in-depth analysis on link underlines:

On Link Underlines
https://adrianroselli.com/2016/06/on-link-underlines.html

It includes references and considerations about dyslexia as well. To my understanding, the most important part is to make sure the underline doesn't have a big impact ("overlaps") on the ability to recognize the characters shape as in: the underline should never intersect the typ

[2020-10-14 17:03] enriquesanchez commented on #475
We could place these links inside a `role=group` so they are announced with context to screen readers:

"link 2, Posts pagination, group"

<img width="772" alt="Screen Shot 2020-10-14 at 12 00 04" src="https://user-images.githubusercontent.com/3276087/96021515-2acb4a00-0e15-11eb-806b-6278d8fa0cbc.png">

Another similar idea is to have these links `aria-describedby` by a heading, label or hidden la

[2020-10-14 18:09] ryelle commented on #475
The links are already in a `nav role="navigation"` with label "Posts", but that label isn't announced with each link. Would adding a group to just the numbers work better? There is also already a hidden heading ("Posts navigation"), we could attach that using `aria-describedby`, but would that be picked up by the link list menu?

[2020-10-14 20:00] #468 closed, assigned to nobody

[2020-10-14 22:09] enriquesanchez commented on #475
@ryelle Ah, you're right. `role="navigation"` makes more sense here, and this means the link is announced as:

"Link 2, Posts, navigation"

I personally think this is enough context.

Right, VoiceOver only announces the `role` on the first item you focus on in the list. As far as I can tell, this is standard behavior and avoids unnecessary verbosity and repetition.

I think we could still change t

[2020-10-15 04:36] #446 closed, assigned to carolinan

[2020-10-15 04:47] #443 closed, assigned to nobody

[2020-10-15 05:02] carolinan opened #485 "Menu descriptions looks bad in the secondary menu"
**Describe the bug**
When a menu that has descriptions is added to the secondary menu,
the description is shown to the right of the menu item link text, and there is no spacing between the two texts.

**To Reproduce**
Steps to reproduce the behavior:
1. Add descriptions to a menu
2. Add the menu to the secondary menu ( footer)
3. View the front, scroll down to the footer.
4. See error

**Expected

[2020-10-15 05:14] carolinan opened #486 "Assure that CSS variables are used consistently"
**Describe the bug**
The theme has a large amount of CSS variables, and we need to make sure that they are used, or, remove them if that is more appropriate.

Example:
The footer has a `--footer--color-link-hover` variable in global.scss and it seems this was not used until https://github.com/WordPress/twentytwentyone/pull/484

[2020-10-15 05:42] carolinan opened #487 "Sub-menu toggle size is larger when a description is used"
**Describe the bug**
When a menu item has a description, the toggle button height is the same as the combined menu item and description text.
The plus and minus icons is vertically centered, even for items that has no description.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a menu that has both sub menus and descriptions
2. Assign the menu to the primary menu location
3. View the

[2020-10-15 05:55] carolinan opened #488 "Table text is wrapping unexpectedly"
**Describe the bug**
Text inside tables and table headers wrap unexpectedly both for classic tables and table blocks.
This is easiest to see with the screenshots below.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the theme unit test
2. View the page called "page-markup-and-formatting/"
3. See the text wrap
4. Create a new table block
5. Save and view the front
6. See the text wra

[2020-10-15 06:31] aristath commented on #487
PR on #490

[2020-10-15 06:47] #487 closed, assigned to nobody

[2020-10-15 06:55] aristath commented on #485
PR in #491

[2020-10-15 07:08] #377 closed, assigned to ryelle

[2020-10-15 07:20] #485 closed, assigned to nobody

[2020-10-15 07:21] carolinan opened #492 "5.4 Group block, incorrect spacing in the editor"
**Expected behavior**
Does the editor and front match?

No. In the editor, a group block with a background color is missing the bottom vertical spacing, but only for wide and full width:

**Screenshots**
Editor:
![54-group](https://user-images.githubusercontent.com/7422055/96089710-86eea680-0ec7-11eb-83b4-904307bac17f.png)

Front
![54-group-front](https://user-images.githubusercontent.com/7422055/

[2020-10-15 07:25] carolinan commented on #448
Related: https://github.com/WordPress/twentytwentyone/issues/492

[2020-10-15 07:26] marctison75 commented on #390
@enriquesanchez Yes the skip-ink effect in underlines helps with readability. But for me, underline titles with skip-ink are more difficult to read  than titles with no underline. As  blog post pages have many titles, it would be a bit complicated for me to browse the page.

But I understand that there are also other requirements to take into consideration 🙂

[2020-10-15 07:29] aristath commented on #448
Both this one and #492 were essentially core-editor bugs that were fixed in later versions.
Is it the theme's responsibility to address core bugs?
Does "compatible with WP 5.3" mean that things in WP 5.3 should be identical to 5.6? Or does it means "we guarantee it won't break your site as far back as WP 5.3"?

[2020-10-15 07:31] #472 closed, assigned to nobody

[2020-10-15 08:27] aristath opened #494 "Cleanup: Remove `.entry-meta` and related code."
The only place where we have a `.entry-meta` element is here:
https://github.com/WordPress/twentytwentyone/blob/28766adff5e8082e30b9973ac1193dd53fe30286/template-parts/header/entry-header.php#L14-L18

So it only exists inside the `template-parts/header/entry-header.php` file, and is wrapped in a `! is_page()` condition so it will only render on post-types that are not pages.

The `template-parts/h

[2020-10-15 09:20] #328 closed, assigned to nobody

[2020-10-15 09:27] #481 closed, assigned to nobody

[2020-10-15 09:53] #27 closed

[2020-10-15 10:34] #449 closed, assigned to nobody

[2020-10-15 10:45] aristath commented on #188
Closing this one since it's not directly related to this repository and it will have to be fixed in stylelint-config as mentioned above.

[2020-10-15 10:45] #188 closed, assigned to nobody

[2020-10-15 11:15] #455 closed, assigned to nobody

[2020-10-15 11:56] naunha opened #498 "Suggested image size"
I know that perhaps this question is inopportune, but it never hurts to ask. I'm new here on GitHub and I'm really enjoying this new twenty twenty-one theme. I follow the development from the beginning. I will definitely implement it on my personal blog. I'm even adapting all the content for this new theme. My question is: **How big are the images recommended for the theme?** Thanks in advance, I

[2020-10-15 12:11] aristath commented on #498
There is no specific size requirement anymore, just use whatever size looks best in your posts. :)

[2020-10-15 12:11] #498 closed, assigned to nobody

[2020-10-15 12:26] carolinan commented on #429
Closing, the double underline/border combination has been removed

[2020-10-15 12:31] carolinan opened #499 "Update font size and font weight of the post pagination"
**Describe the bug**
From https://github.com/WordPress/twentytwentyone/pull/439#issuecomment-708034454

The font size and font weight of the post pagination does not match the design:

![95920946-60712400-0d7e-11eb-96f5-06ff1b593c0c](https://user-images.githubusercontent.com/7422055/96123346-fc23a100-0ef2-11eb-9b97-0551bc7184b8.png)

[2020-10-15 12:36] aristath commented on #488
@JustinyAhin I'm sorry, I missed the fact that this was already assigned to you, and I pushed a PR on #500...

[2020-10-15 12:39] carolinan opened #501 "Replace the space between the text and the arrows in the pagination with CSS"
**Describe the bug**
In both the comment pagination, archive pagination and the single post pagination,
there is an extra space in the link between the text and the arrow.

From https://github.com/WordPress/twentytwentyone/pull/439#issuecomment-708034454

_Remove the space, and add 5px left/right margins (using the CSS spacing variables) onto the SVGs.
Then, calculate the margin from the width of

[2020-10-15 12:51] kjellr commented on #390
Based on the conversation above, it seems to me that keeping an underline present is our best solution.

I'd advise against using a `border-bottom` here — we've removed that from all other links already. And since we cannot control the `text-underline-thickness` in Chrome, using a `border-bottom` for just the post title would introduce a weird situation where the post title underline would be less

[2020-10-15 13:01] #494 closed, assigned to nobody

[2020-10-15 13:25] melchoyce commented on #469
I think it would work better if we increased the font size of the navigation items to 20px, rather than decreasing the size of the description:

![image](https://user-images.githubusercontent.com/2846578/96132406-6115d180-0ec8-11eb-9623-c6d7303ee740.png)

[2020-10-15 13:31] aristath commented on #469
Perfect, thank you @melchoyce
I'll go ahead and merge #474, and create a separate ticket to increase the font-size for menus.

[2020-10-15 13:32] #488 closed, assigned to JustinyAhin

[2020-10-15 13:33] #469 closed, assigned to nobody

[2020-10-15 13:40] melchoyce commented on #444
Let's try browser defaults for all focus styles. Can someone make a PR?

[2020-10-15 13:41] melchoyce commented on #458
If we go with browser defaults in #444, this issue will likely fix itself.

[2020-10-15 13:59] carolinan commented on #458
The current styles on the fields would still need to be removed.

[2020-10-15 14:17] JustinyAhin commented on #488
It's fine @aristath. Thanks :+1:

[2020-10-15 14:19] #499 closed, assigned to aristath

[2020-10-15 14:21] aristath opened #505 "Increase font-size of navigation items"
See https://github.com/WordPress/twentytwentyone/issues/469#issuecomment-709323062 for details.

The font-size of navigation items should increase to `20px`, but the size of descriptions should stay the same.

[2020-10-15 14:21] aristath commented on #469
Issue for the font-size: https://github.com/WordPress/twentytwentyone/issues/505

[2020-10-15 14:31] #501 closed, assigned to kjellr

[2020-10-15 14:38] carolinan commented on #444
The default outline style still overlap in Firefox;

![overlap-outline](https://user-images.githubusercontent.com/7422055/96144483-832d4500-0f04-11eb-8535-20db58be9c13.png)

![overlap-outline2](https://user-images.githubusercontent.com/7422055/96144617-a821b800-0f04-11eb-90a6-9457eb84d77b.png)

And the style is almost invisible:
![outline-black](https://user-images.githubusercontent.com/7422055/96

[2020-10-15 15:06] pattonwebz commented on #390
I wanted to re-open this issue here because, while wo do have _a working solution_ for some instances it's not ideal and the [support level that it has is really quite small](https://caniuse.com/?search=text-underline). Basically current support is only safari and firefox for desktop (neither support it on mobile).

The merged solution is only suitable for less than 10% of total users (consider co

[2020-10-15 15:41] #482 closed, assigned to nobody

[2020-10-15 15:44] ingereck opened #510 "Menu expands into cover block on iPhone"
**Describe the bug**
The primary menu expands into the cover block on iphone and is not fully visible and accessible. This is only the case on the front page where there is no page title (though it is great that the front page does not show a title).

**To Reproduce**
Steps to reproduce the behavior:
1. Open website i. e. https://wp19671.vps.webdock.io/ on iPhone
2. Click on 'menu'
4. You can only

[2020-10-15 15:54] carolinan commented on #475
Should the default wording be changed in core?
https://developer.wordpress.org/reference/functions/get_the_posts_pagination/

[2020-10-15 16:00] carolinan commented on #438
This has been fixed with a series of pull requests, so I will close this.
https://github.com/WordPress/twentytwentyone/pull/504,
https://github.com/WordPress/twentytwentyone/pull/503,
https://github.com/WordPress/twentytwentyone/issues/501

[2020-10-15 16:00] #438 closed, assigned to audrasjb

[2020-10-15 16:12] #429 closed, assigned to nobody

[2020-10-15 17:41] melchoyce commented on #1
I spent some time today riffing off of @carolinan's idea, which you can see live at https://2021.wordpress.net/starter-content/.

I focused largely on brief instruction & education.

FWIW, I don't think we should include widgets within the starter content, just page content.

Here's the code output:

[code]

[2020-10-15 18:18] #441 closed, assigned to nobody

[2020-10-15 18:18] #510 closed, assigned to nobody

[2020-10-15 18:49] ingereck opened #511 "Page title moved to the left and is underlined now"
**Describe the bug**
Before the page title was is line with the text (paragraph block) and there was only a line under the page title on the Blog's page.
Now, the Blog page does no longer have a line, but all other pages have one, and the page title moved all the way to the left.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Example page: https://wp19671.vps.webdock.io/vita/
2. Scro

[2020-10-15 18:52] melchoyce commented on #511
Hey @ingereck, this was an intentional change made in https://github.com/WordPress/twentytwentyone/pull/173. You can read more about the reasoning behind the change in https://github.com/WordPress/twentytwentyone/issues/37. Going to close this but please keep creating issues as you find bugs!

[2020-10-15 18:52] #511 closed, assigned to nobody

[2020-10-15 20:15] carolinan commented on #184
It is not possible for us to work around issues that are not complete before beta 1, our time line is the same, not "after Gutenberg".

[2020-10-15 21:02] melchoyce commented on #243
I've taken a stab at replacing all the images with paintings from Morisot:

![Screenshot_2020-10-15 Block Patterns – Twenty Twenty One](https://user-images.githubusercontent.com/2846578/96185173-86760000-0f07-11eb-8ccb-5d8a095bdeb7.jpg)
https://2021.wordpress.net/block-patterns/

I've uploaded all the images (compressed) here: https://cloudup.com/c_MycV-gMCT

Image sources:
- https://www.wikiart.o

[2020-10-15 22:47] enriquesanchez commented on #458
I personally don't think there is anything wrong with the current focus styles. It's prominent and obvious. I also don't think there is an issue if the focus style of input fields is not the same as the one for buttons. We ideally want to keep them consistent, but it makes sense to have different styles if it makes the focus indication more visible on buttons.

[2020-10-15 23:17] melchoyce opened #515 "Update design for Password Protected posts"
Let's style the default Password Protected posts messaging to match 404 / search result pages:

![image](https://user-images.githubusercontent.com/2846578/96195572-196c6580-0f1b-11eb-91be-20628450baa1.png)

This includes:
- Larger font sizing for the "enter a password" message.
- Wider input field to match other text inputs in the theme.
- Updated copy: `This content is password protected. Please

[2020-10-16 01:17] melchoyce commented on #167
Since this issue is pretty broad I'm going to close it up, but if there's anything specific that needs to still be addressed, please add a new issue. Thanks!

[2020-10-16 01:17] #167 closed, assigned to nobody

[2020-10-16 01:23] naunha opened #516 "Capital letter - BUG"
I inform the error of positioning of the capital letter, in the paragraph block. See attached figure. Edge Browser.

![Captura de Tela (126)](https://user-images.githubusercontent.com/5017547/96202228-0bc3d980-0f35-11eb-8638-8b296da55ddb.png)

[2020-10-16 01:24] melchoyce commented on #399
Able to replicate on iOS 13.7 in Safari:

<img src="https://user-images.githubusercontent.com/2846578/96202303-de732d80-0f2c-11eb-9bd1-f72611a148aa.jpg" width="400" />

Looks like it's a pretty easy CSS fix: https://stackoverflow.com/questions/2918707/turn-off-iphone-safari-input-element-rounding

[2020-10-16 01:32] melchoyce commented on #410
Can we use the color palette output by the `#28303d` background color option as a base for dark mode support?

![image](https://user-images.githubusercontent.com/2846578/96202707-e7b0ca00-0f2d-11eb-88fc-558fdfc33744.png)

[2020-10-16 02:45] #467 closed, assigned to nobody

[2020-10-16 03:22] carolinan commented on #458
Current focus with black background:

![black](https://user-images.githubusercontent.com/7422055/96209302-8b6e9a00-0f6f-11eb-954e-1c5e7af731b5.gif)

[2020-10-16 03:26] carolinan commented on #516
Is the size of the dropcap correct @melchoyce?

[2020-10-16 04:02] carolinan opened #517 "Texts missing spaces when using a screen reader"
**Describe the bug**
These texts are missing spaces when using a screen reader:

Parent menu item + description
Continue reading + post title
Edit link + post title

Can also be improved:
Previous post  + post title, Next post + post title
has no spacing after the colon, reads like: Previous post:title

**Additional context**
Tested with NVDA on windows 10

[2020-10-16 04:27] carolinan opened #518 "Pullquote text should not change color when placed over a background color."
**Describe the bug**
When a pullquote is placed inside a block that has a background color, and the body background color is changed,
the text color of the pullquote changes to have a high contrast against the body background color.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a group block, media and text or cover block and change its background color.
2. Add a pull quote, save
3. Go

[2020-10-16 04:45] melchoyce commented on #516
It seems big — ideally it would be roughly the height of three lines of text:

![image](https://user-images.githubusercontent.com/2846578/96213950-30757c80-0f48-11eb-8e30-7e0866ff99d9.png)

(I used 116px in the above screenshot, but hopefully there's a way to keep it all proportional)

[2020-10-16 04:51] carolinan opened #519 "Citations and captions should not change color when placed over a background color."
**Describe the bug**
When a table block is placed inside a block that has a background, the regular text inside the table works well and is readable.
But if a citation is added, and the body background is changed, the citation changes color depending on the body background.

The same thing happens when a caption is added to a:
- Gallery
- Image
- Audio,
- Video
- Embed

**To Reproduce**
1. Add a g

[2020-10-16 05:12] carolinan commented on #518
The theme changes the default text color to keep a high contrast with the _body background_, that does not work then there is an extra background color in between.

[2020-10-16 06:28] #505 closed, assigned to nobody

[2020-10-16 07:00] afercia commented on #475
Just to note that playing with a role=group or aria-describedby won't help when these links are read out of context. Screen readers provide a few ways to get a list of the links in a page or jump through links etc. and in these cases the links are "out of context".

For example, NVDA has a tool called "Elements list" which, amongst other things, lists all the links in a page:

![Screenshot (157)](

[2020-10-16 07:07] carolinan commented on #475
<del>There is no parameter for adding text to the numbers in core, do we also want to open a trac issue?</del>
I did not look far enough, there is paginate_links: https://developer.wordpress.org/reference/functions/paginate_links/

[2020-10-16 07:13] afercia commented on #475
There is 🙂 At least for `the_posts_pagination()` and it's used in Twenty Seventeen:  `before_page_number`

[2020-10-16 09:06] afercia opened #526 ""Toggle" is difficult to translate in many languages and should be avoided"
**Describe the bug**
Minor. Not urgent. Can be addressed at any time before strings freeze,

The buttons to open the navigation sub-menus us a visually hidden text "Toggle child menu".

The verb "toggle" is difficult to translate in many languages and should preferably be avoided. Trac reference with more details:

**Remove use of "Toggle" in strings**
https://core.trac.wordpress.org/ticket/34753

[2020-10-16 09:12] carolinan opened #527 "Posts with Aside and Status post formats can not be reached from archives"
**Describe the bug**
With the removal of the link on the post date, we forgot to add a link where these post formats can be reached.
(The link text needs to be in context and relevant, we can not reuse the post date for this purpose.)

**To Reproduce**
Steps to reproduce the behavior:
1. Create an aside and or status post
2. View the archive listing
3. See error

**Expected behavior**
All the site

[2020-10-16 09:40] carolinan commented on #480
Closing, as new images have been selected.

[2020-10-16 09:40] #480 closed, assigned to nobody

[2020-10-16 10:42] naunha commented on #516
What would be the correct size? As soon as the lower lines return to the normal position of the paragraph, this overlapping of the initial letter should not happen

[2020-10-16 11:06] carolinan opened #531 "Code block issues"
**Describe the bug**
As reported by  @francescamarano

`In the editor, the code uses the whole container, whilst in the front-end it looks like it has a max-width of 50%.`

**Test environment**
WordPress version: 5.5.2-alpha-48959
Gutenberg version: 9.1.1
OS: Mac OS Catalina 10.15.7
Browser: Chrome 86.0.4240.80
Display 16″, 3072 x 1920

**To Reproduce**
Steps to reproduce the behavior:
1. Add a co

[2020-10-16 11:08] briceduclos opened #532 "Sticky post isn’t visually different than the other posts"
**Describe the bug**
 Currently, a sticky post looks like a “normal” post. There’s no indication that it’s sticky.

**Expected behavior**
The sticky post should have a text indicating that it’s sticky or a different styling that distinguishes it from the other posts.

[2020-10-16 11:09] afercia opened #533 "Pagination links: the clickable area is too small"
**Describe the bug**
The clickable area of the various pagination links is a bit too small for a theme that aims to be WCAG level AAA "ready".

The posts pagination links have a target size of approximately 13 by 42 pixels:

![posts pagination](https://user-images.githubusercontent.com/1682452/96251166-5b93b680-0fb0-11eb-951d-c62f7d126e3c.png)

where the width is a bit too small for all users.

Si

[2020-10-16 11:10] briceduclos opened #534 "Empty HTML tag on frontpage"
**Describe the bug**
On the frontpage where it was decided to remove the title https://github.com/WordPress/twentytwentyone/pull/356 , there’s an empty header tag:
`<header class="entry-header alignwide"> </header>`

**Expected behavior**
The header tag shouldn’t be printed on the frontpage.

[2020-10-16 11:10] carolinan commented on #532
It is different from the others because it is placed at the top, out of order.

[2020-10-16 11:12] briceduclos opened #535 "Font size of the comment date is larger than the post meta font size"
**Describe the bug**

Currently, the font size of the comment date is larger than the font size of the post meta:
[code]

**Expected behavior**
I expect the font size of the comment date to not be larger than the post meta to respect the visual hierarchy.

[2020-10-16 11:19] briceduclos opened #536 "Blocks vertical margins"
Currently, all blocks inside .entry-content have a top margin and a bottom margin.
[code]

Is there a reason to add a top margin? (Previous default themes set the top margin to 0). I’m asking because when the user inserts a small spacer block (e.g 20px, the minimal value) between two blocks, the space is very large (20px + 2* spacing-vertical = 80px).

[2020-10-16 11:26] carolinan commented on #533
With #524, the clickable size of the post pagination is 71x41 which is still not high/tall enough.

[2020-10-16 11:28] rolf-yoast commented on #516
@naunha I'm already working on a PR as we speak ;-)

[2020-10-16 12:31] #410 closed, assigned to nobody

[2020-10-16 12:54] #516 closed, assigned to nobody

[2020-10-16 12:58] carolinan opened #539 "Mobile: The primary menu causes a horizontal scroll"
**Describe the bug**
Testing trunk on Huawei P20 android 5.8inch 2244 × 1080 px.

When the primary menu is used, there is an horizontal scroll.
**When no menu is set on this location, the scroll is no longer present.**

**Screenshots**
Here I dragged the content to the left. I was not sure how else to get a screenshot of the horizontal movement.

Chrome:
![thumbnail_Screenshot_android chrome](http

[2020-10-16 13:05] #399 closed, assigned to nobody

[2020-10-16 13:07] carolinan opened #541 "Mobile: Spacing issues"
**Describe the bug**
Testing trunk on Huawei P20 android 5.8inch 2244 × 1080 px.

The space between the pagination and the footer widgets takes up almost all the screen.
(This has been reported before).

The space between the newer posts and older posts link is very small.

**Screenshots**

Here I zoomed out, and you can see that the menu is causing the content to be too wide, because the border
d

[2020-10-16 13:11] #517 closed, assigned to aristath

[2020-10-16 13:17] carolinan opened #542 "Mobile/ small screens: Let the comment text input fields be wider."
**Describe the bug**
Testing trunk on Huawei P20 android 5.8inch 2244 × 1080 px.

**To Reproduce**
Steps to reproduce the behavior:
1. Reduce the browser window width
2. When logged out, view a post or page with a comments area
3. See that the name and email fields are narrow

**Expected behavior**
The fields should be easy to use.

**Screenshots**
![thumbnail_Screenshot_20201016_150555_com androi

[2020-10-16 13:18] kjellr commented on #536
I don't have a strong opinion on this one. Twenty Nineteen used top and bottom margins. Twenty Twenty did not.

There are a handful of Gutenberg blocks that don't ship bottom margins by default on the front end (like the Group block for example). This causes issues when a theme doesn't account for that. In fact, while looking into this, I just noticed that being an issue on the Twenty Twenty demo:

[2020-10-16 13:20] aristath commented on #536
I agree for the spacer block. Not for all others, but an exception for spacers should be made :+1:

[2020-10-16 13:23] carolinan opened #543 "Mobile/small screens: Gravatar overlaps long comment author names"
**Describe the bug**
Testing trunk on Huawei P20 android 5.8inch 2244 × 1080 px.

When the comment authors name is long, it wraps in to two lines, and the gravatar overlaps it.
I believe this has already been reported and fixed once?

**To Reproduce**
Steps to reproduce the behavior:
1. Reduce the browser window width
2. View a post or page with a comment where the comment author has a long name,

[2020-10-16 13:23] pattonwebz commented on #536
Yup seems like a great call to make to remove margins from the spacer at least :)

[2020-10-16 13:28] kjellr commented on #536
I'll open a quick PR to handle that.

[2020-10-16 13:30] kjellr commented on #536
Actually — we do that already. 😂

https://github.com/WordPress/twentytwentyone/blob/e0486a21ce723aee3c99d4bdca1331abd31134e6/assets/sass/05-blocks/spacer/_style.scss#L4-L5

[2020-10-16 13:32] pattonwebz commented on #536
Nice, seems someone already considerd this before us. That person was smart :)

[2020-10-16 13:35] briceduclos commented on #536
Removing the spacer's margins doesn't change anything because that's the blocks' margins around the spacer that create the spacing.  In fact, you can let the margins for the spacer because of margin collapsing.

[2020-10-16 13:38] aristath commented on #536
Hmmm so you're saying we need something like this?

[code]

[2020-10-16 13:44] kjellr commented on #536
Note that if we did do something like that, we'd need it to be applied to the editor as well — the primary goal is to make sure the space matches in both places.

[2020-10-16 14:01] #543 closed, assigned to nobody

[2020-10-16 14:26] #534 closed, assigned to nobody

[2020-10-16 14:52] #519 closed, assigned to nobody

[2020-10-16 14:57] briceduclos commented on #532
All previous default themes (Twenty Twenty, Twenty Nineteen, Twenty Seventeen) and Seedlet add a label indicating to the user that the post is sticky/featured (similar to Twitter). For a website visitor, I think it can be weird not to show anything. Let’s say your sticky post is dated from 2019 and that you’ve written other posts in 2020. When visiting your posts page, the visitor might think that

[2020-10-16 15:37] melchoyce commented on #113
Screenshot uploaded! Closing this issue.

[2020-10-16 15:37] #113 closed

[2020-10-16 15:40] joyously commented on #113
Ha! I just downloaded and saw that it wasn't there. But it does match the description of a "blank canvas"!
![Manage Themes ‹ Local Current WP — WordPress-00](https://user-images.githubusercontent.com/7957680/96279208-fafa7e80-0f9b-11eb-8a10-b40b61c49680.jpg)

[2020-10-16 15:57] joyously opened #548 "blockquote styling"
The styles for a blockquote affect `blockquote p`, and change only the font size. There is no other indication that it is a quote. There appear to be styles for quote blocks, however.
Just know that there are 15 years worth of legacy content out there, so not all sites will have the block markup.

**Expected behavior**
The theme should style HTML elements, not just WP blocks.

**Screenshots**
Them

[2020-10-16 16:09] joyously opened #549 "quote blocks with aligned text"
A quote block that has right aligned text is showing the border on the right also. This looks wrong to me, and probably gets by testing because the test data is short.
But switching to RTL mode, it looks even more wrong, because the text remains right and border is on the left.

**Expected behavior**
The border that denotes a blockquote should be on the leading side (left for LTR and right for RTL

[2020-10-16 16:11] carolinan commented on #549
The design for the block quote has not been merged yet, this will be replaced.

[2020-10-16 16:12] #1 closed

[2020-10-16 16:13] melchoyce opened #550 "Remove period after footer meta categories"
**Describe the bug**
On archive pages, a there is a period after the category list, but no periods after any other meta content. There aren't any periods in single post meta, so let's remove this one as well.

**Screenshots**

**Before:**
![image](https://user-images.githubusercontent.com/2846578/96281145-ee2f5800-0fa6-11eb-92a3-ebfbe036daef.png)

**After:**
![image](https://user-images.githubuser

[2020-10-16 16:18] enriquesanchez commented on #390
@pattonwebz I think that keeping the underline is the best option we have now. There's not a one size fits all solution here.

We can improve on it where possible, with things such as skip-ink, text-underline-thickness, and text-underline-offset and let users adjust after that to their needs.

I highly recommend the article shared by @afercia above: https://adrianroselli.com/2016/06/on-link-underl

[2020-10-16 16:22] pattonwebz commented on #390
@enriquesanchez I am inclined to agree we have the best solution we can have here however I reopened the issue to give a little extra time to explore more and maybe find another solution. After my own very quick explore so far I haven't found anything that workws better but I'd still like to keep this open a little longer to give a bit more time (and so that I don't forget to circle back :smile: )

[2020-10-16 16:26] joyously opened #551 "existing solid color quote block doesn't show color"
An existing quote block with classes `wp-block-pullquote has-background has-cyan-bluish-gray-background-color is-style-solid-color` shows as transparent background.
If I disable the style
`.wp-block-pullquote.is-style-solid-color {background-color: var(--pullquote--color-background)}`
then it shows the correct background color.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the Theme Un

[2020-10-16 16:33] joyously opened #552 "RTL: Arrows on calendar widget point wrong way"
**Expected behavior**
For RTL mode:
The previous month link is on the right (that is correct), but the arrow points left.

**Screenshots**
In RTL mode, the arrow for the month link at the bottom points the wrong way.
![calendar-widget](https://user-images.githubusercontent.com/7957680/96284334-0e5d1800-0fa3-11eb-8a55-2e1acf485d90.jpg)

[2020-10-16 16:47] pattonwebz commented on #448
For me I think chasing full backwards compatibility on older versions of WP and all the version of GB that shipped with it is too much of a challenge without a lot of added value for the time it would take.

Personally I feel it's sufficient to make sure it doesn't break as far back as 5.3 but trying to get exact match or like-for-like display probably isn't going to be possible without a great de

[2020-10-16 16:52] joyously opened #553 "pre tag is not preserving whitespace"
The `pre` tag is supposed to preserve whitespace, but it is using
`pre {white-space: pre-wrap}`
which does not.
The font size should probably be reduced a bit, since it's monospace.

**Screenshots**
It looks like this mess:
![pre-tag](https://user-images.githubusercontent.com/7957680/96286177-9ba16c00-0fa5-11eb-8e84-80e6027deb74.jpg)

If the `pre {white-space: pre-wrap}` rule is disabled, it looks

[2020-10-16 17:18] joyously opened #554 "Pages widget does not show the nesting of the pages"
The Pages widget does not show the nesting of the pages.
I see in the Dev tools that the menu has
`.widget-area ul.sub-menu {margin-left: var(--widget--spacing-menu); }`
which would not apply to the Pages widget.

**Screenshots**
This screenshot shows an ugly search widget, a Navigation widget that shows the nesting, and a Pages widget which does not show the nesting.
![widgets](https://user-image

[2020-10-16 17:22] #122 closed

[2020-10-16 17:22] #243 closed, assigned to bethsoderberg, melchoyce

[2020-10-16 17:42] joyously opened #555 "Group block not clearing float, Search block out of center"
The Group block is not clearing floats. This can be seen by the fact that the floated image is hanging out the bottom of the block.
The Search block is not centered like everything else. Its button styling looks different from the Search widget I have in the footer.

**Screenshots**
This is showing the front end, with a Group block containing an aligned right image, then a search block, and then t

[2020-10-16 17:55] #475 closed, assigned to nobody

[2020-10-16 18:15] joyously opened #557 "clearing floats"
When the user content has a floated element, it is not cleared before outputting the page links.

**Expected behavior**
The user content can contain floated elements, which should be cleared before anything else is output. Page links should not be inside the entry-content div, even though they are specified there.

**Screenshots**
This shows that the page links are wrapping around the floated imag

[2020-10-16 18:33] joyously opened #558 "inconsistent styling for gallery block (linked and unlinked)"
When images are not loading (these are imported from a sandbox site that is gone), there is no indication of a missing image. The outline on the image is apparently from the link.

**Expected behavior**
I expect the images to look the same whether they are linked or not.
I also expect to see some indication of a missing image.

**Screenshots**
This shows the same images in two gallery blocks. The

[2020-10-16 18:44] melchoyce commented on #532
We could stick (hah!) it into the footer meta on archive pages?

What label do you think makes the most sense — Pinned? Sticky post? Featured?

[2020-10-16 20:07] joyously opened #560 "gallery image captions"
The legacy gallery (shortcode) looks much better than the gallery block because of the treatment of the image captions.
I see these problems with the image captions on the gallery block:
1. The caption obscures the image.
![obscured](https://user-images.githubusercontent.com/7957680/96299576-e6c57a00-0fb9-11eb-913a-3017529b41a1.jpg)

2. Linked images with captions don't show the link cursor where

[2020-10-16 20:26] melchoyce commented on #526
This makes sense to me 👍

[2020-10-16 20:27] melchoyce commented on #527
Should we add a "read more" link to these?

[2020-10-16 20:40] melchoyce commented on #542
Ideally these should split onto two lines on small screens. 👍

[2020-10-16 20:42] melchoyce commented on #548
Thanks Joy!

We'll want to retest this once #513 lands.

[2020-10-16 20:43] melchoyce commented on #549
We'll also want to make sure to test this one once #513 lands. We don't have a border, but we'll want to make sure the quotation icon flips, I think?

[2020-10-16 20:45] melchoyce commented on #554
Let's nest up to 3 levels here 👍

The spacing used in the navigation widget is good.

[2020-10-16 20:46] melchoyce commented on #560
Duplicate of #238. The problem is caused by Gutenberg, so we've left it to be solved upstream.

[2020-10-16 20:46] #560 closed, assigned to nobody

[2020-10-16 21:16] joyously commented on #560
This issue that you are calling duplicate has 4 parts, and only the second part is a duplicate of that other issue, which appears that it didn't even get the correct fix (`pointer-events:none`).

[2020-10-16 21:22] joyously opened #562 "Page title is too large"
Even a not very long page title takes up the entire viewport, because the font size is so large and the content width is narrow.
It makes it hard to read.
![Template Password Protected (the password is “enter”) – Local Current WP-33](https://user-images.githubusercontent.com/7957680/96309826-aec73280-0fcb-11eb-91f0-258c01eb5b23.jpg)

[2020-10-16 21:31] joyously opened #563 "Featured image is assumed to be large"
When using a small featured image, the CSS uses
`min-width: var(--responsive--aligndefault-width)` which makes the image blurry.
The image in this test is 165px wide.

![blurred-featured-image](https://user-images.githubusercontent.com/7957680/96310251-a28fa500-0fcc-11eb-9a15-aa0ffe46f806.jpg)

Without that one rule, it looks like it should:
![normal-featured-image](https://user-images.githubuserc

[2020-10-16 21:41] jordesign commented on #550
I'm happy to lay claim to this one! PR coming...

[2020-10-16 22:17] joyously commented on #390
I noticed that the link looks a lot like inserted text (using `<ins>`).
![link-text](https://user-images.githubusercontent.com/7957680/96313501-4d0ac680-0fd3-11eb-86bc-e8d7bcfe0cbe.jpg)

[2020-10-16 22:25] joyously opened #564 "RTL: email and url inputs should always be LTR"
Even in RTL mode, email and url inputs should always be left to right.

![RTL-inputs](https://user-images.githubusercontent.com/7957680/96317269-71b36e00-0fd4-11eb-8f3f-91dd5931a53a.jpg)

[2020-10-16 22:30] joyously opened #565 "form input styling"
The `<fieldset>` element has no padding.
The input boxes have too much padding.
The date input has a different background color.

**Screenshots**
This is on the front end.
![LTR-inputs](https://user-images.githubusercontent.com/7957680/96318240-cd7df700-0fd4-11eb-9ce7-4603bc986098.jpg)

[2020-10-16 22:39] joyously opened #566 "wrong handling for custom post type"
Looking at the single post page for a custom post type, there are no links at the bottom for the other posts, unlike the standard post type.

Also, my custom post type does not support "author", yet it shows the author bio at the bottom.

![my test job – Local Current WP-18](https://user-images.githubusercontent.com/7957680/96319878-78db7b80-0fd6-11eb-8978-495e7c73c82c.jpg)

[2020-10-16 22:47] joyously commented on #566
<s>I just thought I'd mention that I saw a standard post without the post navigation links also. But most standard posts have them.</s>
Edit: Don't mind this comment, as it was a Page I saw, not a Post.

[2020-10-16 23:04] joyously opened #567 "confusing search results"
The search page seems to have a mixture of excerpts and content. Some show featured images, but most do not. (is this due to post formats? --well maybe not since there is a featured image showing on a custom post type)
Also, the "Older Posts" link is on the right, which is opposite how the other pages do it.

![Search Results for “gallery” – Local Current WP-48](https://user-images.githubuserconte

[2020-10-17 01:58] #535 closed, assigned to nobody

[2020-10-17 02:44] carolinan commented on #566
I don't think that it is up to the theme to support the navigation of custom post types.
The custom post type will be added by plugins or child themes. They can also add the navigation and or a specific template that shows the content correctly.

The current navigation is placed inside this if statement: `if ( is_singular( 'post' ) ) {`
If the post part of the if statement is removed, the navigati

[2020-10-17 03:04] joyously commented on #566
I think the theme should provide navigation if its template is loaded. It shouldn't say post though. Using 'Next' and 'Previous' would work fine.
But the author support should be checked before outputting that section.

[2020-10-17 03:23] carolinan commented on #565
The date input background is always white because there is default text inside it. If the background color was changed, the text color would need to be changed too to maintain the contrast.

[2020-10-17 05:09] #458 closed, assigned to kjellr, melchoyce

[2020-10-17 05:10] carolinan commented on #458
Closed this as we have received feedback from the accessibility team that the current styles are enough.

[2020-10-17 05:11] #448 closed, assigned to nobody

[2020-10-17 05:42] carolinan commented on #305
5.3, 5.4 tested and low priority issues opened. The main problem found was the overlapping style for the columns block.

[2020-10-17 05:43] #304 closed, assigned to nobody

[2020-10-17 05:46] #492 closed, assigned to nobody

[2020-10-17 11:17] jordesign commented on #550
Interesting point with this one - the rationale seems to be having trailing periods when _both_ category and tag are listed...

![Screen Shot 2020-10-17 at 10 15 41 pm](https://user-images.githubusercontent.com/1842363/96335743-69d3f680-10c6-11eb-8f84-3e15d1ef6763.jpg)

This makes sense when both are showing - but if _only_ categories _or_ tags are showing I feel like dropping it works?

[2020-10-17 12:05] jordesign commented on #550
Or we could try something like this?

![Screen Shot 2020-10-17 at 11 04 51 pm](https://user-images.githubusercontent.com/1842363/96336684-33e64080-10cd-11eb-9c89-6fcc0d98a3f9.jpg)

[2020-10-18 14:07] briceduclos opened #575 "Heading and Paragraph blocks have unwanted side paddings inside the editor"
**Describe the bug**
Heading and Paragraph blocks have unwanted side paddings inside the editor when they are placed inside a full-width block.

**To Reproduce**
Steps to reproduce the behavior:
1. Inside the code editor, paste the following code (a full width group which contains an image, a heading, and a paragraph):

[code]

2. Observe that the heading and paragraph have side paddings, they are

[2020-10-18 17:34] kjellr commented on #447
I took a quick look at this in 5.3, and I'm not sure it'll be worth fixing — the spacing in the editor is all different because of the added overlap on select. And I'm not sure we'll be able to account for that without impacting the styles in 5.6. I'll give this a closer look during the betas.

Oddly enough, the starter content overlap _does_ work though. 😄 I think it's because the images on the l

[2020-10-18 17:38] kjellr commented on #575
Yeah, I think this can be more specific. I suggest adding this padding only for the first and last column, and only for the whichever side is going to bump up against the edge of the screen.

[2020-10-18 21:51] carolinan commented on #575
All sides and columns bumps up against the edge for columns on small screens. Since the columns turn vertical.

[2020-10-19 03:47] naokomc commented on #562
I'm testing with Japanese contents, and I agree with this as well.

![image](https://user-images.githubusercontent.com/34067/96398472-eec62980-1206-11eb-86cd-bf1fd8e26821.png)

It's hard to convey with a screenshot but h1 especially seems very large. Please check [this demo site](https://wptestsite.o0o0.jp/2013/01/11/markup-html-tags-and-formatting/) for the actual display.

Japanese and Chinese f

[2020-10-19 04:06] #542 closed, assigned to nobody

[2020-10-19 04:07] #554 closed, assigned to nobody

[2020-10-19 04:09] #515 closed, assigned to nobody

[2020-10-19 04:18] joyously commented on #562
Ooooo, go to that demo site and click on Next Post! What a big title! I have to hit Page Down 3 times to see the actual content. (but that's a long title)

[2020-10-19 04:29] #566 closed, assigned to nobody

[2020-10-19 05:11] aristath commented on #532
<details>
<summary>Edit: Comment hidden 'cause it looked worse after I looked at for a couple of minutes. (click to expand)</summary>

We could add something like this...
[code]
The result would look like this:
![Screenshot_2020-10-19 My Blog(2)](https://user-images.githubusercontent.com/588688/96404096-b3b1ff00-11e2-11eb-93a0-90d81762bb8f.png)

</details>

[2020-10-19 05:13] naokomc commented on #562
I'm using [a Japanese version](https://github.com/jawordpressorg/theme-test-data-ja/blob/master/wordpress-theme-test-data-ja.xml) of the Theme Unit Test and the post you found is a translation of the "[Post With Long Title](https://codex.wordpress.org/Theme_Unit_Test#Post_With_Long_Title)" :)

[2020-10-19 05:18] aristath opened #578 "Footer/widgets font-size is too small"
The font-size currently used in the widget areas is too small, and hard to read on mobile.
As a side-effect it also causes clickable areas to be too small which could potentially be an a11y issue.
I propose we increase the font-size a bit...

[2020-10-19 06:08] carolinan commented on #562
What screen resolution is this tested on?

[2020-10-19 06:15] carolinan opened #579 "Change the quote symbol in the starter content and block patterns"
**Describe the bug**
From @tobifjellner

Friends, in the Twenty twenty-one starter content, could you please use &#8220; `&#8220;`
and &#8221; `&#8221;` instead of &quot; `&quot;`

This applies to the block patterns too.

[2020-10-19 07:12] naokomc commented on #562
Mine was 2560 x 1440.

[2020-10-19 08:18] JustinyAhin commented on #565
What if we make these fields design consistent with the comment form @carolinan?
![Screenshot_2020-10-19 #565 – trunk wordpress test](https://user-images.githubusercontent.com/33403964/96419404-004e0800-11ec-11eb-8f3f-bbfa45d8301d.png)

[2020-10-19 08:37] aristath commented on #562
Added design tags, pinging @melchoyce and @kjellr

Personally I don't consider this a problem... It's a styling choice and it's one I quite like, but we'll need to wait for feedback before taking any further steps.

[2020-10-19 08:50] carolinan commented on #518
We forgot the color of the quote symbol, reopening.

[2020-10-19 08:59] #531 closed, assigned to nobody

[2020-10-19 09:29] SResok commented on #518
@carolinan It seems to be working on my end.

![image](https://user-images.githubusercontent.com/20287474/96426998-4ca24380-11fe-11eb-9e3e-d2389856c790.png)

[2020-10-19 09:46] #555 closed, assigned to aristath

[2020-10-19 10:08] carolinan commented on #567
When I double check, it is on the right side on all pages. Because the results are presented with the newest first, the link position and text is correct.

[2020-10-19 10:11] carolinan commented on #567
Pages with featured images show the image in the search result for me, both newly created pages and the theme unit test, please confirm this.

[2020-10-19 10:22] carolinan commented on #518
When you place it inside a group block with a background color too?

[2020-10-19 10:25] carolinan commented on #518
Ah, the symbol does not change color with either the main or text color option, but that is a separate issue, has that been brought up earlier?

[2020-10-19 10:38] SResok commented on #518
Not that i know of, will push a fix!

[2020-10-19 10:49] aristath commented on #168
Since the theme needs to be compatible with WP5.3 I don't think there's lots of things we can clean-up here.
When checked against the Gutenberg master branch there are indeed lots of things that can be simplified. However, when checked against Gutenberg v7.0.0, a lot of things are different.
I'd say it's safer to leave them as-is to be sure things will work on older WP versions as well...

[2020-10-19 11:26] scruffian commented on #168
I hadn't thought of that. Good point. I think we can close this.

[2020-10-19 11:26] #168 closed, assigned to nobody

[2020-10-19 11:42] #526 closed, assigned to nobody

[2020-10-19 12:01] carolinan commented on #564
Background to why the mentioned fields need to be LTR:

https://codex.wordpress.org/Right_to_Left_Language_Support#Special_Cases

_Some fields should be Left To Right direction in both LTR and RTL languages, For example : email, telephones, zip codes, codes, URLs and any input contains English letters and numbers, So it is better to assign a unique id or class to each input fields, which you will

[2020-10-19 12:03] carolinan commented on #550
@jordesign If you are able to work on this today, please use the style and instructions in the first comment. :)

[2020-10-19 12:11] briceduclos opened #588 "Full-width blocks have no margins"
**Describe the bug**
Looking at Figma, a full-width image has a lot of spacing around it. When trying to reproduce this layout, we get this:
| Figma  | TT1 |
| ------------- | ------------- |
| ![01](https://user-images.githubusercontent.com/56188815/96447380-1bcc0980-1212-11eb-8a82-b8cbfc52da12.jpg)   | ![02](https://user-images.githubusercontent.com/56188815/96447386-1cfd3680-1212-11eb-9825-afd6

[2020-10-19 12:58] aristath commented on #564
I don't think the theme should do anything specific for these...
email-fields and in general fields that have a specific type should (and I _think_ are but am not certain) taken care of by default in browsers.
If a plugin uses `type="text"` instead of `type="email"`, then that plugin should take care of its own styles.
Are these fields right-aligned, or actually LTR? The alignment should be OK, LT

[2020-10-19 13:25] joyously commented on #562
Mine was on a laptop, window width of 1040px.

[2020-10-19 13:45] #579 closed, assigned to nobody

[2020-10-19 13:46] joyously commented on #567
I'm realizing now that this test site didn't have the same featured image as my usual test site. Sorry about that. So, the only difference with the images is that post formats are showing more content in the search than anything else does. Seems like they should show the same as everything else in the search results.

As for the Older posts link, it _was_ opposite of expected. I just downloaded a

[2020-10-19 13:49] joyously commented on #562
I just downloaded a new zip of the theme, and the screenshot says it all: it's all title!
![screenshot](https://user-images.githubusercontent.com/7957680/96459599-e7435800-11e7-11eb-925c-8c15f18bb89f.png)

[2020-10-19 13:50] #486 closed, assigned to nobody

[2020-10-19 13:54] joyously commented on #564
The `direction:ltr` style can be by attribute, so that it is always handled. Obviously, the browser does not do it, as you can see by the screenshot.

[2020-10-19 13:54] briceduclos opened #592 "Visibility issues with dark theme preference"
**Describe the bug**
#528 added the dark mode preference to the theme. When testing this mode, I encounter several issues (the test was made with the background color set to white inside the Customizer):
- inside a group with light gray background color (custom color #f5f5f5), the text inside is also light-gray therefore unreadable
- if the site logo is dark, it becomes nearly invisible, same for

[2020-10-19 13:54] #539 closed, assigned to nobody

[2020-10-19 13:58] carolinan commented on #592
Please split this into separate issues, the social icon color problem is not only present when the user has a preference set.
I am going to assume that this is the menu, not the social icon block?

[2020-10-19 14:13] briceduclos commented on #532
@melchoyce Facebook uses "Pinned Post" and Twitter uses "Pinned Tweet"

[2020-10-19 14:38] melchoyce commented on #578
We can boost it up to small (instead of xs), which will make them 18px instead of 16px.

[2020-10-19 14:46] #551 closed, assigned to nobody

[2020-10-19 14:49] carolinan commented on #592
_if the site logo is dark, it becomes nearly invisible,_
That is not up to the theme, but I agree there needs to be some information on the themes support page that the theme has support for _prefers-color-scheme_

[2020-10-19 14:57] carolinan commented on #518
This issue is only confusing, I will open a new one with a proper description.

[2020-10-19 14:57] #518 closed, assigned to nobody

[2020-10-19 15:11] carolinan opened #596 "When the pullquote color is changed, the quote symbol does not change color"
**Describe the bug**
When the pullquote block's **text color** changes, the quote symbol should be the same color as the text.

These scenarios need to be covered:
No custom text color: -The symbol changes color depending on body background.

When the block is places inside another block, which has a background color:
The symbol color should not change depending on the body background.

When there

[2020-10-19 15:14] melchoyce commented on #562
That's a specific block pattern using an intentionally large font size, even larger than the page/post title. The theme uses big font sizing as an aesthetic choice.

[2020-10-19 15:28] carolinan commented on #532
But it is not called pinned in the WordPress editor: "Stick to the top of the blog"

[2020-10-19 15:54] #527 closed, assigned to aristath

[2020-10-19 15:55] #557 closed, assigned to nobody

[2020-10-19 16:13] #596 closed, assigned to nobody

[2020-10-19 16:16] #184 closed, assigned to JustinyAhin

[2020-10-19 16:40] ryelle commented on #592
This is also a problem when a dark background color is selected by the user, the only difference is that it's obvious in the editor since the dark background is used here too. It's a custom color, we have no way of knowing whether it's light or dark to programmatically change the text color.

If the user has the dark-mode setting on, the editor should show the dark scheme, so this should be update

[2020-10-19 16:53] ryelle commented on #536
I just noticed this with image blocks, no bottom margin here:

![Screen Shot 2020-10-19 at 12 50 16 PM](https://user-images.githubusercontent.com/541093/96481871-a6f4d180-1209-11eb-99d0-57b8239804f2.png)

Really I noticed it because the post format view doesn't have a bottom margin, which would use the default image block spacing, if it existed.

![Screen Shot 2020-10-19 at 12 51 01 PM](https://us

[2020-10-19 17:17] ryelle commented on #553
It looks like the decision to wrap the text was made in https://github.com/WordPress/twentytwentyone/pull/190, I think to better match the way the preformatted block works in the editor.

[2020-10-19 17:27] ryelle commented on #549
Here's what this looks like now that #513's merged — do the quote marks need to flip? Note: RTL is using Tahoma as the default font, not the system font, so the quote icons look different.

| LTR | RTL |
|-----|-----|
| ![Screen Shot 2020-10-19 at 1 25 00 PM](https://user-images.githubusercontent.com/541093/96490199-7fecce80-120e-11eb-8fbe-8d30a5ba322a.png) | ![Screen Shot 2020-10-19 at 1 21 10 PM

[2020-10-19 17:29] melchoyce commented on #549
Would love some input from folks who natively use RTL languages!

[2020-10-19 17:31] joyously commented on #553
If the editor changes the definition of the `pre` tag, that doesn't mean that the theme should. That decision affects legacy content that was entered with the definition of `<pre>` meaning *pre*serving whitespace. (See screenshot)

[2020-10-19 17:59] joyously commented on #549
The bottom one in the screenshot has right aligned text, and is still wrong. The quote should be on the left for LTR, and on the right for RTL.

[2020-10-19 19:04] jordesign commented on #550
Hey @carolinan - are you referring to this?

[2020-10-19 20:37] carolinan commented on #550
No I am reffering to the issue description.

[2020-10-19 20:44] jordesign commented on #550
Thank @carolinan -  I understand.

The trouble is that when the period is removed and there are both tags and categories - the two run together like

`Categorized as Classic, Markup Tagged content, css, formatting`

This makes it really difficult to use/read

[2020-10-19 21:42] melchoyce commented on #550
In the mockups, everything had a period, which fixed the inconsistencies:

![image](https://user-images.githubusercontent.com/2846578/96514667-f222da80-1231-11eb-88a0-5bcc3d58cc3f.png)

But at some point I remember saying something about the periods messing things up for translators — is that accurate? If so, we can go with:

![image](https://user-images.githubusercontent.com/2846578/96514945-7249

[2020-10-19 21:43] melchoyce commented on #532
Could this work?

![image](https://user-images.githubusercontent.com/2846578/96515046-9d339400-1232-11eb-8a36-31ca2602ae64.png)

[2020-10-19 21:44] melchoyce commented on #532
If not, we could show this on archive pages, and make no changes on single:

![image](https://user-images.githubusercontent.com/2846578/96515115-c2c09d80-1232-11eb-8cdd-7ffa9dfcc594.png)

[2020-10-19 21:45] melchoyce commented on #550
Semi-related: #532

[2020-10-19 21:45] melchoyce commented on #532
Semi-related: #550

[2020-10-19 22:02] #562 closed, assigned to nobody

[2020-10-19 22:36] jordesign commented on #550
Thanks @carolinan.

![](https://user-images.githubusercontent.com/2846578/96514667-f222da80-1231-11eb-88a0-5bcc3d58cc3f.png)
[link to image](https://user-images.githubusercontent.com/2846578/96514667-f222da80-1231-11eb-88a0-5bcc3d58cc3f.png)

This mockup matches the current behavior of the theme - which is periods after *both* items.

 I still think that makes sense - which would mean we can close

[2020-10-20 03:32] desrosj opened #602 "Minor Translation Improvments"
**Describe the bug**
While reviewing the theme for Core commit, I noticed a few small things related to translations and/or translation comments that would be nice to fix.

- There are several translation strings that include a trailing space. These strings are accompanied by a translator comment, it would probably be better to move the space outside of the translation string and concatenate after

[2020-10-20 05:06] aristath commented on #549
Not if the user explicitly right-aligns the quote. It's their choice.

[2020-10-20 05:31] aristath commented on #567
The web is not a book. Recent posts are first and then older posts are last. In book terms, we're starting to read a book from the last page, not the beginning. With that in mind, the current placement of the links makes perfect sense.

[2020-10-20 06:05] #578 closed, assigned to nobody

[2020-10-20 06:10] aristath commented on #602
Most were already removed in https://github.com/WordPress/twentytwentyone/commit/4811e90977f1de81bafe447c1f854a0abae318c6

There are now only 2 remaining, and they are there to make RTL translations easier:

https://github.com/WordPress/twentytwentyone/blob/a1f5991d0f7941171585de22a14af4163e0bb304/comments.php#L63
https://github.com/WordPress/twentytwentyone/blob/a1f5991d0f7941171585de22a14af4163e

[2020-10-20 06:28] carolinan commented on #536
I labeled this as bug _for the part where the image vertical spacing is inconsistent between the front and editor._

There does not seem to be consensus for the other blocks in entry-content.

[2020-10-20 07:14] #532 closed, assigned to nobody

[2020-10-20 07:56] carolinan commented on #553
So what needs to be done here is to change it to `pre {overflow-x: auto}` for both the editor and front.
But also to make sure that the font sizes matches in the editor and the front.

For the front, see https://github.com/WordPress/twentytwentyone/blob/trunk/assets/sass/04-elements/misc.scss#L14

[2020-10-20 08:04] aristath opened #609 "Avoid using possibly-unset global vars $post and $wp_query"
Came up in #602:

[2020-10-20 08:05] aristath commented on #602
I created a new issue for that: https://github.com/WordPress/twentytwentyone/issues/609

Since all other issues mentioned here have been fixed and all related PRs merged, I'll go ahead and close this one :+1:

[2020-10-20 08:05] #602 closed, assigned to nobody

[2020-10-20 09:14] carolinan commented on #558
There was an earlier discussion on if linked images need an indicator for accessibility reasons, but no consensus was reached.

[2020-10-20 10:14] briceduclos opened #612 "Button Block on hover: contrast ratio issue when setting custom colors"
**Describe the bug**

While the hover effect (fill to outline and vice versa) works for the default buttons, as soon as the user tries to customize the colors of the button block, the hover effect makes it difficult to have a button with a good contrast ratio.

### Fill Button Examples

- Button 1: custom background-color, default text color. On hover, the text becomes black, contrast ratio too lo

[2020-10-20 11:34] aristath opened #614 "Add notice to colorpicker when entering the customizer with dark mode enabled"
If we enter the customizer from a device that has dark-mode enabled, the preview shows dark-mode but the colorpicker shows a different color. The selected color is then only previewed when the user changes the background-color:

![Screenshot_2020-10-20 Customize My Blog](https://user-images.githubusercontent.com/588688/96580632-3de08d00-12e1-11eb-8211-fc1880e97d36.png)

That can be confusing, so a

[2020-10-20 12:42] desrosj commented on #602
Thank you, @aristath!

Got it! My brain immediately thought N for Normal with the pattern before it XS (extra small), S (small), and L (large) right after it,

[2020-10-20 13:20] joyously commented on #549
Well, the block is not right aligned, just the text is right aligned. The reading direction didn't change.

[2020-10-20 13:31] melchoyce commented on #614
Is it technically possible to ignore dark mode while in the Customizer?

[2020-10-20 14:18] aristath commented on #614
Sure is... I can add a check and only add the HTML class if not in the customizer.

[2020-10-20 14:30] JustinyAhin commented on #533
I think this has totally been solved by #570. Archives pages and search pages pagination have the text "Page" before the number of the page.

@carolinan @aristath?

[2020-10-20 14:57] aristath commented on #533
They will still need to be at least 3px taller :wink:
I haven't tested it but believe a small vertical padding in the links should fix this :+1:

[2020-10-20 15:14] sarahricker commented on #533
@JustinyAhin @carolinan Looks like we need just a bit more. Possible to get this in before Beta 1?

[2020-10-20 16:04] #552 closed, assigned to nobody

[2020-10-20 16:09] sarahricker commented on #390
Discussed again in a11y + Design office hours (see [slack conversation](https://wordpress.slack.com/archives/C02RP4X03/p1603209410367200)).

Those present agreed that the underline is the most solid solution, but also understand the desire to finesse the approach some more. @joyously your screenshot is another good example, probably just needs a small tweak. 😄

Given that today is Beta 1, I don't

[2020-10-20 16:24] sarahricker commented on #444
Discussed again in a11y + Design office hours (see [slack conversation](https://wordpress.slack.com/archives/C02RP4X03/p1603206930321200)).

Those present discussed the different possibilities, and generally agreed that their preference leaned towards a combination of underline and background color, much like the [W3's own website](https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-c

[2020-10-20 16:39] #614 closed, assigned to aristath

[2020-10-20 16:53] #588 closed, assigned to nobody

[2020-10-20 17:00] melchoyce commented on #550
No, because there aren't periods after "published" and "edit" in the theme right now:

![image](https://user-images.githubusercontent.com/2846578/96619425-2f3fa900-12d4-11eb-8bd4-3f64b4d51afb.png)

Whatever solution we go with to fix this just needs to be consistent.

[2020-10-20 17:04] melchoyce commented on #444
With a white background color applied, light scheme:

![image](https://user-images.githubusercontent.com/2846578/96619686-788ff880-12d4-11eb-99ba-d2b8d2e90e66.png)

With a dark background color applied, dark scheme:

![image](https://user-images.githubusercontent.com/2846578/96619792-965d5d80-12d4-11eb-8099-28f4d1b8e1ac.png)

Is this what you're picturing @sarahricker / @enriquesanchez?

They get

[2020-10-20 18:58] JustinyAhin commented on #533
Commit coming in a couple of minutes @sarahricker

[2020-10-20 19:18] JustinyAhin commented on #533
Let's fix that in Beta 2

[2020-10-20 20:09] melchoyce opened #618 "Dark Mode: Reduce image brightness & contrast"
**Describe the bug**
In dark mode, images appear brighter because they're against a dark background, which can cause eye strain. What if we reduced the brightness and contrast to make images easier on the eyes?

**Screenshots**

Before | After
------------ | -------------
![image](https://user-images.githubusercontent.com/2846578/96638530-45f2f980-12ee-11eb-8ee4-12ae17a4d9a5.png) | ![image](https:

[2020-10-20 20:19] jordesign commented on #550
Ah gotcha! And on the single view - we don't have periods after _any_ of the meta items. So my proposal would be to go back to the original intent of this issue - and remove the periods.

On single views 'Category' and 'Tag' are on their own lines so we could the same here for consistency?

Single:
![Screen Shot 2020-10-21 at 7 18 23 am](https://user-images.githubusercontent.com/1842363/96639577-a

[2020-10-20 20:24] melchoyce opened #620 "Dark Mode: Should we reduce the opacity of borders, dividers, and separators?"
**Describe the bug**
Slightly darker borders would help reduce eye strain from too much contrast, and would also blend in better with the dark color scheme.

**Screenshots**

Before | After
----- | -----
![image](https://user-images.githubusercontent.com/2846578/96639828-455b6280-12f0-11eb-9bd0-a478283bdd06.png) | ![image](https://user-images.githubusercontent.com/2846578/96639906-602dd700-12f0-11

[2020-10-20 20:32] melchoyce commented on #620
I used 30% opacity in the above "after" screenshots, but we'd want to use an opacity that still lets us meet 4.5:1 contrast — maybe 55%?

[2020-10-20 20:45] melchoyce opened #621 "Dark Mode: Should we turn it off in the admin?"
**Describe the bug**
It can be confusing for your site to appear in dark mode while you're editing it in the admin, either in the editor, or in the Customizer. This is made extra confusing, IMO, because wp-admin itself doesn't support dark mode yet. Would it be less confusing if we didn't support dark mode within the editor and Customizer?

**To Reproduce**
Steps to reproduce the behavior:
1. Turn

[2020-10-20 22:00] carolinan commented on #620
This was already tested once and not implemented.

[2020-10-20 22:03] carolinan commented on #621
Even if we had user testing to learn what the majority wants, that would still be the majority.

That is why the option to turn it on and off is better.

[2020-10-20 22:23] enriquesanchez commented on #444
@melchoyce Almost. I agree it looks weird with the space between lines. What if it was bg color plus underline? Something like the 3rd example in [my comment above](https://github.com/WordPress/twentytwentyone/issues/444#issuecomment-708468634).

We already have the underline for links, we'd just be adding the bg color.

[2020-10-21 01:38] sarahricker commented on #444
Yep @melchoyce ! That looks lovely too me. If @enriquesanchez's border suggestion fixes the gap, that should be prefect for most common colors!

Is this fix working well cross-browser as well? I can help test tomorrow.

[2020-10-21 03:41] carolinan commented on #618
I am not a dark mode user, but I would not expect this.
If I wanted a filter over my images, I would want to decide that myself, and I would use a cover block.

[2020-10-21 03:43] carolinan commented on #612
@briceduclos Thank you for a great issue description. We knew there were color issues left but it helps to have them narrowed down this way.

[2020-10-21 03:46] asathoor commented on #621
Sometimes a uger might want to use WordPress in Dark Mode and your OS in another contrasting mode. That's why I'd like to have a button somewhere where it's easy to find.

[2020-10-21 04:07] carolinan commented on #621
If dark mode is off on the OS, a dark color option can still be chosen in the customizer.

[2020-10-21 06:15] carolinan opened #623 "Placeholders in input fields are not readable when a dark background is used."
**Describe the bug**

Regular input fields has a background color that is the same as the body background color, but with lower opacity.

When a dark body background color is used, the _placeholder_ text inside form input fields does not have a high enough contrast against the background.

**To Reproduce**
Steps to reproduce the behavior:
1. Change the background color
2. Add an input field with a

[2020-10-21 06:52] carolinan commented on #623
The problem with always using the white background color for the input field instead of the current _body background color with a lower opacity_,  is that the growing, white border that is used as the focus style becomes pretty much invisible. 🤔

[2020-10-21 08:51] mukeshpanchal27 opened #626 "Update License URI"
We should add License URI in style.css and ie.css

License URI: LICENSE
Replace to
License URI: http://www.gnu.org/licenses/gpl-2.0.html

[2020-10-21 08:54] carolinan commented on #553
Just adding this as a reminder: A ticket needs to be opened for the preformatted block on the Gutenberg repo since the style we need to override is added inline.

[2020-10-21 09:03] carolinan commented on #548
I can confirm that with #513 merged this is still a problem.
The "classic" blockquote element can be tested with the theme unit test page "Post Format: Quote"

[2020-10-21 09:09] carolinan commented on #563
The themes post thumbnail size is set to: `set_post_thumbnail_size( 1200, 9999 );`
I am going to label this as low priority because the user can regenerate their thumbnails using a plugin.

[2020-10-21 09:26] afercia commented on #444
During yesterday's accessibility office-hours on Slack, @enriquesanchez suggested to have a look at https://www.gov.uk/ and https://www.a11yproject.com/ for inspiration and I'd totally second that suggestion.

Also, quoting from https://github.com/WordPress/twentytwentyone/pull/507#pullrequestreview-510361371

However:

Seems to me the background change proposed by @melchoyce goes in the right dir

[2020-10-21 09:30] carolinan opened #627 "RC 2 priorities (December 1)"
These are our priorities until first of  December 2020.

2. Open issues that are [labeled high priority](https://github.com/WordPress/twentytwentyone/issues?q=is%3Aissue+is%3Aopen+label%3A%22High+priority%22)
3. [Accessibility issues](https://github.com/WordPress/twentytwentyone/labels/Accessibility%20%28a11y%29)
4. Testing 5.6 beta for theme related bugs
5. Open issues labeled bug but not labeled

[2020-10-21 09:35] #567 closed, assigned to nobody

[2020-10-21 09:38] carolinan commented on #592
I believe all issues here has been addressed with the updates to the dark mode settings.
I will close this and if I was wrong please feel free to request to reopen it or create a new issue describing the remaining problem.

[2020-10-21 09:38] #592 closed, assigned to nobody

[2020-10-21 09:44] carolinan commented on #626
(This is because default themes does not include a separate license file.)

[2020-10-21 09:56] carolinan opened #628 "Correct the parameter used with the search form"
**Describe the bug**

In searchform.php, the parameter/argument that is used is named `$args['label']`, the correct name for use with
get_search_form() is `$args['aria_label']` so this needs to be updated.
See https://developer.wordpress.org/reference/functions/get_search_form/#parameters

<del>The theme calls get_search_form() in 3 places, but the aria_label arg is not used.</del>

**To Reproduce

[2020-10-21 09:57] carolinan commented on #628
Because this bug is also present in the Twenty Twenty theme, a trac ticket needs to be opened to solve the problem for that theme.

[2020-10-21 10:16] carolinan commented on #626
Oops, correction, since we are using sass, the correct file to make the change in is https://github.com/WordPress/twentytwentyone/blob/trunk/assets/sass/01-settings/file-header.scss

[2020-10-21 10:18] aristath commented on #628
Using the `get_search_form` function will actually call the `searchform.php` file when it exists.
Since the theme already has that file, there is no need to pass any arguments to the function :+1:

[2020-10-21 10:19] carolinan commented on #628
Then how do we add the unique labels?

[2020-10-21 10:40] aristath commented on #628
You are correct, I misread the original post. My bad...
I'll assign this one to myself and take care of it now :+1:

[2020-10-21 11:02] carolinan opened #631 "Task: The WordPress.org theme support page."
Copied from the initial document where the responsibilities for our "theme squad" is listed:
_Document the theme features and behavior, for the support page on WordPress.org._

The deadline for this is RC1.

Example page:
https://wordpress.org/support/article/twenty-twenty/

[2020-10-21 12:07] #564 closed, assigned to nobody

[2020-10-21 12:54] joyously commented on #563
The user shouldn't have to use a plugin to make their site look right when switching themes.
The image size created is only for new images. The old images should still be shown as the user entered it.
Even if a user regenerated thumbnails, smaller images are not expanded to be larger, and the CSS would still make it blurry. The CSS actually goes against the `srcset` and `sizes` that WP adds.

[2020-10-21 13:15] afercia opened #633 "Update the menu toggle button aria-expanded value also on hover"
**Describe the bug**
In the navigation menu, the buttons to toggle the sub-menus use an aria-expanded attribute to indicate the sub-menu collapsed/expanded state. The aria-expanded value is updated on click. So far so good. However, the sub-menus open also on mouse hover. In this case, the aria-expanded value is _not_ updated.

The aria-expanded value should always reflect the actual state of the

[2020-10-21 14:02] afercia opened #636 "Internet Explorer 11: navigation sub-menus not visible"
**Describe the bug**
With Internet Explorer 11, the navigation menu sub-menus aren't visible.

**To Reproduce**
- set as primary menu a menu that does have sub-menus
- use Internet Explorer 11
- on the front end, either hover a top level menu item with sub-menus or click on it
- the sub-menu doesn't get visible
- in some cases, the following top-level items disappear (layout issue)

Animated GIF t

[2020-10-21 14:42] melchoyce commented on #558
Hey Joy, what browser is this? I can't replicate the outline on Chrome, Firefox, or Safari.

[2020-10-21 14:54] melchoyce commented on #631
What was the process of writing this like for Twenty Twenty? Should I start in a Google doc and then ping the Docs team?

[2020-10-21 15:00] hedgefield commented on #558
I agree a broken image should warrant some kind of indication or graphic. Could we add something like that? I'm thinking of the icon of an image with a tear in the middle, or simple a cross and maybe a subtle background color. Quick mockup:

![broken](https://user-images.githubusercontent.com/6073772/96738275-d6007400-13be-11eb-9dc8-f34ee0c85974.jpg)

As for the borders, I don't see them either on

[2020-10-21 15:06] ryelle commented on #636
Those overflow styles are used for the menu on smaller screens (mobile), so they can _probably_ be moved to behind a media query.

[2020-10-21 15:11] joyously commented on #558
Mel, I was using Firefox 81.0 on Ubuntu. (I have since updated Firefox to 81.0.2.)

@hedgefield, careful not to make use of icons since it would require markup. Images are replaced elements, so :before and :after don't work, especially when there is no image.

[2020-10-21 15:15] #628 closed, assigned to aristath

[2020-10-21 15:15] #633 closed, assigned to aristath

[2020-10-21 15:21] carolinan commented on #631
I did not participate in writing the page then.

Do you and @luminuu  have access to /support/ ?
Because it would be easier to create but not publish a page there.

If it was written in google docs then it would need to be convert to blocks.

[2020-10-21 15:24] pattonwebz commented on #631
I have access there to edit/create pages but ideally it would be created in blocks from the start since this helphub site uses the block editor

[2020-10-21 15:26] hedgefield commented on #444
This is looking good! I'm generally a fan of a splash of subtle color too, but I understand that that's not possible this late in the game, and I like the monochrome look too. So reading @afercia's suggestion, if we soften up the white background so the contrast with the text is softer (but still AAA), that would make everyone happy, right? The dark version already looks good to me.

The gap in ba

[2020-10-21 15:28] pattonwebz commented on #631
Seems like the content for the twenty twenty page is just `h2` healdines and paragraph, image and list blocks - the navigation the the left is hardcoded to the template and the navigation to the right is generated from the page headers.

It could be converted from a google doc easily. I created a draft `article` (which is the name of the post type used for these pages) that can be edited whenever

[2020-10-21 15:30] hedgefield commented on #618
I've seen this method used more often in dark mode themes yeah, also by reducing saturation a little bit. I don't find it such a bad idea, I have certainly had my eyes hurt from bright colorful images during a dark mode situation. But I can imagine if images are super important on your site, or you already authored them to look good in a dark mode theme, you'd be peeved that there's something in t

[2020-10-21 15:34] hedgefield commented on #621
Perfect. I made a dark mode for my site recently, and in doing so I read a lot that it's good practice to offer a way for someone to toggle it on and off regardless of system setting. Especially if you want to author the dark theme during the day or vice versa, having a manual toggle right in WP seems ideal to me.

[2020-10-21 15:39] ryelle commented on #618
There are other discussions ongoing in other issues, but there already is a theme option that site owners can use to turn off `prefers-color-scheme` support. So if the design/images are very important, they can turn it off.

[2020-10-21 15:44] hedgefield commented on #620
I agree this looks better, puts more visual emphasis on what's actually important on the page. I think @carolinan was referring to https://github.com/WordPress/twentytwentyone/pull/155, I asked her about it and she's in favor of doing this, so yay 🎉  The AAA contrast ratio is important still yeah, so if 55% works for that, great 👍

[2020-10-21 15:46] carolinan commented on #14
Separator alignments tested without issues

[2020-10-21 16:08] afercia commented on #533
Question: are there languages where the translation of "Page" would be a shorter word? Not sure about Western languages but it's likely the case for some Asian languages?

In any case, I'm not sure we can rely on the space taken by the word "Page" to make sure these links are at least 44 by 44 pixels. I'd consider to add a min-width and min-height anyways.

[2020-10-21 16:57] carolinan commented on #626
Solved, closing this issue.

[2020-10-21 16:57] #626 closed, assigned to nobody

[2020-10-21 17:03] melchoyce commented on #444
I'll mock up some ideas using a reduced opacity white!

[2020-10-21 17:17] carolinan commented on #14
Heading block: **untestable** because of bugs already reported https://github.com/WordPress/gutenberg/issues/26335

[2020-10-21 17:31] carolinan commented on #14
The columns block works well, with the exception of the **overlapping** block patterns. I'd like to ask @kjellr to test this:

When I change the width of the columns after adding the overlapping images pattern, the view does not change on the front.
The front and the editor should match.
Sample code:
https://gist.github.com/carolinan/34aa7d2d1d715ee8226afd0b15a8d189

[2020-10-21 17:40] melchoyce commented on #631
Thanks @pattonwebz! I'll see if I can get @luminuu and I edit access, and if not, I'll get you a doc to convert.

[2020-10-21 17:56] melchoyce commented on #558
What I'm seeing in Chrome and Firefox:

![image](https://user-images.githubusercontent.com/2846578/96757750-da6b6380-13a3-11eb-80ea-c19eddf623b6.png)
![image](https://user-images.githubusercontent.com/2846578/96757832-fa028c00-13a3-11eb-81b6-0f997e22b94a.png)

I am seeing that border now, so it's likely tied to a browser's broken image styling (rather than the link styling, since these images aren

[2020-10-21 18:10] joyously commented on #558
If you choose to use a background color, be sure to test with a semi-transparent PNG.

[2020-10-21 18:18] melchoyce commented on #558
Good note 👍

I wonder if we could use JS to apply a custom "broken image" class we could style, instead of styling all images? That could protect against transparent image/background color clashes. I'm finding this on CSS-Tricks: https://css-tricks.com/snippets/jquery/better-broken-image-handling/

[2020-10-21 19:05] #565 closed, assigned to nobody

[2020-10-21 19:56] melchoyce commented on #444
Prototyped in CodePen: https://codepen.io/melchoyce/pen/QWEGEEW

I'm more drawn to the bottom suggestion from @enriquesanchez, now that I've tried both out. Would someone be able to try making a PR so we can test it out live?

[2020-10-22 00:21] dlind1 opened #638 "Incorrect placement of 'Edit' link in RTL locales"
**Describe the bug**

On RTL locales, such as Hebrew or Arabic, the untranslated 'Edit' text in 'edit-link' span gets concatenated with the year since there is no space between them and both span elements are inline elements.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings->General.
2. Switch the site language to an RTL locale (he_IL-עִבְרִית or ar-العربية).
3. Go to the front

[2020-10-22 04:01] carolinan commented on #479
This has already been solved, closing.

[2020-10-22 04:01] #479 closed, assigned to pattonwebz

[2020-10-22 04:03] carolinan commented on #305
I don't think we need a reminder to test on 5.6 beta-rc since that is what we are at now. With testing on 5.3-5.5 done to the best of our ability, I will close this.

[2020-10-22 04:03] #305 closed, assigned to nobody

[2020-10-22 04:36] carolinan opened #639 "Revise add_theme_support"
Remove the `add_theme_support( 'custom-units' ); ` since this is no longer needed, it is enabled by default.

Gutenberg only theme support:
It would be great if someone can do a sanity check to confirm this:

`add_theme_support( 'experimental-custom-spacing' );` is used in the theme, but
`add_theme_support('custom-spacing');` is the name in the documentation:
https://developer.wordpress.org/block-

[2020-10-22 04:51] aristath commented on #639
Is it not needed for previous versions of WP?

[2020-10-22 04:54] carolinan opened #641 "Search block alignment is not the same in the editor and front"
**Describe the bug**
The centered search block does not look the same in the editor and the front.

In the editor, the label is left aligned. On the front, the label is centered.
There is no difference between the default block, and the centered block, except for the label.
When the label is turned off, there is no visible difference between the two.

**To Reproduce**
Steps to reproduce the behavi

[2020-10-22 04:59] carolinan opened #642 "Search block does not look the same in the editor and front when button is placed inside"
**Describe the bug**
The search block does not look the same in the editor and the front, when the option to place the button inside is selected.

**To Reproduce**
Steps to reproduce the behavior:

1. Add a search block.
2. Enable the option that places the button inside the input field.
3. View the editor and front to see the difference.

** Expected behavior**
The editor and front should match.

[2020-10-22 05:18] carolinan opened #643 "Search block with button icon does not look the same in the editor and front"
**Describe the bug**
When a search block has the option "use button with icon" enabled, the editor and front does not match.

The colors when the button is hovered are also different.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a search block.
2. Enabled the option to display the button icon
3. Compare the editor and front
4. See error

Next, repeat this in combination with the other

[2020-10-22 05:45] carolinan commented on #639
It was added in 5.5, so if we want to support one release, then yes it is needed.

I don't feel strongly either way, it is generally an exception for theme supports to change this way.

[2020-10-22 05:52] aristath commented on #558
Yes, we could. But I don't think we should... If there are missing images then that's a problem with the content, not a problem with the theme. It is not the theme's responsibility to fix bugs in the content, the author should just go in and fix the images that are missing.

[2020-10-22 05:56] #550 closed, assigned to jordesign

[2020-10-22 05:57] carolinan commented on #558
Unless the reason is to improve accessibility, and the purpose is clearly stated, I feel that this issue should be closed.

[2020-10-22 06:07] carolinan opened #644 "Tag cloud alignment issues"
**Describe the bug**
When a tag cloud widget is:
**Full width,** there is horizontal spacing between the block and edge of the screen in the editor, but not on the front.
**Center aligned,** the text in the editor is left aligned, and on the front it is centered.

**To Reproduce**
Steps to reproduce the behavior:
1. Add two tag cloud widgets (one for each setting)
2. Test the full width and center

[2020-10-22 07:34] #638 closed, assigned to aristath

[2020-10-22 08:34] carolinan opened #646 "The default position for the pullquote is to the left (again?)"
**Describe the bug**
When adding a pullquote with default settings, it is the correct width, but placed left in the editor instead of in the middle as expected.

On the front, the pullquote is in the middle.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a pullquote.
2. Compare the position in the editor and the front.

**Expected behavior**
I expect the pullquote to be in the middle by

[2020-10-22 10:03] #646 closed, assigned to nobody

[2020-10-22 10:10] hedgefield commented on #618
Wouldn't that disable dark mode entirely?

[2020-10-22 10:27] aristath commented on #618
yes, it would.

[2020-10-22 12:16] aristath commented on #536
For images I'm not sure which of the 2 we want... Do we want them to have a bottom margin or not? Judging from the code we already have I'm inclined to say not, but before I start tweaking can anyone confirm that?

[2020-10-22 14:06] #553 closed, assigned to nobody

[2020-10-22 14:39] melchoyce commented on #558
The alt message shows as-is, so I'm fine with closing this 👍

[2020-10-22 14:39] #558 closed, assigned to nobody

[2020-10-22 14:45] kjellr commented on #536
I think we do want them to have a bottom margin — I could be wrong, but I believe the only blocks that should have no bottom margin are Cover, Group, Spacer, and Media & Text. (That's just based on my memory of what Gutenberg does by default, so it could use a gut check from someone else).

[2020-10-22 14:49] kjellr commented on #575
Yes, that's right. So they should have margins on small screens, but we can (at least try out) more selective margins on larger screens.

[2020-10-22 16:27] melchoyce commented on #631
Started outlining the doc: https://wordpress.org/support/?p=13563362&post_type=helphub_article&preview=1&_ppp=2cf59eb54c

[2020-10-22 16:41] mkaz opened #652 "Continue reading link different underline style on hover"
**Describe the bug**

A quite minor bug, and may not even be a bug, but the "Continue reading" link on an index page does not have the same style as other links, the dotted line on hover is not there, but is on other links.

![2021-underline](https://user-images.githubusercontent.com/45363/96903459-badb4600-144a-11eb-843a-6fa073e1eb5f.gif)

[2020-10-22 16:48] kjellr commented on #639
Hmm. Yeah, I guess we might as well leave it in if it'll keep support in 5.5 then. Might make sense to add a code comment to explain that.

[2020-10-22 17:13] kjellr commented on #14
Thanks! I opened #653 to take care of that.

[2020-10-22 17:47] kimmenbert opened #654 "Build tools in the WordPress world"
Hey. I’m curious as to why @wordpress/scripts has not been chosen as a build tool for twentytwentyone?

I think it would be a good thing to use internally in “all things” WordPress. As it would provide a good possibility to keep developing the tool and make it into a build tool that can be used by everyone. In plugins, building gutenberg blocks and in themes.

Currently it is a bit weird about css

[2020-10-22 18:38] ryelle commented on #395
@kjellr Technically this is working correctly — there aren't margins on the element, it's got a max-width + some viewport calculations that mean it's always 200px less than 100% wide. Unfortunately, the inserter & sidebars don't change the viewport width, so they fill in the space that would be margins.

I tried to fix this by changing that max-width or adding set margins when the sidebar is open,

[2020-10-22 18:43] kjellr commented on #395
Yeah, I don't think it makes sense to implement a solution that'll be fragile, so closing seems fair for now. Thanks for digging into it too.

[2020-10-22 18:43] #395 closed, assigned to nobody

[2020-10-22 21:53] enriquesanchez commented on #444
@melchoyce The second style in the CodePen looks perfect to me 👍.

<img width="576" alt="Screen Shot 2020-10-22 at 16 53 46" src="https://user-images.githubusercontent.com/3276087/96934043-2c38ea00-1487-11eb-9856-3d165727daf0.png">

[2020-10-22 22:36] t-pabla opened #655 "Where is the search box?"
This may not be a bug.

For testing purposes I installed twenty twenty-one them and I don't see search box anywhere. What's the trick to make it appear?

[2020-10-23 00:27] carolinan commented on #655
You can add a search with a widget or a search block.

[2020-10-23 00:31] carolinan commented on #654
Because originally it was not needed.  The theme only had a very small amount of JavaScript.

wpscript and wpenv are very large and they can actually make development slower. The time it takes to run npm install is not isignificant.

[2020-10-23 01:38] joyously opened #656 "Print style issues"
There are several problems with print styles.
1. The header takes up a lot of space (very little content on one page). Perhaps the font sizes are a bit large?
![print-preview-header](https://user-images.githubusercontent.com/7957680/96945911-97dd8000-14a4-11eb-9738-7acf21d02cb2.png)

2. Showing the address of the link is very messy.
![print-preview-meta](https://user-images.githubusercontent.com/7

[2020-10-23 01:48] joyously opened #657 "Widget area overflow causes horizontal scrollbar"
With a window width of 810px to 1010px, I have a horizontal scrollbar. I went to a post with no content, and it is still happening, so it must be something in the widget area.

In this screenshot, you can see how wide my window was by looking at the admin bar. And note that several of the widgets are further to the right than the admin bar is, causing a scrollbar.
![Edge Case No Content – Local Cu

[2020-10-23 02:07] joyously opened #658 "the More tag is broken"
When showing full content on archives, the More tag should display a link with a `more` fragment ID to jump to the correct line of the post. The link does not have the fragment ID.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Customizer and choose to show full content on archive pages.
2. Save and exit Customizer
3. Visit an archive page containing a post with a More tag. (Theme Uni

[2020-10-23 02:33] joyously opened #659 "posts pagination links on various screen widths"
On an archive with multiple pages, the links at the bottom can be difficult to discern, depending on the screen width, because they are much longer now that each has "Page" in front of the number.  And at every width, there is a large white space below the links, which could be used.
(And I wonder if it's a worse problem in a language that has a longer word for "Page".)

On the narrowest width, (t

[2020-10-23 02:51] joyously opened #660 "Improve menu visibility"
The menu can be difficult to use since there is little indication of change on hover and the text looks the same as the rest of the page. I get lost.
Can you tell there is a menu open here?
![menu](https://user-images.githubusercontent.com/7957680/96950580-3c18f400-14b0-11eb-9b5e-0d9a25d3bd10.jpg)

What if there were some box-shadow or something to distinguish the menu from the other parts of the

[2020-10-23 02:52] t-pabla commented on #655
Thanks for the quick reply,  Carolinan !

Why make it so difficult?

It should appear by default, generally in the header. Not everybody using WP is a programmer, designer, or a software engineer!

`add a search with a widget or a search block`

How would you display it on the right side of the header?

P.S: I find this theme load faster than twentytwenty!

[2020-10-23 03:07] joyously opened #661 "videos are not responsive"
A narrow page with a video shows a horizontal scrollbar, because the video is too wide for the window.

**Expected behavior**
Videos should fit within the width of the screen.

**Screenshots**
You can see the actual width of my window by the admin bar. The videos are wider than the admin bar.
![Post Formats – Page 2 – Local Current WP-11](https://user-images.githubusercontent.com/7957680/96951730-

[2020-10-23 03:30] joyously commented on #565
This change was merged, but it is **not** an improvement. The theme will mess up any existing form I might have had laid out. Inputs now take up a LOT more screen space.
Making them all wide doesn't fit each type of input, especially the button type.
And the date type still doesn't make sense to be a different color. The time type also has a placeholder and it isn't white.

![inputs](https://user-

[2020-10-23 05:30] carolinan commented on #655
You would not be able to place it in the right side of the header without a plugin, it is not a feature that is offered with this theme.

[2020-10-23 07:47] #642 closed, assigned to JustinyAhin

[2020-10-23 07:53] #533 closed, assigned to nobody

[2020-10-23 08:40] #661 closed, assigned to nobody

[2020-10-23 09:03] afercia opened #665 "IE 11: comments pagination is out of view"
**Describe the bug**
In Internet Explorer 11, some pages have a layout that causes the browser's horizontal scrollbar to appear. This is not necessarily a problem if there's no content or interactive elements that are out of the initial view, for example when what is on the right side of the page (out of view) is only a container element.

However, when content or interactive elements require hori

[2020-10-23 09:16] #636 closed, assigned to carolinan

[2020-10-23 10:05] afercia commented on #660
While the contrast ratio is okay, this behavior may trigger readability problems especially when a long menu is displayed over other text. See screenshot below:

![menu over content](https://user-images.githubusercontent.com/1682452/96990847-ef70ff80-1527-11eb-9226-722007292dc5.png)

[2020-10-23 10:24] #658 closed, assigned to carolinan

[2020-10-23 12:17] aristath opened #672 "Change comment area heading text from "Reply" to "Comment""
Came up on Slack: https://wordpress.slack.com/archives/C02RP4Y3K/p1603455047138300

For reference, this is the line with that string: https://github.com/WordPress/twentytwentyone/blob/a58f3e5b785be4c1ed97e06cf07094dd3a10caad/comments.php#L40

[2020-10-23 12:34] #652 closed, assigned to carolinan

[2020-10-23 14:02] #644 closed, assigned to JustinyAhin

[2020-10-23 14:12] JustinyAhin commented on #641
@carolinan I think some of the issues here have been solved in #645

Like the centered issue

Editor
![Screenshot_2020-10-23 Add New Post ‹ two wordpress test — WordPress](https://user-images.githubusercontent.com/33403964/97014366-20f6c480-1542-11eb-8b64-81b877e9853d.png)

Frontend
![Screenshot_2020-10-23 #641 – two wordpress test](https://user-images.githubusercontent.com/33403964/97014379-25bb7

[2020-10-23 14:25] carolinan opened #674 "Position of the HTML block content"
**Question**

The HTML block in the editor is in the middle, below the title.
On the front, the block content is all the way to the left.

Should this content be in the middle also on the front?
Or should the author position their HTML with, well, HTML?

[2020-10-23 14:49] ryelle commented on #654
wordpress/scripts (the build & start scripts specifically) is a [webpack](https://webpack.js.org/) tool, so it's designed for javascript code. The CSS part only works for CSS called from a source javascript file (as you've noticed, you get an extra JS file if you try to use it on just CSS).

The other scripts _could_ be useful, especially as more JS has been added to the theme, but as @carolinan m

[2020-10-23 15:16] kimmenbert commented on #654
Yes, I agree. Although TwentyTwentyone theme modifies gutenberg already. (Removing block styles etc)

We should not facilitate for developers doing even more in the themes instead of in a plugin though.

Just to note, I was thinking of things like this:
https://developer.wordpress.org/block-editor/developers/filters/block-filters/#editor-blockedit

What I’m advocating for is basically: use @wordpr

[2020-10-23 16:39] melchoyce commented on #660
Would a 1px solid border help?

![image](https://user-images.githubusercontent.com/2846578/97030176-7031fa80-152c-11eb-8307-a85072601dc0.png)
![image](https://user-images.githubusercontent.com/2846578/97030428-c1da8500-152c-11eb-8001-6353ec9943d7.png)

[2020-10-23 16:57] t-pabla commented on #655
Thanks Carolinan for your time and help.

[2020-10-23 17:05] melchoyce commented on #655
Thanks @t-pabla! Going to close this issue. Please let us know if you have any other questions.

[2020-10-23 17:05] #655 closed, assigned to nobody

[2020-10-23 17:45] jdevalk commented on #672
Yeah it bothered me too that it says “Leave a reply”, when that’s not what you’re doing, you’re leaving a comment. Reply only makes sense in the context of replying to someone else’s comment.

[2020-10-23 17:52] melchoyce commented on #672
I see it as replying to the post with a comment, but I also don't feel strongly either way. I'm fine with changing it.

[2020-10-23 19:42] melchoyce opened #678 "Latest Posts: Long words break out of the container in Grid View"
**Describe the bug**
When the Latest Posts block is set to Grid view, and the individual grid columns are too narrow, words can break out of the container.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new post or page with a long word in the title.
2. Publish.
3. Make a new post or page, and include the Latest Posts block.
4. Set the Latest Posts block to Grid, and make sure it's

[2020-10-23 19:52] melchoyce opened #679 "Navigation Block: Background should be transparent by default"
**Describe the bug**
When I add a Navigation block, it automatically includes a background color. This presents a problem when you're putting the block inside of a container with a different background color.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new post or page.
2. Add a group block, and change the background color.
3. Add a navigation block inside of that group block.
4

[2020-10-23 19:56] melchoyce opened #680 "Navigation Block: Style submenus"
**Describe the bug**
The submenu styling for the Navigation Block inherits core Gutenberg styles, which don't match the aesthetics of the theme.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new page or post.
2. Add a navigation block and select a menu that contains a submenu.
3. Hover over the submenu.
4. See the drop-shadow on the submenu.

**Expected behavior**
The submenu styl

[2020-10-23 20:01] melchoyce opened #681 "Vertical navigation blocks should expand submenus instead of using dropdowns"
Vertical Navigation Blocks that contain submenus look like this:

![image](https://user-images.githubusercontent.com/2846578/97048502-80f06980-1548-11eb-8e19-02fcd879cc89.png)

Should they look like this instead?

![image](https://user-images.githubusercontent.com/2846578/97048982-eba1a500-1548-11eb-81ed-19e9b6b9020e.png)

[2020-10-23 20:06] melchoyce opened #682 "Overlapping Columns: Paragraphs should inherit container background"
**Describe the bug**
When you create an overlapping columns block, and add a paragraph to the column that is overlapping, it includes a background color so the text can always be read:

![image](https://user-images.githubusercontent.com/2846578/97049215-505cff80-1549-11eb-8b16-341c53560afc.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new post or page.
2. Add a cover block, a

[2020-10-23 20:13] melchoyce commented on #674
Here's what I'm seeing on WordPress 5.5.1 and Gutenberg 9.2.1:

**Editor:**

![image](https://user-images.githubusercontent.com/2846578/97049880-67e8b800-154a-11eb-94d8-103cd72da188.png)

**Front-end:**

![image](https://user-images.githubusercontent.com/2846578/97050009-9d8da100-154a-11eb-9079-47025da7683d.png)

This might only be an issue on WordPress trunk (5.6 Beta 1).

Either way, I expect th

[2020-10-23 23:13] carolinan commented on #679
Because this is a Gutenberg only block, not included in 5.6 this is a low priority.

[2020-10-24 04:26] bph opened #683 "Custom HTML Block (Using Instagram's embed code)"
- When using the Custom HTML Block on a dark background, the block HTML is white with white text.
- It also is huge text so the box expands over the full screen and longer.
- In Preview mode of the Custom HTML is shows on the right a small stripe of original teal color
- On frontend the block is all the way to the left of the screen.
- On frontend the size of the Instagram embed is considerably sm

[2020-10-24 04:57] carolinan commented on #683
Another weird thing is that if one just types in random HTML, it works well. Seems related to copy pasting.
For example, I copy pasted [a gist that I use to test HTML form elements](https://gist.github.com/carolinan/53cf8c92b77c8ad6babd3b38d0a07530), and that text was also white on white.

The preview does show the original mint background color for me even though the body background setting is ac

[2020-10-24 05:23] carolinan commented on #654
It has been discussed earlier, and was decided against at that point as well.

There is no benefit of making this change especially not at this stage when we are focusing on finding and resolving bugs.

[2020-10-24 05:23] #654 closed, assigned to nobody

[2020-10-24 11:44] #657 closed, assigned to carolinan

[2020-10-24 12:08] #641 closed, assigned to JustinyAhin

[2020-10-24 12:56] bph opened #685 "Columns block on dark background, invisible ink"
In this video you see me trying to drag and drop a paragraph into a columns block that's above the paragraph, with two 50/50 columns.

When I start dragging the paragraph to a column, I hard can see where I am going. Although there is a light outline of the paragraph at the beginning, the column block doesn't have a light outline and the blue on black is barely invisible.
Also, the blue landing zo

[2020-10-24 13:08] bph opened #686 "Continue reading Link needs dotted line, too"
**Describe the bug**
Tested link outline on blog page with menu/child menu items, blog post title and "Continue Reading"

**To Reproduce**
Steps to reproduce the behavior:
1. Create at least one blog post
2. Got to category or blog page
3. Hover over Continue Reading

**Expected behavior**
Expected the link on Continue Reading follow the overall site's styling for links.

**Screenshots**
short scr

[2020-10-24 14:20] carolinan commented on #686
Hi,
This was supposedly fixed yesterday, but it is in the GitHub version of the theme, not in WordPress 5.6 beta yet.

[2020-10-25 14:54] bph commented on #686
Yep, that is fixed in trunk of this morning.

[2020-10-25 14:54] #686 closed, assigned to nobody

[2020-10-25 16:50] bph opened #688 "Better handling of "Archive" pages."
One of the first things, we do with every theme is to remove the words "Categories" or "Archive" from the category or tag pages, and add the display of the descriptions field.

For SEO purposes there is no value to have those words on the page (it might hurt the page rankings)  but it definitely would help if there is a way to add additional text to the category pages in the description field.

I

[2020-10-25 16:53] rvpatel commented on #444
![image](https://user-images.githubusercontent.com/5517932/97113482-b8117700-1710-11eb-97e7-ba7e9b038669.png)
[https://files.slack.com/files-pri/T024MFP4J-F01DG1SNHA8/image.png](url)

Focus issue on gallery. This same open bug so not create new.

[2020-10-25 19:41] bph commented on #688
It' probably to distracting for the default theme. On second thought I close this...

[2020-10-25 19:41] #688 closed, assigned to nobody

[2020-10-26 07:28] carolinan opened #691 "Latest posts block: Grid style and Custom styles are no longer working in the editor."
**Describe the bug**
When a latest posts block is added,
and the grid style, bordered or dividers style are selected,
the styles are not visible in the editor, only on the front.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a latest posts block in the editor.
2. Try to select a style that is not default.
3. See that the styling is not applied.

**Expected behavior**
The editor and fro

[2020-10-26 08:09] carolinan commented on #674
It is in the middle again, tested with 5.6-beta1-49308

[2020-10-26 08:09] #674 closed, assigned to nobody

[2020-10-26 08:46] carolinan commented on #674
Actually it's not fixed. It only looked like it was fixed because I was using a paragraph tag -
HTML tags are included in the content styles, so if tags are used, the content is positioned correctly.
If someone just enters plain text, the text will be on the left.
This can not be solved without a wrapper around the "block", so I will keep this closed.

[2020-10-26 09:06] #672 closed, assigned to nobody

[2020-10-26 11:21] aristath commented on #685
Looks more like an editor issue than a theme issue to me :thinking:
If the background color is dark, we switch the editor to dark mode: https://github.com/WordPress/twentytwentyone/blob/e580895d9ec57a3c21048b29c8efcc1ebddd46a8/functions.php#L129-L131

Judging from the video, it looks like the dark editor styles have been somewhat neglected/overlooked lately. Unless I misunderstood what you were re

[2020-10-26 11:28] carolinan commented on #685
Yeah I was just testing this with other black colored themes.
It is an editor issue, I agree it can be improved but did not find an open issue about it in the Gutenberg repository.
It looks like the preferred way is to open one for each block, but since this is the placeholder one could be open for the placeholder only.

Related issues:
https://github.com/WordPress/gutenberg/pull/25796 (fixed)
htt

[2020-10-26 11:28] #685 closed, assigned to nobody

[2020-10-26 11:29] carolinan commented on #691
This is supposedly fixed with next nightly beta update https://core.trac.wordpress.org/changeset/49310

[2020-10-26 11:29] #691 closed, assigned to nobody

[2020-10-26 11:35] aristath commented on #679
Actually a few months ago I tried to do that and had a PR merged in Gutenberg: https://github.com/WordPress/gutenberg/pull/24462
However it introduced a regression and was later reverted in https://github.com/WordPress/gutenberg/pull/24763
The problem there is submenu backgrounds:

<img width="435" alt="Screenshot 2020-08-21 at 1 32 29 pm" src="https://user-images.githubusercontent.com/677833/9085

[2020-10-26 11:46] carolinan commented on #682
The cover block and group block does not have the same CSS classes to identify the background color, so this needs careful testing.
https://github.com/WordPress/gutenberg/issues/21439

[2020-10-26 11:54] aristath commented on #618
During Friday's meeting it was decided to remove everything related to dark-mode and instead put that feature in a plugin as a safety precaution. dark-mode was removed in https://github.com/WordPress/twentytwentyone/pull/690 and moved in a plugin, with the hope that it can be re-integrated in the theme if we're satisfied with its implementation.
Closing this issue.

[2020-10-26 11:55] aristath commented on #621
During Friday's meeting it was decided to remove everything related to dark-mode and instead put that feature in a plugin as a safety precaution. dark-mode was removed in https://github.com/WordPress/twentytwentyone/pull/690 and moved in a plugin, with the hope that it can be re-integrated in the theme if we're satisfied with its implementation.
Closing this issue.

[2020-10-26 11:55] #621 closed, assigned to nobody

[2020-10-26 12:05] carolinan commented on #682
Because the blocks are nested in several levels, this is only possible if the outer block has a palette color, not a custom color.
I'm not sure it is worth the extra CSS, but will do a PR.

[2020-10-26 14:42] carolinan commented on #620
It was decided to not include this without the (device) dark mode support.

[2020-10-26 15:01] carolinan commented on #536
All new images have the class size-large (even if they are small...) These new images does have a bottom margin.

But the old images from the unit test, as in the screenshot above, does not have the class, and does not have a bottom margin.

[2020-10-26 15:05] pattonwebz commented on #390
I spent a bit of time looking at this and cannot find any better solutions. Closing for now as I don't think any better solutions.

[2020-10-26 15:05] #390 closed, assigned to pattonwebz

[2020-10-26 15:07] carolinan commented on #536
The old images in the theme unit test, in the screenshots above, does not have the same markup as the images do today.
New images has the bottom margin, the old one does not.

Current:
`<figure class="wp-block-image size-large"><img loading="lazy" width="165" height="210" src="http://localhost:8888/wp-content/uploads/2014/01/spectacles-17.gif" alt="" class="wp-image-1692"></figure>`

Old:
`<div cl

[2020-10-26 15:19] carolinan commented on #536
So what is needed here is a bottom margin for the old image markup.

[2020-10-26 15:52] ryelle commented on #536
I can also replicate it by centering an image. It looks like these lines are to blame:

https://github.com/WordPress/twentytwentyone/blob/e580895d9ec57a3c21048b29c8efcc1ebddd46a8/assets/sass/05-blocks/image/_style.scss#L22-L32

^ These only take effect when the class name is exactly `wp-block-image`, which it is when an image has a left/right/center alignment. It really should only happen when the

[2020-10-26 21:53] melchoyce opened #702 "Footer spacing regression"
**Describe the bug**
In #388, the spacing between the footer menu and the separator below looked like this:

![footer-nav-center-wrap](https://user-images.githubusercontent.com/7422055/95820964-596bf680-0d29-11eb-983e-75c62c4b2b9a.png)

Now, it looks like this:

![image](https://user-images.githubusercontent.com/2846578/97232593-ce244380-17b3-11eb-914b-68d17ae1adf6.png)

**To Reproduce**
Steps to

[2020-10-26 22:31] melchoyce opened #703 "Navigation: Dropdown can be pushed off the screen"
**Describe the bug**
If you have a long menu and a narrow browser viewport, it's possible for a dropdown towards the end of the menu to fly off screen:

<img src="https://user-images.githubusercontent.com/2846578/97235304-f8c4cb00-17b8-11eb-8497-2f3a8af8f7dd.png" width="400" />

**To Reproduce**
Steps to reproduce the behavior:
1. Create a long navigation menu and assign it to the primary navigati

[2020-10-26 22:32] melchoyce commented on #682
Since this seems to be more of a hassle than it's worth, and folks can change the background color manually, I'm going to close this issue.

[2020-10-26 22:32] #682 closed, assigned to nobody

[2020-10-27 06:06] #623 closed, assigned to nobody

[2020-10-27 06:21] #665 closed, assigned to carolinan

[2020-10-27 06:45] aristath opened #705 "Change archive titles"
Came up in https://github.com/WordPress/twentytwentyone/pull/697#issuecomment-716856341 and #688

@melchoyce

@bph

Suggestions:

| Context | Current | Suggestion |
| ----- | ----- | ----- |
| Category | `Category Archives: %s` | `Category: %s` |
| Tag | `Tag Archives: %s` | `Tag: %s` |
| Author | `Author Archives: %s` | `Author: %s` |
| Year | `Yearly Archives: %s` | `Year: %s` |
| Month | `Month

[2020-10-27 06:55] #612 closed, assigned to nobody

[2020-10-27 06:55] carolinan opened #707 "Try another hover style for buttons with custom colors"
From @melchoyce  on #637
_This is another place where Gutenberg makes it harder on theme authors to handle interactions. The focus styles (dotted outline) on hover feels weird in action, but I'm not sure how else to approach this. Could we use the same hover colors as the default buttons, regardless of what custom colors are chosen?_

![97234701-c5ce0780-17b7-11eb-9d07-c99ede8d610b](https://user-i

[2020-10-27 07:44] #683 closed, assigned to carolinan

[2020-10-27 07:50] carolinan commented on #705
Should the author archive include the author biography + avatar in place of the description?

[2020-10-27 08:08] aristath commented on #705
We can definitely do that...
[code]

But I think it would be best to have a separate ticket for the author description so we can make a decision about the titles in this issue faster 😉

[2020-10-27 08:39] aristath commented on #447
I assume this one can be closed?
A lot of things have changed in the editor since WP 5.3, and fixing this will require a lot of juggling without any real benefit for the future.

[2020-10-27 09:34] karmatosed commented on #679
@aristath can I check my understanding of what you are asking? I'm just coming to this to bring some context regarding backgrounds on navigation blocks specifically. What I think is being recommended would be for backgrounds to not be set? If that is the case, there is a situation where the default is a transparent background, which means that the default experience could be less than ideal for so

[2020-10-27 12:49] kjellr commented on #447
Yeah, let's close. It can always be opened up later as an enhancement if need be.

[2020-10-27 13:33] #660 closed, assigned to nobody

[2020-10-27 13:52] carolinan opened #712 "Add author biography + avatar to author archives"
**Describe the bug**
As we are rewording the archive titles and adding the archive description,
should we also add the author biography  (if there is one) to the author archives?

[2020-10-27 13:58] melchoyce commented on #705
Do we need a prefix? Does it matter what kind of taxonomy something is?

[2020-10-27 14:00] melchoyce commented on #679
The problem @aristath encountered when removing the background from navigation menus is that then submenus don't have a background either, which causes the overlap you can see in that screenshot.

[2020-10-27 14:32] bph commented on #705
Thank you, @aristath for picking up this discussion.

@melchoyce

Such a great question. We don't need it. _(strong opinion, loosely held)_

[2020-10-27 14:46] Abdujabbar commented on #712
I think yes if exists biography of author it will be good to see on information about author on archive page for example on sidebar. it's just my opinion

[2020-10-27 15:35] melchoyce commented on #712
Yeah, IMO this would be a great enhancement.

[2020-10-27 15:40] melchoyce commented on #712
Quick in-browser mockup:
![image](https://user-images.githubusercontent.com/2846578/97325284-2e18f980-1849-11eb-8998-d799a4b9177e.png)

[2020-10-27 15:48] melchoyce commented on #659
What's the feasibility of moving the pagination and the newer/older post links into two separate containers, so we can do something more like this?

![image](https://user-images.githubusercontent.com/2846578/97326137-11c98c80-184a-11eb-9876-9d2b88577730.png)

Would this even make sense?

[2020-10-27 15:57] pattonwebz commented on #659
2 containers would probably mean positioning would be eaiser to handle and less likely to result in unusual wrapping at certain screen sizes :smile:

[2020-10-27 15:58] pattonwebz commented on #659
Sorry, hit the wrong button and closed by mistake.

[2020-10-27 16:00] joyously commented on #659
Can you show what it would look like on a narrow screen?

[2020-10-27 16:01] aristath commented on #659
I don't consider this an issue... Users can navigate pages no matter what device they are on. If they are on a larger screen they have more options but that's natural and a progressive enhancement depending on the viewport.

Everything is possible... it wouldn't be as simple as changing a single line, we'd probably need to rewrite the `navigation_markup_template` via a filter and it would probably

[2020-10-27 16:03] pattonwebz commented on #659
@aristath are you saying that the numbered pages and the previous/next links are all handed via the same function call?

[2020-10-27 16:08] karmatosed commented on #679
@melchoyce thanks for clarifying, I think therefore if I am right there needs to be a decision on if things all have a background or all don't?

[2020-10-27 16:08] melchoyce commented on #659
IMO that level of effort doesn't sound worth it at this point in the release.

[2020-10-27 16:10] aristath commented on #659
Unless I'm mistaken yes, isn't it all in the `the_posts_pagination` function?
https://github.com/WordPress/twentytwentyone/blob/5759e9692dd57f93e98ec5de299b70891c777771/inc/template-tags.php#L220-L236
From what I can see, it's all in there.
The [`the_posts_pagination`](https://developer.wordpress.org/reference/functions/the_posts_pagination/) function then echoes [`get_the_posts_pagination`](https

[2020-10-27 16:13] pattonwebz commented on #659
Yup, you're right. I didn't look before commenting. I just assumed it was 2 functions because the consideration to split it between containers was mentioned (should have checked :) )

[2020-10-27 16:17] melchoyce commented on #679
What I really want is for the block to inherit the background color of its container. So if you drop a navigation block into a group block with a purple background, the navigation block and its submenus are also purple.

[2020-10-27 16:26] aristath commented on #679
Yeah, that was the intention of my Gutenberg PR too...
After a long discussion on Slack back then, a solution that was suggested was to use CSS-variables in blocks (it's also mentioned in the PR comments). So for example when you select a background color in a group, it will get `style="--background-color: #c00;"`. That property would then be usable by all internal styles for the block itself, as

[2020-10-27 19:12] joyously commented on #659
You _could_ hide the Newer and Older on middle width screens, or on all widths.
It doesn't have to have both.
I was trying it out on an archive with a lot of pages and it still only shows 3 Page links, but it occurred to me that changing the default text from Previous and Next to Newer and Older would be a problem for those that use a plugin to sort by title or some other thing. And calling them p

[2020-10-27 19:37] Abdujabbar commented on #712
@carolinan  can I take this task for development?

[2020-10-27 23:41] briceduclos opened #714 "Block editor: Separator is full width inside the editor while it’s centered on the front"
**Describe the bug**
When you insert a separator block inside the editor, it appears full width. On the front, it appears centered.

**To Reproduce**
Inside the code editor, insert a separator block or paste the following code:

[code]

**Screenshots**

| Editor  | Front |
| ------------- | ------------- |
| ![separator-editor](https://user-images.githubusercontent.com/56188815/97373212-baf99c80-1

[2020-10-27 23:47] briceduclos opened #715 "Block editor: Last image of a gallery inside a group isn’t correctly aligned"
**Describe the bug**
When a gallery is placed inside a group, the gallery's last image isn't aligned with the others. This is due to the following CSS that removes the last image's margin.
https://github.com/WordPress/twentytwentyone/blob/trunk/assets/css/style-editor.css#L742-L744

**To Reproduce**

Inside the code editor, paste the following code:

[code]
**Screenshots**
![gallery-inside-block](

[2020-10-27 23:49] melchoyce commented on #715
Thanks for reporting @briceduclos, I really appreciate all your testing 🙏

[2020-10-27 23:50] briceduclos opened #716 "Block editor: Social icons aren’t correctly aligned"
**Describe the bug**
When trying to create a list with 2 social icons using the Social Icons block, the icons aren’t aligned inside the editor.

**To Reproduce**
Inside the code editor, paste the following code:

[code]

**Screenshots**

Block not focused:
![social-icons](https://user-images.githubusercontent.com/56188815/97373885-40ca1780-18b7-11eb-957b-c2be3d653119.PNG)

Block focused:
![social-

[2020-10-27 23:57] briceduclos opened #717 "Block editor: Wide width blocks inside a group don’t have vertical margins inside the editor"
**Describe the bug**
Inside the editor, blocks that are set to wide width don’t have any top and bottom margins when placed inside a group. As a result, there’s no spacing between two consecutive wide width blocks inside a group.

**To Reproduce**
Inside the code editor, paste the following code. It consists of a group containing 2 cover blocks set to wide width (this example uses the Cover block

[2020-10-28 05:28] #444 closed, assigned to nobody

[2020-10-28 05:29] #702 closed, assigned to nobody

[2020-10-28 07:36] MarieComet opened #719 "PHP Warning in media library admin screen"
**Describe the bug**
A PHP warning is showing in the media library admin screen :

`Warning: Division by zero in /app/wp-content/themes/twentytwentyone-trunk/inc/template-functions.php on line 508 Call Stack: 0.0001 415912 1. {main}() /app/wp-admin/upload.php:0 0.1469 8766448 2. WP_Media_List_Table->display() /app/wp-admin/upload.php:378 0.1480 8770376 3. WP_Media_List_Table->display_rows_or_place

[2020-10-28 07:43] MarieComet commented on #719
Additional informations about my (local) installation from Site Health :

`
### wp-core ###

version: 5.6-beta2
site_language: en_US
user_language: en_US
timezone: Europe/Paris
permalink: /%year%/%monthnum%/%day%/%postname%/
https_status: false
multisite: false
user_registration: 0
blog_public: 1
default_comment_status: open
environment_type: production
user_count: 1
dotorg_communication: true

##

[2020-10-28 07:43] carolinan commented on #680
Do we also want to change the styling in the editor or will this affect the editing experience / usability when setting up the menu?

[2020-10-28 07:45] carolinan commented on #717
My question is if we want the spacing between the inner blocks at all?

[2020-10-28 08:00] carolinan commented on #681
I think the current menu works, the menus are similar and the design is recognizable.  It is up to you how badly you want it :)

[2020-10-28 08:06] #719 closed, assigned to aristath

[2020-10-28 08:13] carolinan commented on #712
@Abdujabbar Yes :)

[2020-10-28 08:27] carolinan commented on #714
Just a note that when solving this, we also need to add the full width alignment to the separators in the portfolio list block pattern.

[2020-10-28 08:45] JustinyAhin commented on #680
I don't believe we should do that. For the navigation block, the way it works in the editor is slightly different. For instance for with menu item that has a submenu, you need to click on the submenu `<ul>` item to add other sub submenus.

[2020-10-28 08:58] carolinan commented on #716
@briceduclos I'd love to know what WordPress version this is on and if/what version of Gutenberg that is active.

This issue has been brought up and has been fixed once 🤔 https://github.com/WordPress/twentytwentyone/issues/203

[2020-10-28 09:05] carolinan commented on #716
Ugh, would love confirmation on if this is intended, that the block was remade to only add items when you actively choose to click the plus icon after the 3 colored dots.

[2020-10-28 09:08] carolinan commented on #716
So, after actively adding the social links, I am not able to reproduce the problem in the issue above:

![social](https://user-images.githubusercontent.com/7422055/97415388-70a00c00-1905-11eb-9341-690bcbe12d46.png)

(Gutenberg is not active)

[2020-10-28 09:16] aristath commented on #716
I can replicate using WordPress 5.5.1 (stable) + Gutenberg master branch.

[2020-10-28 09:18] carolinan commented on #715
We do need some clearing for the last item otherwise the floated blocks floats outside the group.
But in this case, the entire gallery block should be the last item, not the last image inside the block.

[2020-10-28 09:44] carolinan commented on #575
Looking at the history, I believe this CSS was only meant to affect the columns block.

Fixed with https://github.com/WordPress/twentytwentyone/commit/47b7ac4dc1f412bc48d996ba683f3d8b0b0c7948 (Yes I forgot to make branch and PR first ;) )

[2020-10-28 09:46] aristath commented on #705
Actually I think it would be best to just remove the theme's customizations here...
WP Core already does out of the box most of the things suggested here.
If there's something that needs fixed, it should be fixed in core instead of patched in a plugin via filters. Core already does a pretty good job with these titles, and the existing filters allow plugin authors to further customize titles for th

[2020-10-28 09:52] #575 closed, assigned to carolinan

[2020-10-28 10:04] briceduclos opened #721 "Cover block with image: the default color overlay is white instead of black on the front"
**Describe the bug**
My previous ticket https://github.com/WordPress/twentytwentyone/issues/389  was closed by https://github.com/WordPress/twentytwentyone/pull/404  and https://github.com/WordPress/twentytwentyone/pull/427 but I’m still seeing the issue.

**To reproduce**
Inside the code editor, paste the following code:
[code]
On the front, observe that the overlay is white instead of black.

**

[2020-10-28 10:13] JustinyAhin commented on #714
Looking at the block pattern, there's a full width setting in the editor. Or I'm not correctly understanding what you mean @carolinan?

[2020-10-28 10:21] briceduclos commented on #716
@carolinan The issue only happens when you add 2 social icons (with 3, 4, 5 icons, the alignment is correct).
I'm using WordPress 5.6-beta2, Gutenberg isn't active.

[2020-10-28 10:40] carolinan commented on #659
I propose that we add some vertical spacing for when the navigation wraps:

![96949272-248c3c00-14ad-11eb-94e2-26b3e7a2df29](https://user-images.githubusercontent.com/7422055/97425336-486ada00-1912-11eb-8841-f722540b6c61.jpg)

[2020-10-28 11:22] #703 closed, assigned to nobody

[2020-10-28 11:46] carolinan commented on #714
The separator in this block pattern are using the default width for the separators. I thought they were meant to use the full width
https://github.com/WordPress/twentytwentyone/blob/trunk/inc/block-patterns.php#L107

But looking at the https://github.com/WordPress/twentytwentyone/pull/299 they are not full width.

[2020-10-28 11:52] carolinan commented on #705
As in removing this code: https://github.com/WordPress/twentytwentyone/blob/trunk/inc/template-functions.php#L103

[2020-10-28 11:54] aristath commented on #705
Yep, we can remove this part https://github.com/WordPress/twentytwentyone/blob/bb30a036598c259766e1cbf734f021179d6ee12f/inc/template-functions.php#L96-L170

[2020-10-28 11:58] kjellr commented on #714
The original mockup had the whole thing designed to be wide width. Since wide-width separators weren't possible at the time we built #299, we settled for default width. I'll open a PR to change to wide with now that wide-width separators are possible.

[2020-10-28 13:39] carolinan opened #727 "Media & Text vertical align text position is not the same in the editor and the front."
**Describe the bug**
When the vertical top alignment is chosen for the text part of the Media & text block,
the vertical spacing is not the same in the editor and the front.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a media and text block.
2. Select the _Vertically Align Top_ option.
3. See the position of the text. Save.
4. Compare the position in the editor with the front.

The d

[2020-10-28 13:59] carolinan opened #728 "Linked images in the media and text block has no visible focus style"
**Describe the bug**
When an image is added to the Media part of the media and text block, and a link is added,
the linked image has no visible indicator that shows when the link is in focus.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a media & text block with an image.
2. Add a link to the image, using the toolbar option.
3. Save and view the front
4. Move focus to the link, for ex

[2020-10-28 14:07] carolinan commented on #536
This seems to be the place to gather vertical spacing issues, so:

When two full width Media & Text blocks are placed after one another, there is vertical spacing on the front, but not in the editor.

[2020-10-28 14:29] joyously commented on #659
@carolinan I think that would actually implement Mel's mockup. Give the Newer and Older some top margin, which could be smaller on the smallest window where the middle part is hidden.

[2020-10-28 14:30] carolinan opened #729 "Full width headings inside group block ignores padding"
**Describe the bug**
When a group block has a background color, it has some additional padding:
[code]
When a heading is added inside the group block, and is set to be _full width_,
the heading ignores this padding and moves right up to the edge of the group block.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a group block with a background color.
2. Add a heading block.
3. Set the he

[2020-10-28 14:32] carolinan commented on #729
I forgot to test the front: It works well on the front, there is space between the heading and the edge of the block.

[2020-10-28 14:34] carolinan commented on #72
tested and opened issues for the Media & text block.

[2020-10-28 17:57] melchoyce commented on #728
Can we use the same dotted outline we're using for form elements?

[2020-10-28 22:05] ryelle commented on #717
I think this will be fixed with #723, and by "fixed" i mean the editor will gain the margin between the two blocks.

[2020-10-29 07:21] #715 closed, assigned to carolinan

[2020-10-29 07:21] #717 closed, assigned to nobody

[2020-10-29 07:28] #716 closed, assigned to carolinan

[2020-10-29 08:21] #705 closed, assigned to carolinan

[2020-10-29 08:52] carolinan commented on #548
This has been solved, closing.

[2020-10-29 08:52] #548 closed, assigned to aristath

[2020-10-29 08:57] #721 closed, assigned to nobody

[2020-10-29 10:06] carolinan opened #735 "Placing a cover or columns block after an aligned block misplaces the second block"
**Describe the bug**
When placing a default cover block or a columns after a block that is aligned left or right,
the second block is misplaced, both in the editor on front.

In comparison, the default group block is positioned below the aligned block.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a block with an alignment setting for example a cover block or image.
2. Align this block

[2020-10-29 10:34] carolinan opened #736 "Latest comments block is positioned to the left in the editor"
**Describe the bug**
When a comments block without alignment (default) is placed in the editor,
it is positioned all the way to the left instead of in the middle.

On the front, the block is in the middle.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a latest comments block
2. See the position, save.
3. Compare the position with the position on the front.
4. See error

**Expected beha

[2020-10-29 11:07] carolinan opened #737 "Left or right aligned images are the wrong size on the front."
**Describe the bug**
When an image is left or right aligned in the editor, the max width is reduced:

[code]

On the front, the max width of the image is depending on _multiple styles_, including:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add two image blocks to the editor. It does not matter if the blocks are the only blocks, or for example placed in between text.
2. Align the

[2020-10-29 12:38] carolinan commented on #728
Tested the gallery, same result, there is no visible focus indicator for linked images.

-When the caption is linked, the default focus style for links is used, and with the background color, this is more visible than before :)

[2020-10-29 12:47] carolinan opened #738 "Post navigation text color is not correct when the link is in focus"
**Describe the bug**
When the body background is white or dark, the next and previous post text (and the arrow),
is the wrong color when the link is in focus.

**Screenshots**
Left: White background.

![next-previous-focus](https://user-images.githubusercontent.com/7422055/97575248-c00d3780-19ec-11eb-80c1-bd2319016c89.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Change the body backg

[2020-10-29 13:17] carolinan commented on #536
When two full width cover blocks are placed after one another, there is vertical spacing on the front, but not in the editor.

[2020-10-29 14:56] carolinan commented on #729
This seems intentional, because I see this style in the editor:
[code]
How do we want to handle it for this theme?

[2020-10-29 15:04] kjellr commented on #729
This is working as expected for me. If it's set to be full width, it would be full width. Same thing happens with a full-width image block inside of there for example.

There's a case to be made for adding additional left/right padding to the full-width heading block itself so it doesn't 100% bump up against the edge, but that seems like something we'd want to go globally, just just in this case.

[2020-10-29 15:05] carolinan commented on #729
Then it is not working as intended on the front, where the full width heading does not bump against the edge.

[2020-10-29 15:19] melchoyce commented on #681
Making it low priority. If someone gets to it, they get to it, if they don't, they don't.

[2020-10-29 15:46] JustinyAhin commented on #680
Closing this as it was fixed in #695

[2020-10-29 15:46] #680 closed, assigned to JustinyAhin

[2020-10-29 16:08] carolinan opened #741 "Dark mode"
The goal is to test, [continue the discussion](https://make.wordpress.org/core/2020/10/22/twenty-twenty-one-dark-mode-discussion/), and once feedback has been received, make a final decision whether to keep the dark mode functionality in the theme.

**Please open a new issue in this repository if you find problems with the dark mode functionality.**

[Issues with the dark mode label ](https://gith

[2020-10-29 18:18] kjellr commented on #729
Turned out this is an issue for _all_ full-width blocks when the group has a background, or when it has the "Frame" block style. Should be fixed in #742.

[2020-10-29 18:43] #736 closed, assigned to carolinan

[2020-10-29 21:04] t-pabla opened #744 "Filters to remove"
I have created a Child Theme to play with this new twentytwentyone them. I find it faster than 2020 theme.

What code should I use in functions.php of my Child Theme to filter (i.e., Remove) the followings so that I don't have to mess with the files in the Parent Theme:
(1) Posted on date from posts everywhere.
(2) Author title and Bio
(3) Date and time from all comments.

Thanks.

[2020-10-30 00:26] TeBenachi opened #745 "Download button text color is not visible in the visited state"
**Describe the bug**
In the File Block, the visited state of the download button text seems to be too dark and not visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a file for downloading using the File Block.
2. Publish
3. Click on a link next to the download button, then navigate back to the download page.

**Screenshots**
![button](https://user-images.githubusercontent.com/3073

[2020-10-30 06:14] #727 closed, assigned to nobody

[2020-10-30 06:53] #714 closed, assigned to JustinyAhin

[2020-10-30 07:07] carolinan opened #746 "Replace node-sass"
node-sass relies on LibSass which is deprecated: https://sass-lang.com/blog/libsass-is-deprecated

The migration process is described on the link above as:

`If you’re a user of Node Sass, migrating to Dart Sass is straightforward: just replace node-sass in your package.json file with sass. Both packages expose the same JavaScript API.`

https://www.npmjs.com/package/sass

[2020-10-30 07:28] carolinan opened #747 "The link focus style background color is affecting the button block links"
**Describe the bug**
After the change of the background color for focused links, the new background color also affects button blocks that has a background color.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a button block with a link
2. Save and view the front
3. Focus on the link in the button
4. See error

**Expected behavior**
The buttons should keep their focus style according to

[2020-10-30 07:38] jasmussen commented on #737
Looks like this PR outputs some baseline styles for image blocks: https://github.com/WordPress/gutenberg/pull/8399

Specifically this rule:

[code]

It looks like the following rule is not from Gutenberg:

[code]

... perhaps that's a TwentyTwentyOne rule.

Without testing TwentyTwentyOne and reproducing, it looks like you need to increase the specificity when left aligned.

There is a separate di

[2020-10-30 08:32] carolinan commented on #712
@Abdujabbar Hi, are you still working on this issue?

[2020-10-30 09:17] afercia opened #750 "Gallery linked caption text is barely visible"
**Describe the bug**
Noticed while testing the issue on #728.

When gallery images have a linked caption text, the link text is barely visible regardless whether the image is predominantly dark or light. The caption area uses a dark linear gradient and the link text is dark, thus the link doesn't have a sufficient contrast or it's even almost invisible.

Front end:

<img width="658" alt="21" src="

[2020-10-30 09:36] briceduclos opened #751 "Columns block: when the columns are resized to 50% on medium devices, there’s no vertical spacing between them"
**Describe the bug**
For device width between 652px and 781px, the columns are automatically resized to 50% and there’s no spacing between them.

**To Reproduce**
Inside the code editor, paste the following code (three columns of text):
[code]

**Screenshots**
Observe that the “Third column” title touches the First column content.

![columns2](https://user-images.githubusercontent.com/56188815/976

[2020-10-30 10:37] JustinyAhin commented on #712
Was there already a PR @carolinan? I can pick up if not.

[2020-10-30 10:44] #737 closed, assigned to aristath

[2020-10-30 10:49] JustinyAhin commented on #712
Looking now, the biography is already added when it exists (https://github.com/WordPress/twentytwentyone/blob/trunk/archive.php#L22). Excepts that it's very big. I think it'll make more sense to reduce it a lil bit.

![Screenshot_2020-10-30 segbedji – two wordpress test](https://user-images.githubusercontent.com/33403964/97696424-dd520c80-1aa5-11eb-9c6c-26c9e09ef2c0.png)

[2020-10-30 11:20] JustinyAhin commented on #735
I think this is more a Gutenberg issue than a theme one.
I noticed the same behavior in all the default themes from 2010 to 2019.

[2020-10-30 12:21] ingereck opened #753 "Editor: Font size large, huge, giant, custom cannot properly be selected"
**Describe the bug**
The larger font sized cannot properly be selected. They are overlapping (see screenshot).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a paragraph block or a text within another block where the font size is selectable and click the font size select button.

**Expected behavior**
The different font sizes should be accessible and easy to select.

**Screenshots**
I

[2020-10-30 12:43] carolinan commented on #753
Hi, this is known issue with the block editor and it is reported here:
https://github.com/WordPress/gutenberg/issues/25862

Because this has already been reported upstream, I will close this issue.

[2020-10-30 12:43] #753 closed, assigned to nobody

[2020-10-30 12:59] Abdujabbar commented on #712
@carolinan No I haven't started yet

[2020-10-30 13:15] Abdujabbar commented on #712
Do we need **Author**  word in template @carolinan ?

[2020-10-30 13:21] Abdujabbar commented on #712
@JustinyAhin it's not exists PR for now if you want you can get it, because I am not good at CSS, and PHP side is already exists :)

[2020-10-30 14:10] TeBenachi opened #756 "Calendar overlaps when it's in 3 columns"
**Describe the bug**
When adding the calendar block within the 3 columns, the calendar width doesn’t seem to reflect the column width. It overlaps the next column.

**To Reproduce**
1. Add the columns block in the editor and select 3 columns
2. Add the calendar block in one of the columns

<img width="984" alt="Screen Shot 2020-10-30 at 9 25 57 AM" src="https://user-images.githubusercontent.com/30

[2020-10-30 14:32] melchoyce commented on #712
Per https://github.com/WordPress/twentytwentyone/pull/697, the author bio should be using the XL text size.

[2020-10-30 14:56] carolinan commented on #712
Huh, I did not know that the author bio was included in  `get_the_archive_description`

[2020-10-30 15:20] carolinan opened #758 "remove duplicate image"
**Describe the bug**
The assets/images/roses-tremieres-hollyhocks.jpg and assets/images/roses-tremieres-hollyhocks-1884.jpg
are duplicates, and the first one can be removed.

The image is used in the starter content, where the path to the image needs to be updated.
`/assets/images/roses-tremieres-hollyhocks.jpg` would be /assets/images/roses-tremieres-hollyhocks-1884.jpg

[2020-10-30 15:32] JustinyAhin commented on #712
Then it's correct. It is using the right font size. I was confused when I saw your browser mockup.

Closing the issue then.

[2020-10-30 15:32] #712 closed, assigned to JustinyAhin

[2020-10-30 15:56] melchoyce opened #785 "Should we reduce the opacity of borders, dividers, and separators?"
Moving over from https://github.com/WordPress/twentytwentyone/issues/620.

**Describe the bug**
Slightly darker borders would help reduce eye strain from too much contrast, and would also blend in better with the dark color scheme.

**Screenshots**

Before | After
----- | -----
![image](https://user-images.githubusercontent.com/2846578/96639828-455b6280-12f0-11eb-9bd0-a478283bdd06.png) | ![image](

[2020-10-30 16:25] lwangdu commented on #737
entry-title and entry-content width seems off. Here is the screen shoot.
![Screen Shot 2020-10-30 at 9 20 53 AM](https://user-images.githubusercontent.com/24829573/97730879-abcf4600-1a91-11eb-9ca2-1c5dffc285e4.png)

[2020-10-30 16:47] pattonwebz commented on #758
I'll take care of this soon :)

[2020-10-30 17:22] melchoyce opened #759 "Pullquote: Quotation mark positioning regression"
**Describe the bug**
The text overlaps the quotation mark in the Pullquote block now:

![image](https://user-images.githubusercontent.com/2846578/97736782-90286780-1ab2-11eb-83af-f4fd9251d951.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Make a new post or page.
2. Add a pullquote block.
3. See that the quotation mark overlaps the text now.

**Expected behavior**
It should look like t

[2020-10-30 17:39] Abdujabbar commented on #609
@carolinan I see still exists $post variables(for example: image.php), we will replace it with `get_post()` method or we leave them?

[2020-10-30 17:46] joyously commented on #759
Is this quotation mark localized like
("") in English, low quotes (,,") in German, and guillemets (<<>>) in French

See https://en.wikipedia.org/wiki/Quotation_mark#Summary_table
and https://jakubmarian.com/map-of-quotation-marks-in-european-languages/

[2020-10-30 18:27] kjellr opened #784 "Dark Mode Toggle Placement"
I'd like revisit discussion about the toggle placement from WordPress/twentytwentyone-dark-mode#1. Currently, the dark mode toggle is placed here:

![image](https://user-images.githubusercontent.com/1202812/97740888-4478bc80-1ab8-11eb-896b-da98039f3ec9.png)

I have a couple concerns with its current placement:

## Prominence of the Button

This is a very strong visual element, and it is located ab

[2020-10-30 18:32] melchoyce commented on #759
Can it be? That would be rad.

[2020-10-30 18:44] kjellr commented on #784
It's possible that this is just a poor option for accessibility/tab order reasons, but for the sake of throwing out ideas: have we discussed the option of having the button fixed somewhere?

![Screen Shot 2020-10-30 at 2 39 12 PM](https://user-images.githubusercontent.com/1202812/97744671-08e0f100-1abe-11eb-98db-638603a30cb7.png)

And/or placed closer to the thumb on mobile? Possibly having it fad

[2020-10-30 20:12] pattonwebz commented on #759
I am pretty sure it's done via a CSS entity and probably doesn't account for i18n. Not sure of the method to make it internationalized other than adding the quotation inline to the page and wrapping it with a translation function.

It would be really, really, nice if we could make this happen though :)

[2020-10-30 20:25] joyously commented on #759
It's not really part of this issue, but it might affect the position.
It could be done with the lang attribute on the html tag, but it would be a long selector for all the languages that use each one.
Or you could make it part of the dynamic CSS that is generated.
Or you could style it with a border instead of a quote. It wasn't styled when I last tested the theme, so I don't know if it's doing it

[2020-10-30 23:31] joyously opened #760 "my site logo is stretched"
My logo looked fine the other day when I added it, but something changed since then (I just downloaded today's version of the theme zip).
The PNG file is 160px by 142px, no cropping done.

![stretched-logo](https://user-images.githubusercontent.com/7957680/97764753-a992d900-1add-11eb-99bf-84657352c3a9.jpg)

In the Customizer, it looks fine when the logo is by itself.
![stretched-logo](https://user

[2020-10-30 23:45] joyously commented on #563
This issue is very noticeable in the Theme Unit Test data, especially on the vertical featured image. It looks blurry at my normal window width of 1040px, but when I use fullscreen of 1908, the image is huge and awful and in the way.
The theme should work with the images as they are, not force them to be wider than intended.

[2020-10-31 00:18] joyously opened #761 "navigation links for custom post types"
I think the theme should provide navigation if its template is loaded. It shouldn't say post though. Using 'Next' and 'Previous' would work fine.

_Originally posted by @joyously in https://github.com/WordPress/twentytwentyone/issues/566#issuecomment-710735196_

The user shouldn't have to have a custom template to show custom post types.
I tested removing the `if ( is_singular( 'post' ) ) ` from s

[2020-10-31 01:00] joyously opened #762 "Quote block: bold looks less bold than non-bold"
I don't think this is an editor problem, but the default style, because it works correctly in my theme.
I made a word in a quote block bold, but that word looks normal and the rest looks bold.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the block editor.
2. Add a quote block and type some text.
3. Select a word and click on the Bold icon to make it bold.
4. See that it looks non-bo

[2020-10-31 02:22] carolinan commented on #761
It is not common for a user to add their own custom post types. If an advanced user is capable of adding custom post types they are also capable of adding the templates.

 It is up to the plugin that adds the post type to provide the templates.

The design is set here, and this issue has already been replied to.

[2020-10-31 02:32] joyously commented on #761
That is not my experience at all.
If the template is loaded, which it will be for those that make simple custom post types with simple plugins like Custom Post Type UI, then it should faithfully show the navigation of the Next and Previous, instead of nothing.

[2020-10-31 10:52] #678 closed, assigned to nobody

[2020-10-31 12:37] naunha opened #763 "Bug quote block"
When inserting a quote block, the quotation mark is in the wrong position, overlapping the text
![Captura de Tela (134)](https://user-images.githubusercontent.com/5017547/97779423-af7bcf00-1b5c-11eb-956f-276dc59c1d2a.png)

[2020-10-31 14:21] felipeelia commented on #758
@pattonwebz I'm trying to get familiarized with the theme code, so I'm trying to pick some low-hanging fruits here while I'm on it. I hope you don't mind :)

[2020-10-31 14:30] felipeelia commented on #762
Hi @joyously ,

I was giving a look into the issue and it seems it looks like that intentionally:

https://github.com/WordPress/twentytwentyone/blob/trunk/assets/sass/04-elements/blockquote.scss#L54
[code]

I'm trying to get familiarized with the theme, so I'll be happy to create a Pull Request if it needs to be reverted.

[2020-10-31 14:49] joyously commented on #762
Ah, so it's intentional to confuse the user? (making `strong` not strong)
The editor experience is not good, and existing content is contrary to what is intended by the user.

[2020-10-31 16:06] pattonwebz commented on #758
@felipeelia I don't mind at all. Thank you for taking care of it :)

[2020-10-31 17:37] abuyoyo commented on #761
Core does not provide a way for a plugin to hook into the templates. So the solution proposed - adding a custom post type in a plugin _and then_ adding a child theme to add a template for that custom post type - seems a bit much.
Either way this solution would require two separate installs - a plugin and a child-theme.

Not really sure why a theme would limit the navigation only to post and pages.

[2020-10-31 19:47] carolinan commented on #761
Reopened, but I don’t agree with the assumption that a custom post type even has next and previous navigation.

[2020-10-31 23:26] pattonwebz commented on #761
I think wrapping the noun used in the text with a filter might be sufficient to allow customization for different post types? If not a 'post' post_type the it could grab the post type label or something?

It might be over the top to add a filter to modify this? Do you think using a filter is something an average user that has extra post types might be able to do?

[2020-10-31 23:30] pattonwebz commented on #756
The calender is quite pecualiar and (in my personal oppinion) a bit painful to try and restyle to make it totally responsive. I don't think we can solve this easily and I would be ok knowing this is a use case we didn't solve for.

[2020-10-31 23:40] joyously commented on #761
I looked at the labels available when registering a post type. They don't include "Next Item" and "Previous Item", and you can't really just stick two words together, since translations don't work that way.
That's why it seems easiest to simply remove the "Post" part and just have "Next" and "Previous".

[2020-11-01 07:54] carolinan commented on #756
Yeah I think the best solution here is for the user to manually change the width of the column, because having the column expand to the width of the calendar may also be problematic 🤔

[2020-11-02 06:30] carolinan commented on #784
I don't think the button should have a solid dark background when dark mode is off, that is why it is more distracting on small screens, compared to the menu.
Or, give the menu button the same style.

The N shape does not look strange to me except there could be some more space between the menu and the button.

For me having a full width button at the footer is more distracting than having a small

[2020-11-02 06:46] #758 closed, assigned to felipeelia

[2020-11-02 07:16] aristath commented on #784
That is how it was until a few days ago... And the code is actually still there. It's easy to test by changing this line from `relative` to `fixed-bottom`: https://github.com/WordPress/twentytwentyone-dark-mode/blob/e8c28e8252e651a4ee93a17be1fcabbc5cc3c8c2/functions.php#L231
As a personal preference I find that the bottom-fixed option is not so much "in your face" and it becomes a secondary elemen

[2020-11-02 07:18] carolinan opened #770 "Primary navigation: Style the page menu"
**Describe the bug**
If a site has a fall back page menu, and then switches to Twenty Twenty-One, the page menu is still in use.
Because of this, the theme needs to style the page menu even though it can't be activated when using the theme.

Currently the responsive menu is broken and there is a JavaScript error:
[code]

And the wide menu is displayed vertically instead of horizontally.

**To Repr

[2020-11-02 07:33] aristath commented on #784
Moving the button to be visually after the menu is not currently possible while in plugin form (there's no hook in the theme for that). But once this gets merged in the theme later today I can definitely put it as the last item on the menu (visually, not in the DOM inside the actual `nav` element). And yes, that makes it a lot more balanced.

[2020-11-02 07:38] carolinan commented on #770
After testing, this is easier solved by adding `'fallback_cb'     => 'false',` to `wp_nav_menu`.
Not supporting the page menu is more in line with what was initially decided.

[2020-11-02 07:41] aristath commented on #770
Not supporting the page menu is more in line with what was initially decided.

Makes perfect sense :+1:

[2020-11-02 07:57] #729 closed, assigned to kjellr

[2020-11-02 08:27] #750 closed, assigned to JustinyAhin

[2020-11-02 09:58] #751 closed, assigned to nobody

[2020-11-02 10:04] #735 closed, assigned to JustinyAhin

[2020-11-02 10:38] carolinan commented on #760
The `twenty_twenty_one_get_attachment_image_attributes` is unintentionally affecting the custom logo functionality, which uses this filter.

[2020-11-02 11:01] #738 closed, assigned to carolinan

[2020-11-02 12:42] kjellr commented on #784
Just for clarification, are you saying you think it's more appropriate for this to be a secondary element at the bottom?

That sounds good, let's give that a try (as well as maybe the fixed option?) and see what it's like.

[2020-11-02 12:45] carolinan commented on #784
Even if it is not technically inside the menu, the focus order would still need to match what we see:
logo, title, menu, dark mode button

[2020-11-02 13:00] carolinan commented on #679
At this time there does not seem to be a solution for this, and it would first need to be solved in the editor/Gutenberg.

[2020-11-02 13:00] #679 closed, assigned to nobody

[2020-11-02 13:10] carolinan commented on #744
Hi!

For 1), post date, you would override the function `twenty_twenty_one_posted_on` in your child theme.
2),  you would override the function `twenty_twenty_one_posted_by`
The bio is only visible when one has been entered in the user admin area. To remove it you would need to override the template.
`twentytwentyone\template-parts\post\author-bio.php`

3) You would probably find it easiest to hid

[2020-11-02 13:24] carolinan commented on #756
When comparing this to the table block, the table has ` overflow-x: auto;` which gives the block a horizontal scroll in the editor, preventing the overlap.
This might make the calendar easier to work with in the editor, but it does not make it more _responsive._

Removing the min width for the table (used both by the calendar and table block) did not improve the overlap.

Comparing the calendar wi

[2020-11-02 13:27] aristath commented on #784
Yes. Switching color modes is a nice feature, but shouldn't interfere with the header. Switching dark/light modes is something that can be seen more as a nicety and definitely not as important as the site-navigation.
The color-scheme switch basically says _"hey there! In case your lighting conditions, personal preferences or a migraine make it hard to read the site the way you see it now, try swit

[2020-11-02 13:54] #770 closed, assigned to carolinan

[2020-11-02 13:57] #728 closed, assigned to carolinan

[2020-11-02 14:18] joyously commented on #679
Can't the top level nav use `background-color: inherit` and the submenus use the CSS variable?

[2020-11-02 14:45] kjellr commented on #762
This is a common problem with any theme text that is bold by default.

In the near term, I believe the only solution we have (other than keeping things the way they are) would be to switch to using `bolder` here. Though I'm not positive that all typefaces in the stack will have a bolder equivalent available.

[2020-11-02 15:36] #760 closed, assigned to carolinan

[2020-11-02 15:37] #659 closed, assigned to nobody

[2020-11-02 15:37] #745 closed, assigned to carolinan

[2020-11-02 15:43] joyously commented on #762
It sounds like bold is not a good default.

[2020-11-02 17:51] #747 closed, assigned to carolinan

[2020-11-02 18:00] t-pabla commented on #744
Thank you  carolinan  for your reply. Appreciate it very much.

I tried two, for example `add_filter('twenty_twenty_one_posted_on', '__return_empty_array');` AND `add_filter('twenty_twenty_one_posted_on', '__return_false');`
But did not work. Perhaps you can suggest me something that will work.

Can you please suggest me a filter? Thanks.

I (@t-p) also volunteer as MOD at WP.org support forum
. A

[2020-11-02 19:26] carolinan commented on #744
We do not intend to add more filters.
You would not be changing the parent file, but overriding it by replacing it in the child theme.

[2020-11-03 06:29] #762 closed, assigned to nobody

[2020-11-03 06:37] carolinan commented on #744
The theme uses the default function for displaying the comments.
I have not tried it and can't recommend it but you could possibly use https://developer.wordpress.org/reference/functions/get_comment_date/

[2020-11-03 06:37] #744 closed, assigned to nobody

[2020-11-03 06:47] carolinan commented on #14
From https://github.com/WordPress/gutenberg/releases/tag/v9.3.0-rc.1

These changes may need additional testing:

- [x] _Cover block: Restore default overlay background._

- [x] _Heading Block: Fix double alignment controls in toolbar._

- [x] _Latest Posts: Add missing classname._

- [x] _Fix left and right alignments for video embeds._

[2020-11-03 07:21] aristath commented on #756
I think this one is safe to close.
If the site-owner adds a calendar, then they should make sure they have the room for it.
Adding a calendar to a 3-column layout and expecting it to fit in a tiny space while still being readable & usable is not a realistic expectation.

[2020-11-03 07:57] aristath commented on #563
No theme will ever work the way everyone wants it for all content. Not all content will show beautifully in all themes, all themes have opinions about how content should be formatted, and some styles will always be a bit opinionated. This is one of those cases. It's not good or bad, it's just how twentytwentyone handles featured images.

Honestly I don't see this as an issue. Does the image look b

[2020-11-03 10:25] aristath commented on #763
Closing as duplicate of #759

[2020-11-03 10:25] #763 closed, assigned to nobody

[2020-11-03 12:05] aristath commented on #536
Moved to the RC1 milestone

[2020-11-03 12:05] aristath commented on #643
Moved to the RC1 milestone

[2020-11-03 12:17] #447 closed, assigned to kjellr

[2020-11-03 12:24] aristath commented on #609
These globals are only used in the `image.php` template. That template is only used when displaying an attachment - in which case the `$post` and `$wp_query` globals are **always** set.
Closing this one since after further examination it's not an issue.

[2020-11-03 12:24] #609 closed, assigned to nobody

[2020-11-03 14:05] joyously commented on #563
Consider this from the perspective of theme authors learning from the default theme. It is better to promote CSS that allows any image size than CSS that forces the browser to upscale small images.

Also consider that the user could have 2000 posts with various images sizes that happened over many years, different authors, and different themes. Just because they switch to a different theme doesn't

[2020-11-03 14:42] aristath commented on #451
Just like other similar WP5.3 issues, I'm closing this one.
In WP 5.3 the content is still readable and accessible. Adding styles for all possible changes that WP has done to all widgets or Gutenberg has done to the blocks markup over the years is not a viable or sustainable plan. The theme is compatible with WP as far back as 5.3, but that doesn't mean that if they use an old version of WordPress

[2020-11-03 14:42] #451 closed, assigned to nobody

[2020-11-03 16:37] #761 closed, assigned to nobody

[2020-11-03 16:55] carolinan commented on #756
I agree, I feel that I have done all the testing that I could come up with and no solution was found.

[2020-11-03 16:55] #756 closed, assigned to nobody

[2020-11-03 17:02] carolinan commented on #536
I am no longer able to reproduce this problem with the images.
I am using 5.6-beta3-49486 with and without Gutenberg 9.3.0-rc.1

[2020-11-03 17:22] carolinan commented on #639
Related:
https://github.com/WordPress/gutenberg/issues/26662

[2020-11-04 08:08] carolinan commented on #785
Changing the input fields background color would also mean that we had to adjust the text, and it would be confusing to have different colors here depending on if the field is empty, has content, or is being edited.

The current color for inputs when the dark backgrounds are used is somewhat darker than the full white, and keeps the contrast ratio with the text color.
 `	--global--color-white-90:

[2020-11-04 08:32] #746 closed, assigned to nobody

[2020-11-04 08:57] carolinan commented on #784
I still have accessibility concerns for the placement of the button in the right corner, because focus moves from the upper left skip link to the bottom right. This causes problems if you are zooming in or using a magnifier.

When zoomed in to say [400%](https://www.w3.org/WAI/WCAG21/Understanding/reflow.html), the fixed position means that the button covers a large part of the content.

This imag

[2020-11-04 09:44] #643 closed, assigned to carolinan

[2020-11-04 15:12] #14 closed

[2020-11-04 15:22] #72 closed

[2020-11-04 15:56] carolinan opened #789 "Dark mode color issues: Search and Search block"
**Describe the bug**
When dark mode is enabled:
- The color of the focus for the search input field (search form, widget, and block) which is inside the field,
is too bright and has a contrast that is too low.

The color of the "button inside" in the search block is too bright and has a contrast that is too low.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable dark mode
2. Add a search

[2020-11-05 06:34] carolinan commented on #541
I know the spacing has been brought up before and that it was intended.

But in my opinion, the text in the navigation on mobile is too close to each other.
Possible solutions:

- Place the text on separate lines.
- Reduce the text size. -This may not help if there are languages where this text is much longer than the English text.
The click target size still needs to be at least 44x44.
- Remove t

[2020-11-05 08:01] JustinyAhin opened #790 "Improve the dark mode instructions in the customizer"
**Describe the bug**
The current instructions for the dark mode is the customizer:
- Label:  Respect visitor's device dark mode settings
- Instructions: Dark mode is a device setting. If a visitor to your site requests it, your site will be shown with a dark background and light text.

These could be improved to be more clear to the users.

**To Reproduce**
Steps to reproduce the behavior:
1. Go t

[2020-11-05 10:03] carolinan commented on #618
This is already included, closing.

[2020-11-05 10:03] #618 closed, assigned to carolinan

[2020-11-05 11:51] carolinan commented on #784
I think the experience would be improved if the button was not visible when scrolling.
That is a common pattern for example for go to top links.

[2020-11-05 13:02] kjellr commented on #784
I agree, that would be great to try.

[2020-11-05 13:09] kjellr commented on #784
Additionally, I'm seeing some issues with the toggle button's placement and appearance in the editor. We can split this into its own issue if we'd like, but posting here for now:

![dark-mode](https://user-images.githubusercontent.com/1202812/98244879-1a9f1a00-1f3e-11eb-9f29-2ef069d1d4c9.gif)

(I'm not 100% sure we need to include the button here in the first place... I see how it is helpful from

[2020-11-05 14:29] #789 closed, assigned to nobody

[2020-11-05 14:29] carolinan commented on #789
fixed by https://github.com/WordPress/twentytwentyone/pull/794

[2020-11-05 14:32] carolinan opened #796 "Dark mode: Link focus style is dark text over dark background"
**Describe the bug**
When dark mode is enabled, the link focus style is dark grey text over black background.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable dark mode
2. Focus on a link
3. See error

**Expected behavior**
The text must be readable

**Screenshots**
![darkmode-focus](https://user-images.githubusercontent.com/7422055/98254066-1c87ce00-1f7c-11eb-81a0-85be43e66f51.png)

[2020-11-05 15:17] joyously commented on #563
I just want to add that most people try to fix CSS problems that cause distortion or difficulty in reading the user's content, such as white on white text or underlines on titles or illegible fonts. Changing the user chosen size of images, making them blurry or too large, is the exact same thing.

[2020-11-05 15:27] #759 closed, assigned to nobody

[2020-11-05 19:48] #796 closed, assigned to carolinan

[2020-11-06 09:07] aristath commented on #784
Done in #798

PR in #799

[2020-11-06 09:59] carolinan opened #801 "Dark background: Links in the footer are white over white background"
**Describe the bug**
When a dark body background color is used, the following links in the footer are white over white  background:

Social links in the footer menu (text links work well)
Linked site title and credit links.

(Dark Mode is off)

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure that Dark Mode is off.
2. In the customizer, select a dark body background from the palette

[2020-11-06 12:36] carolinan opened #803 "Outlined buttons over dark grey body backgrounds are invisible."
**Describe the bug**
This issue can be seen both with dark mode enabled and with a dark grey body background.

If a button block with an **outline style** has a background color from the palette,
the background remains transparent per design, [but the text color is set to dark grey or white.](https://github.com/WordPress/twentytwentyone/blob/trunk/assets/sass/07-utilities/color-palette.scss#L106)

[2020-11-06 12:37] carolinan commented on #803
Closing this since we will be enabling the background color.

[2020-11-06 12:37] #803 closed, assigned to carolinan

[2020-11-06 12:40] carolinan opened #804 "Allow outlined buttons to have custom background colors."
**Describe the bug**
The outlined button has a transparent background, even if the user selects a background color.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a button block.
2. Set the style to outline.
3. Add a background color.
4. See error

**Expected behavior**
When the user selects a background color the button should use that color.

[2020-11-06 13:53] aristath opened #805 "Dark mode: selecting a dark background-color in the customizer should turn off the feature completely"
Currently dark colors are not applied because dark-mode is forced on (CSS classes conflict)

[2020-11-06 14:37] aristath opened #806 "Sticky-post notice is unreadable"
![Screenshot_2020-11-06 Template Sticky – My Blog](https://user-images.githubusercontent.com/588688/98378155-54f7dc80-204e-11eb-8f71-6c91315de626.png)

[2020-11-06 15:28] carolinan commented on #806
What are the steps to reproduce this?
To me it looks like a regular paragraph with a text color and background color?

[2020-11-07 04:25] #801 closed, assigned to carolinan

[2020-11-07 04:32] #785 closed, assigned to nobody

[2020-11-07 04:33] carolinan commented on #620
Changing the input fields background color would also mean that we had to adjust the text, and it would be confusing to have different colors here depending on if the field is empty, has content, or is being edited.

The current color for inputs when the dark backgrounds are used is somewhat darker than the full white, and keeps the contrast ratio with the text color.
--global--color-white-90: rgb

[2020-11-07 07:40] aristath commented on #806
My bad, invalid issue

[2020-11-07 07:40] #806 closed, assigned to nobody

[2020-11-09 06:53] aristath commented on #563
fixed in #800

[2020-11-09 07:25] #620 closed, assigned to nobody

[2020-11-09 07:33] #790 closed, assigned to nobody

[2020-11-09 08:00] carolinan opened #811 "Update the readme file to include information about LocalStorage"
Update the readme file to include information about LocalStorage which is used by the Dark Mode.

[2020-11-09 09:22] carolinan opened #813 "The password input field for protected posts is the wrong size"
**Describe the bug**
The password input filed for password protected posts is larger than the submit button-

**To Reproduce**
Steps to reproduce the behavior:
1. Enable password protection for a post
2. View that post to see the password form.

**Expected behavior**
The input field and the button size should match better.

**Screenshots**
![Password input field](https://user-images.githubusercont

[2020-11-09 10:11] #805 closed, assigned to aristath

[2020-11-09 10:25] carolinan commented on #813
When working on this I also noticed that the style is placed under blocks, but it is not a block, so I am copying the styles to forms.scss.

[2020-11-09 12:01] carolinan commented on #784
Can we place the toggle last in the focus order?
Because I think moving the focus across the page from the top left to the bottom right is worse.

[2020-11-09 12:34] aristath commented on #784
PR: https://github.com/WordPress/twentytwentyone/pull/817

[2020-11-09 12:52] carolinan commented on #784
@kjellr  @melchoyce We have not tried using a full width button fixed at the bottom of the page on mobiles, other than that I believe everything has been addressed and this can be closed?

[2020-11-09 12:59] #813 closed, assigned to carolinan

[2020-11-09 13:03] #536 closed, assigned to kjellr

[2020-11-09 13:04] kjellr commented on #784
Yeah, I think the solution we have works ok for now. No need to try the full-width at the bottom. 👍

Thanks!

[2020-11-09 13:04] #784 closed, assigned to nobody

[2020-11-09 14:01] carolinan opened #820 "Add information about LocalStorage to the privacy policy"
**Describe the bug**
As a compliment to the information in the readme file, adding information about the use of LocalStorage to the privacy policy makes it easier for site owners to comply with different regulations.

Related to: https://wordpress.slack.com/archives/C9695RJBW/p1604692028223800 ( WordPress Slack account needed)

Resource: https://developer.wordpress.org/plugins/privacy/suggesting-t

[2020-11-09 14:45] carolinan opened #821 "Responsive menu is cut off on mobile"
**Describe the bug**
In Edge, Chrome, and Firefox, the last menu item of the responsive menu is not visible, depending on the menu size.

It is not possible to scroll down far enough for all menu items to show when using the theme unit test menus
"All Pages" or "Testing menu" in the primary location.

No issues in Opera mini.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a menu with

[2020-11-09 15:06] allancole commented on #821
Yup, I can confirm this is in issue on Chrome and iOS 14. Here’s a screencap of it:

![RPReplay_Final1604933420](https://user-images.githubusercontent.com/709581/98557885-c1532580-2272-11eb-904f-b0b3f56f824c.gif)

I have to sort of over-scroll to get the **Page A** and **Page B** menu-items in view, but as soon release the scroll, those two links fall back below the bottom of the viewport and I ca

[2020-11-09 15:37] #563 closed, assigned to nobody

[2020-11-09 16:07] melchoyce commented on #762
We could make the quotations themselves semibold instead of bold, perhaps, if it's a problem?

[2020-11-09 16:10] kjellr commented on #762
I think it's ok the way it is — any system that doesn't have a weight bolder than bold is also unlikely to have a semi-bold weight available too. But anyway, I did some testing in the PR and it seemed like this works fine in Windows, Android, Mac, and iOS. So that's pretty good.

[2020-11-09 16:53] #821 closed, assigned to nobody

[2020-11-10 07:59] #707 closed, assigned to nobody

[2020-11-10 08:03] carolinan commented on #804
Fixed with #808, closing

[2020-11-10 08:03] #804 closed, assigned to carolinan

[2020-11-10 09:18] #820 closed, assigned to nobody

[2020-11-10 09:19] #811 closed, assigned to nobody

[2020-11-10 10:05] #656 closed, assigned to carolinan

[2020-11-10 10:22] aristath opened #828 "Dark Mode Docs"
Suggested text for the HelpHub page for the Twenty Twenty-One theme:
---------------

## Dark Mode Support

One of the accessibility features of the Twenty Twenty-One theme is support for the visitor's color scheme preferences in their operating system or browser's settings. The feature is opt-in and supported in most operating systems, including [Android](https://support.google.com/chrome/answer/

[2020-11-10 15:21] sarahricker commented on #541
@carolinan / @JustinyAhin Discussed this in a11y + Design Office Hours today.

Ultimately landed on a preference to remove "post" from the link text on both sides, but keep it for the link title / screenreader text.
This should help keep the context for visual users, while reducing cognitive load. It will also preserve design + click target without having to deep dive into last minute css changes.

[2020-11-10 15:50] sarahricker commented on #627
Noting that Beta 4 was moved to Nov 12 2020, so we have a few more days! 🙏

[2020-11-10 15:56] sarahricker commented on #549
Discussed this in [a11y + Design Office Hours today](https://wordpress.slack.com/archives/C02S78ZAL/p1605021770384600).

There are some obvious concerns with aligning the blocks / content for english users simply wishing to left/right align their blockquotes, such as:

- the text aligns right, but the leading quote now looks like an ending quote
- the text aligns right, but the leading quote is al

[2020-11-10 16:12] melchoyce commented on #541
If we can remove "post," I'm for that 👍

We probably could reduce the vertical spacing here by one increment, it feels taller in this screenshot.

[2020-11-10 20:04] melchoyce commented on #828
Looks good, thanks for writing this up 👍

One quick note: "color scheme" and "background color" (outside of CSS) shouldn't be hyphenated. I also noticed one use of "dark-mode," which should probably be capitalized (Dark Mode) like the other instances.

[2020-11-11 06:48] aristath commented on #828
Thank you, updated :+1:

[2020-11-11 07:03] LittleBigThing opened #829 "Background image in combination with dark mode"
Just a thought, not as much a bug as a possible usability/accessibility concern: how about using the custom background image feature (in the Customizer) in combination with dark mode? This can give surprising results.

For example, if dark mode is on and a background image is selected with an overall light background color during the day (with device settings set to automatic or to light mode), th

[2020-11-11 07:11] aristath commented on #829
Dark Mode is opt-in. If the user chooses to add a background-image then they should not enable Dark Mode Support. If they do, then well.. poor choices lead to poor results and we can't stop people from making poor choices.
It's possible (unlikely but not impossible) that they actually use a transparent pattern that just adds a slight embossed/paper feel and it would work well both with light and d

[2020-11-11 07:28] carolinan commented on #829
Unfortunately the background image and background color are tied together in the same `custom-background` theme support. So the theme can not easily disable the background image feature.
https://core.trac.wordpress.org/ticket/48241

[2020-11-11 07:49] LittleBigThing commented on #829
@aristath I mostly agree. I mention it because this was handled differently in the past (in Twenty Nineteen), trying to limit the possibility for making poor choices.

@carolinan Oh, yeah, true. That leaves us with less choices for now. :-)

[2020-11-11 09:58] aristath commented on #829
Closing this one since it's not something actionable.

[2020-11-11 09:58] #829 closed, assigned to nobody

[2020-11-11 09:59] aristath commented on #828
Cleaning up the repo so I'll go ahead and close this one. Text was copied to the doc, further edits can be made there if needed.

[2020-11-11 09:59] #828 closed, assigned to nobody

[2020-11-11 11:17] carolinan commented on #549
The editor and front does not match:

Editor:
![quote-editor](https://user-images.githubusercontent.com/7422055/98805370-c0a7c400-2417-11eb-91f0-d7b4770afa29.png)

Front:
![quote-front](https://user-images.githubusercontent.com/7422055/98805485-e8972780-2417-11eb-9c34-cd4272d83d76.png)

For earlier design decisions see: https://github.com/WordPress/twentytwentyone/pull/513

[2020-11-11 13:49] #541 closed, assigned to carolinan, JustinyAhin

[2020-11-11 15:52] adamsilverstein opened #833 "Inform user when Dark Mode feature unavailable because site background color is dark."
**Describe the bug**
When testing the Dark Mode feature I noticed that if I set my theme's background color to a dark color, the option to enable the dark mode feature disappears:

While this makes sense functionally, I found it confusing as a user. I wanted to enable dark mode, after I set the background color. When I chose a dark color, then discovered the Dark Mode option was gone, I was confus

[2020-11-11 15:52] adamsilverstein commented on #741
I created this [issue](https://github.com/WordPress/twentytwentyone/issues/833) but don't have capability to add the dark mode tag.

[2020-11-11 15:54] melchoyce commented on #833
FWIW, I think it would be more straightforward to remove this conditional and not worry about someone's chosen background color.

[2020-11-11 19:58] carolinan commented on #833
There is already a description above the option that says that you need to select a light color to access the Dark Mode settings.

I am OK with the solution Mel suggested if it can be done easilly.

[2020-11-11 20:56] ryelle opened #834 "Dark Mode: Image is visible through border on cover block"
**Describe the bug**
The border on cover blocks is semi-transparent, so the image shows through slightly:

<img width="360" alt="Screen Shot 2020-11-11 at 3 43 42 PM" src="https://user-images.githubusercontent.com/541093/98863184-ffe50d80-2435-11eb-8ecb-3d1064ca1923.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Add a cover block
2. Switch to the "border" style
3. Use a dark color for

[2020-11-12 05:24] talldan opened #835 "Pullquote: when we select the solid color style then the " (Quote) gets overlap with placeholder #26885"
This issue originally was created by @kmadhak over on the the Gutenberg repo (https://github.com/WordPress/gutenberg/issues/26885).

----

Describe the bug
in Pullquote when we select the solid color style then the " (Quote) get overlap with placeholder, so because of that we are not able to view the first character of the text of Pullquote.

To reproduce
Steps to reproduce the behaviour:

Go to '

[2020-11-12 07:06] carolinan opened #837 "Pull quote has the wrong default color on the front"
**Describe the bug**
On the front, the pull quote block is inheriting the color `#555` from the block files.
In the editor, the color is the dark grey  `#28303D`.

The _solid style_ pull quote has the correct color.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a pull quote block.
2. Compare the colors in the editor and front.

**Expected behavior**
I expect the color in the editor and

[2020-11-12 07:28] naokomc commented on #549
I [pinged Arabic/Hebrew/Persian polyglots yesterday](https://wordpress.slack.com/archives/C02RP50LK/p1605063543202000?thread_ts=1605023313.199800&cid=C02RP50LK) but haven't heard back.

According to https://en.wikipedia.org/wiki/Quotation_mark, `quotation mark pairs with the convexity pointing outward` (“...”) seems to be the most commonly accepted among various languages including Arabic (which l

[2020-11-12 07:45] carolinan commented on #833
@adamsilverstein I see the confusion now that I am more awake (good morning) The screencast is using an older version of the theme.
Please test the current trunk version from this GitHub repository, or see https://make.wordpress.org/core/2020/11/10/twenty-twenty-one-dark-mode-update/

This is what the customizer option looks like currently:
![TT1-customizer-2](https://user-images.githubusercontent

[2020-11-12 07:47] aristath commented on #833
Hmmm then what happens if I select a dark background-color and then enable the dak-mode checkbox? If I make a change to a control I expect to see a change in the preview, and in this case nothing would happen (assuming of course the selected background-color is dark)
If we do show the dark-mode control at all times, then perhaps we should disable the checkbox if the background-color is dark? This

[2020-11-12 07:50] carolinan commented on #833
Thinking...
When the checkbox is checked, the background color does not need to change if it is already dark, but what changes is:
Device setting support
Toggle button visibility

[2020-11-12 07:54] carolinan commented on #833
_If we do show the dark-mode control at all times, then perhaps we should disable the checkbox if the background-color is dark? This way it would be visible but greyed-out 🤔_

This has been suggested a few times during the tests. I think this solution would be less confusing for people, than completely hiding it.

[2020-11-12 08:44] aristath commented on #833
See PR on #838 for an implementation of the checkbox-disabling without the control dependency.

[2020-11-12 09:17] farhadsakhaei commented on #549
Hi
I am Locale Manager of Persian language
For Persian and I think for Arabic you can use « and » for quotes
**Example:**
«گیومه»
Here is related documentation: https://fa.wikipedia.org/wiki/%D8%B9%D9%84%D8%A7%D9%85%D8%AA_%DA%AF%D9%81%D8%AA%D8%A7%D9%88%D8%B1%D8%AF
But remember to use Persian texts when you are testing RTL direction, Because sometimes browsers replace some elements when they occur

[2020-11-12 09:40] JustinyAhin commented on #837
Looking at the figma files, the color normal color should be gray #39414D
https://www.figma.com/file/OEtsCj8oD8JPVx4OvsS0U2/Twenty-Twenty-One?node-id=1254%3A64

[2020-11-12 09:55] JustinyAhin commented on #837
What could be done is to add the `color: var(--global--color-gray);` to the `wp-block-pullquote` class both in frontend and in editor files.

[2020-11-12 10:11] carolinan commented on #837
If we use this color and not the secondary or primary CSS variables, won't it affect the text color when the background is changed to dark?

I believe it is meant to have the same color as the body text?

[2020-11-12 10:19] JustinyAhin commented on #837
I just tested. When a custom color is selected for the quote, it overwrites the color set in the css.
Lemme send a PR for testing.

[2020-11-12 12:07] carolinan opened #841 "Aligned pullquotes with the solid style only displays one letter on each line"
**Describe the bug**
When a pullquote block has the solid style and is aligned to left or right, the padding for the block is not reduced,
so the content does not fit.

On the front the block only shows one letter per line and it is difficult to read the content.
In the editor, the block shows up to 5 letters before there is a line break.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a

[2020-11-12 13:42] carolinan opened #842 "Editing Footer menu changing URL causes duplication in the preview"
**Describe the bug**

See https://core.trac.wordpress.org/ticket/51615

_When you edit the URL of a footer item in the Customizer Menu the icons start duplicating and getting edit icons on them. I assume the edit icons should always be there and the existing icons should update.
In my test I was changing the Facebook item to Linkedin._

** Steps to produce;**
Install beta.
Customizer > Menu
Choose

[2020-11-12 14:13] carolinan commented on #842
I did test this earlier and was able to reproduce it with the version of the theme that is included in 5.6-beta3-4956.

But when testing 5.6-beta3-49562 with the latest version of the theme from the GitHub repository, I can not reproduce it.

There is a visible refresh of the customizer when I change a menu item, but the footer menu does not have a Customizer shortcut icon and the menu items are n

[2020-11-12 14:50] #842 closed, assigned to nobody

[2020-11-12 17:00] transl8or opened #843 "Desktop Layout on Firefox 71 (Linux) is to wide"
The desktop layout of the new default theme Twenty Twenty-One is much to wide on Firefox 71.
It reaches until the edge of 1920 px screen or bigger.

Firefox 71 from Dez. 2019 is the default browser currently delivered with Linux Mint 19.3 Mate or Cinnamon (LTS until April 2023).

The Issue does not appear when switching to the Twenty Twenty theme. This theme handles the older browser quite well.
T

[2020-11-12 17:36] transl8or opened #844 "Renaming of the text strings for the colors to more appropriate names"
Not sure if this is an (urgent) issue but I would like to suggest to rename the text strings for the colors in the theme so that they express the beautiful choosen color palette in a more specific way.

As so many others I really like the muted, pastell colors for the new theme when it was introduced by @melchoyce on the w.org blog.

So I translated the given color strings with a bit more specific

[2020-11-12 17:47] carolinan commented on #843
Hi
This is also the situation for older browsers like Internet Explorer 11.
We will not be making any changes in support of this browser version.

The content can still be read and accessed even if the layout is not the same as in newer browser version.

From the screenshot, it looks like the themes CSS variables are not being used, but as far as I know, this browser version should support them.

[2020-11-12 17:47] #843 closed, assigned to nobody

[2020-11-12 17:52] carolinan commented on #844
Hi
We do not intend to rename the colors.

Beta 4 of WordPress is released today and it means that we can no longer change the text strings. This is to allow the translators enough time to translate the theme before the release of WordPress 5.6.

[2020-11-12 17:52] #844 closed, assigned to nobody

[2020-11-13 00:05] sarahricker opened #848 "Dark Mode support toggle: Toggle + content disappeared in Customizer"
**Describe the bug**
A clear and concise description of what the bug is.

While testing about in the 5.6 Beta 4 release, it seemed that the Dark Mode support toggle + content disappeared after clicking through responsive design modes and /or colors  in customizer. It never came back until refresh. Upon further inspection, it actually seemed to be happening based on the color choice, which was much

[2020-11-13 04:17] #834 closed, assigned to carolinan

[2020-11-13 04:52] ldr2273 opened #850 "Additional Information: Weight + Dimension Alignment"
**Describe the bug**
Product Weight + Dimensions on Additional Information tab could be better spaced.

**To Reproduce**

1. Add a product with Weight + Dimensions.
2. Visit product page -> Additional information tab and see alignment:

![Alignment](https://d.pr/i/rBz4dw+)
Link: https://d.pr/i/rBz4dw

**Expected behavior**
Not real problematic, but stylistically could benefit from a bit more of a

[2020-11-13 05:00] carolinan commented on #850
Hi, the default theme can not have styles for specific plugins, **because there is no way to support all plugins equally and fairly.**

From the screenshot, I will assume that this is WooCommerce?
I am not able to tell if this is a table, a list, or something else?

[2020-11-13 05:04] carolinan commented on #850
I was able to locate it at my own demo shop that I have created with the theme.
The problem is not related to the theme, but to the plugin that removes the default spacing that the theme uses for tables:

[code]

Because of this, I am closing the issue.

[2020-11-13 05:04] #850 closed, assigned to nobody

[2020-11-13 06:08] ldr2273 commented on #850
@carolinan - Thank you! Yes, I forgot to mention this was when using WC but glad you were able to confirm for me.

[2020-11-13 08:42] aristath commented on #848
That's not what we're supporting. The theme calls this "Dark Mode Support" and not "Color Schemes Switch" for good reason.
"Light" mode is the default in the web and all devices. That's how the web always worked. If the designer picks a dark color for their background, then the assumption is that they want that specific dark background-color. If we allow dark themes to switch to light, then we run

[2020-11-17 09:24] knutsp opened #853 "Use correct word for update"
"This theme requires WordPress 5.3 or newer. You are running version %s. Please upgrade." should be
"This theme requires WordPress 5.3 or newer. You are running version %s. Please update."

[2020-11-17 11:01] aristath commented on #853
If they are on a WP version older than 5.3, than I think that updating to the latest version of WP would definitely qualify as an upgrade and not an update... The way I understand it is that the difference between update & upgrade lies in the amount and severity of changes. So 5.2 to 5.2.1 would be an update, but 5.2.x to 5.6 (or any other major release) would be an upgrade.

[2020-11-17 12:25] knutsp commented on #853
My understanding of wording used by WordPress comunity is that the word "upgrade" mean to change from a free/community version to a pro/paid/exteneded version, another more feature rich product. Analogy; You "upgrade" from 2nd class to 1st class seating, but you update your seating to just change position and such.

You **update** WordPress to get a newer version, regardless to the version differe

[2020-11-17 12:30] knutsp opened #854 "Typo"
I guess "Two mages showcase" mean "Two images showcase".

I'm trasnlating...